<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>CCTV 설정</title>
	<link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/dark/leftList.css">
	<link rel="stylesheet" type="text/css" href="/css/jstree/style.css">
	
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/jquery/jquery-ui.js"></script>
	
	<script src="/js/simplePagination/simplePagination.js"></script>
	
	<script src="/js/leftList.js"></script>
	
	<script src="/js/jstree/jstree.js"></script>
	<script src="/js/jstree/jstree.min.js"></script>
</head>

<body>
<div class="wrap">
	<aside class="aside-slide">
		<p class="aside-fold-btn"><img src="../images/icons/asideBtn_fold.png"></p>
		
		<!-- tab button -->
		<div class="aside-tab-btn">
			<ul>
				<li class="active" value="ptzfSet">프리셋설정</li>
				<li value="circlrSet">순환감시설정</li>
			</ul>
		</div>
		<!-- //tab button -->
		<!-- search form -->
		<div id="listArea" style="display: contents">
			<th:block th:insert="view/set/ptzfSet :: ptzfSet">
			</th:block>
		</div>
		<th:block th:insert="view/common/addressSearch :: addressSearch">
		</th:block>
	</aside>
	<th:block th:insert="view/common/map :: map">
	</th:block>
</div>

<script>
$(document).ready(function(){
	$(".aside-fold-btn").click(function(){
		$(".aside-slide").toggleClass("toggled");
		mapManager.map.updateSize();
	});
	
	$('.aside-tab-btn ul li').click(function(e){
		dialogManager.closeAll();
		$(".aside-tab-btn ul li").removeClass("active");
		$(this).addClass("active");
		
		const pageNm = $(this).attr('value');
		$("#listArea").load("/action/page.do", { path : '/set/'+pageNm }, function() {
	    });
	})

	var contextItems = [
	  	{
	    	text: '지도 메뉴',
	    	classname: 'first-menu'
	  	},
		{
			text: '영상종료',
			classname: 'context_video',
			callback : dialogManager.closeAll
		}
	];
	mapManager.createContextMenu(contextItems);
});
</script>
</body>
</html>