/* 팝업 header */
.window {
    position: absolute;
    background: #fff;
    border: 1px solid;
}
.window-shadow {
	display: none !important;
}

.window-proxy-mask, .window-mask {
    background: #000;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=70);
    opacity: 0.7;
    font-size: 1px;
    overflow: hidden;
}

.panel-title {
	background-color: #6e88df;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	padding: 0 15px;
	text-align: center;
}

.panel-header {
	/* border-bottom: 2px solid #DB8106; */
}

.panel-tool {
    right: 10px;
    width: auto;
}

.panel-icon, .panel-tool {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    height: 16px;
    overflow: hidden;
}

.gis_event_popup {
	margin: 15px 10px 15px 10px;
    border: 1px solid black;
    word-spacing: -2px;
	padding : 2%;	
}

.gis_event_popup .list {
	width: 100%;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}
.gis_event_popup .list .list_title {
	display: flex;
	width: 17%;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
}

.gis_event_popup .list .list_cont {
	width : 31%;
	display : inline-block;
}

.gis_event_popup .list.ful .list_cont {
	width : 82%;
	display : inline-block;
}

.gis_event_popup .list.ful .list_check {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 12px;
    align-items: center;
}

.gis_event_popup .list.harf {
	width: 50%;
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
}

.gis_event_popup .list.harf .list_title {
	width: 32%;
}

.gis_event_popup .list.harf .list_cont {
	width: 64%;
}

.gis_event_popup .list .list_cont input {
	width : 99%
}

.gis_event_popup .list.harf .list_cont input {
	width: 99%;
}

.gis_event_popup .list.ful .list_cont input {
	width: 99.7%;
}

.gis_event_popup .list .list_cont select {
	height: 23px;
	width: 101%;
	padding: 0 0 0 2px;
}
.gis_event_popup .list .list_cont textarea {
    width: 99%;
    height: 100px;
    resize: none;
}

#civil_cmplnt_hndl_area {
	border: 1px solid rgb(128, 128, 128);
	width: 98%;
	position: relative;
	display: inline-block;
	padding: 1%;
}

.event_popup {
    width: 249px;
    font-size: 12px;
    background: white;
	border-radius: 12px;
    border: 2px solid #ccc;
}

.event_popup table {
	width: calc(100% - 10px);
    text-align: left;
    border: 1px solid #ccc;
    line-height: 2.5em;
    margin: 5px;
}

.event_popup div.car_img {
	width: calc(100% - 12px);
	height: 200px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
}

.event_popup div.car_img img {
	width: 100%;
	transition: all .5s;
}

.event_popup div.car_img img:hover {
	cursor: pointer;
}

.event_popup div.car_img img.full {
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: auto;
	z-index: 9999;
}

.event_popup table tr ,.event_popup table td {
	border: 1px solid #ccc;
}

.event_popup table th {
	text-align: center;
}

.event_popup_title {
	background: #6e88df;
    color: #fff;
    padding: 8px;
    text-align: center;
	border-radius: 10px 10px 0 0;
}


#eventTableTd {
	max-width: 159px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
}

.play_btn {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #888;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url('../../../images/icons/play_cctv.png') no-repeat center center / 100%;
}
.play_btn:hover {
    background: url('../../../images/icons/play_cctv_over.png') no-repeat center center / 100%;
}

.close_btn {
	position: absolute;
    top: 12px;
    right: 14px;
    color: #888;
    width: 11px;
    height: 11px;
    cursor: pointer;
    background: url(../../../images/icons/icon_popup_closed.png) no-repeat center center / 100%;
}

.close_btn:hover {
	background: url(../../../images/icons/icon_popup_closed_hover.png) no-repeat center center / 100%;
}

.btn_area {
	margin-top: 20px;
	position: relative;
}
.btn_area .clear_btn {
	position: absolute;
    bottom: 5px;
    right: 50%;
    width: 17px;
    height: 17px;
	background: url(../../../images/icons/clear.png) no-repeat;
    cursor: pointer;
    border: 0;
}

.event_info_popup_btn {
    background: white;
    /* border-color: #444444; */
    position: relative;
    /* top: 0px; */
    /* padding: 5px; */
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.event_info_popup_btn a{
	display: inline-block;
    height: 30px;
    width: 80px;
    background-color: #6e88df;
    color: #fff;
    border-radius: 2px;
    line-height: 31px;
    text-align: center;
    cursor: pointer;
    margin: 5px 1px;
    text-decoration: none;
}

.event_popup_title:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: -10px;
    width: 0px;
    height: 0px;
    border-top: 12px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}
.btn_list {
	margin: 10px 0px 20px 0px;
    text-align: center;
}
