<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="dscp_media">
<meta name="author" content="DANU">
<title>통합플랫폼 메인</title>
<link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
<link rel="stylesheet" type="text/css" href="/css/dark/main.css">
<link rel="stylesheet" type="text/css" href="/css/jquery/jquery-ui.css">
<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="/js/intro.js"></script>
<script src="/js/simplePagination/simplePagination.js"></script>
<script src="/js/jquery/jquery-ui.js"></script>
</head>
<body>
<input type="hidden" id="loginId" th:value="${session.admin.id}"/>
<div class="main-wrap">
	<div class="main-top">
		<header>
			<h2 class="logo" id="introTit"><span th:text="${session.admin.introTit}"></span></h2>
			<ul class="utmenu">
				<li>
					<span class="icon"><img src="../images/intro/utmenu_user.png" alt="사용자"></span>
					<span class="txt"><span th:text="${session.admin.id}"></span> 님 환영합니다.</span>
				</li>
				<!-- <li class="disabled" id="sysSetLink">
					<span class="icon"><img src="../images/intro/utmenu_setting.png" alt="설정"></span>
					<span class="txt">설정</span>
				</li> -->
				<li>
					<form name="logoutForm" id="logoutForm" action="/login/logout" method="GET">
						<input id ="remember-me" name="remember-me" type ="checkbox" checked style="display: none;"/>
						<a href="#" onclick="allLogout();">
							<span class="icon"><img src="../images/intro/utmenu_logout.png" alt="로그아웃"></span>
							<span class="txt">로그아웃</span>
						</a>
					</form>
				</li>
			</ul>
		</header>
		<div class="main-cont">
			<div class="visual">
				<dl class="visual-txt">
					<dt id="introImgTit" >[[${session.admin.loginBgTit}]]</dt>
					<dd id="introImgTitSub">[[${session.admin.loginBgTitSub}]]</dd>
				</dl>
				<div class="visual-slide-area">
					<ul class="visual-cont">
						<!-- <li class="visual-slider fade"><img id="introImg01" src="" style="width:100%"></li>
						<li class="visual-slider fade"><img id="introImg02" src="" style="width:100%"></li>
						<li class="visual-slider fade"><img id="introImg03" src="" style="width:100%"></li> -->
					</ul>
					<div class="slideshow-button" style="text-align:center">
					  <!-- <span class="dot"></span>
					  <span class="dot"></span>
					  <span class="dot"></span> -->
					</div>
				</div>
			</div>
			<div class="gnb">
				<ul class="gnb-default">
					<li class="disabled" id="eventLink">
						<span class="title">관제</span>
						<span>Monitoring</span>
					</li>
					<li class="disabled" id="dahbLink">
						<span class="title">대시보드</span>
						<span>Dashboard</span>
					</li>
				</ul>
				<ul class="gnb-slide">
					<li class="disabled" id="fcltLink">
						<span class="title">시설물 관리</span>
						<span>Facility Management</span>
						<span class="icon"><img src="../images/intro/icon_FacilityManagement.png" alt="시설물 관리"></span>
					</li>
					<li class="disabled" id="cctvSetLink">
						<span class="title">CCTV 설정</span>
						<span>CCTV Setting</span>
						<span class="icon"><img src="../images/intro/icon_CCTVSetting.png" alt="CCTV 설정"></span>
					</li>
					<li class="disabled" id="statsLink">
						<span class="title">통계</span>
						<span>Statistic</span>
						<span class="icon"><img src="../images/intro/icon_Statistic.png" alt="통계"></span>
					</li>
					<li class="disabled" id="circlrLink">
						<span class="title">순환감시</span>
						<span>Circular Monitoring</span>
						<span class="icon"><img src="../images/intro/icon_CircularMonitoring.png" alt="순환감시"></span>
					</li>
					<li class="disabled" id="manageLink"><!--  이건아직 미정 -->
						<span class="title">관리 페이지</span>
						<span>Administration Page</span>
						<span class="icon"><img src="../images/intro/icon_Management.png" alt="민원관리"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-bottom">
		<article class="portlet port-notice">
			<dl class="port-title">
				<dt>공지사항</dt>
				<!-- <dd><img src="../images/intro/icon_more.png" alt="더보기"></dd> -->
			</dl>
			<ul class="port-list" id="portList"></ul>
			<ul id="portListPagination"></ul>
		</article>
		<article class="portlet port-link">
			<dl class="port-title">
				<dt>외부연계시스템</dt>
				<dd id="moreLess"><img src="../images/intro/icon_more.png" class="more" alt="더보기"></dd>
			</dl>
			<ul class="link-list"></ul>
		</article>
	</div>
	<footer>Copyright 2020. DANUSYS All rights reserved.</footer>
</div>

<!-- <div id="noticePopup"></div> -->

<div class="popup" id="noticePopup" style="display: none;">
	<dl class="popup-tit">
		<dt>공지사항</dt>
		<dd onClick="$('#noticePopup').css('display','none');"><img src="/images/icons/icon_closed.png"></dd>
	</dl>
	<div class="popup-cont">
		<h5 id="pNoticeTitle"></h5>
		<ul>
			<li>
				<span class="head">작성자</span>
				<span id="pNoticeWriter"></span>
			</li>
			<li>
				<span class="head">작성일자</span>
				<span id="pNoticeDate"></span>
			</li>
		</ul>
		<p id="pNoticeContent"></p>
	</div>
	<ul class="right-btn">
		<!-- <li class="active">수정</li>
		<li>수정</li> -->
		<li onClick="$('#noticePopup').css('display','none');">닫기</li>
	</ul>
</div>

<script th:inline="javascript">
var slideIndex = 0;
$(function() {
	/* 인트로 디스플레이 설정 */
	var imgFile01 = [[${session.admin.introBg1}]];
	var imgPath01 = "/file/getImage2?sPath=display&imageUrl="+imgFile01;
	if(imgFile01 != "" && imgFile01 != null) {
		$('.visual-cont').append('<li class="visual-slider fade"><img src="'+imgPath01+'" style="width:100%"></li>');
		$('.slideshow-button').append('<span class="dot"></span>');
	}
	var imgFile02 = [[${session.admin.introBg2}]];
	var imgPath02 = "/file/getImage2?sPath=display&imageUrl="+imgFile02;
	if(imgFile02 != "" && imgFile02 != null) {
		$('.visual-cont').append('<li class="visual-slider fade"><img src="'+imgPath02+'" style="width:100%"></li>');
		$('.slideshow-button').append('<span class="dot"></span>');
	}
	var imgFile03 = [[${session.admin.introBg3}]];
	var imgPath03 = "/file/getImage2?sPath=display&imageUrl="+imgFile03;
	if(imgFile03 != "" && imgFile03 != null) {
		$('.visual-cont').append('<li class="visual-slider fade"><img src="'+imgPath03+'" style="width:100%"></li>');
		$('.slideshow-button').append('<span class="dot"></span>');
	}
	
	showSlides();
	
	getMenu("menu");
	getMenu("service");
	getNoticeList();
	
	$("#moreLess").click(function(e){
		$(e.target).toggleClass("expand");
		
		if($(e.target).hasClass("expand")) {
			$(e.target)[0].src = "../images/intro/icon_less.png";
			$(".port-notice").hide();
		}
		else {
			$(e.target)[0].src = "../images/intro/icon_more.png";
			$(".port-notice").show();
		}
		
	});
});
	
	
	
</script>


</body>
</html>