<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_stats">
<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/statisticsTitle.svg"></i>
        <span>통계</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>이벤트 발생 통계</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>스마트분전함 이벤트</span>
    </h4>
    <section class="statistics_content">
        <article class="search_form">
            <h6>스마트분전함 이벤트 발생 통계 검색</h6>
            <form>
                <div>
                    <p>이벤트 종류</p>
                    <dl class="dropdown_checkbox">
                        <dt class="checkbox_title select_title">이벤트 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>행정구역</p>
                    <dl class="dropdown_checkbox">
                        <dt class="checkbox_title select_title">행정구역</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>장소유형</p>
                    <dl class="dropdown_checkbox">
                        <dt class="checkbox_title select_title">장소유형</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                <div>
                    <dl class="checkbox_set">
                        <dt>이벤트 등급</dt>
                        <dd>
                            <span>
								<input type="checkbox" id="urgent" name="">
								<label for="urgent"><span></span>긴급</label>
                            </span>
                            <span>
								<input type="checkbox" id="caution" name="">
								<label for="caution"><span></span>주의</label>
                            </span>
                        </dd>
                    </dl>
                    <dl class="date_set">
                        <dt>발생 기간</dt>
                        <dd><input type="date" class="input_date"></dd>
                        <span>부터</span>
                        <dd><input type="date" class="input_date"></dd>
                        <span>까지</span>
                    </dl>
                    <ul class="button">
                        <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                        <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                    </ul>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>이벤트 발생 수</dt>
                    <dd>
                        <span>시</span>
                        <span>일</span>
                        <span>주</span>
                        <span>월</span>
                    </dd>
                </dl>
                <div class="graph_area"></div>
            </div>
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>평균 이벤트 발생 수</dt>
                    <dd>
                        <span>시</span>
                        <span>일</span>
                        <span>주</span>
                        <span>월</span>
                    </dd>
                </dl>
                <div class="graph_area"></div>
            </div>
        </article>
        <article class="search_list">
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>행정구역 별 이벤트 발생 수</dt>
                    <dd>
                        <span>시</span>
                        <span>일</span>
                        <span>주</span>
                        <span>월</span>
                    </dd>
                </dl>
                <div class="graph_area"></div>
            </div>
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>장소유형 별 이벤트 발생 수</dt>
                    <dd>
                        <span>시</span>
                        <span>일</span>
                        <span>주</span>
                        <span>월</span>
                    </dd>
                </dl>
                <div class="graph_area"></div>
            </div>
        </article>
    </section>
</th:block>
</html>