<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_config">

    <th:block layout:fragment="content">
        <h4>
            <i><img src="/images/default/settingTitle.svg"></i>
            <span>환경설정</span>
            <i><img src="/images/default/settingArrowNext.svg"></i>
            <span>공통 코드 관리</span>
        </h4>
        <section class="setting_content">
            <article class="search_form" id="searchForm">
                <h6>공통 코드 검색</h6>
                <form>
                    <div>
                        <dl class="search_text_set">
                            <dd><input type="text" name="keyword" placeholder="검색어를 입력하세요."></dd>
                            <dd class="button" id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</dd>
                            <dd class="button" id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</dd>
                        </dl>
                    </div>
                </form>
            </article>
            <section class="section_common_code">
                <article class="search_list">
                    <div class="article_title">
                        <dl class="title">
                            <dt>그룹 코드 목록</dt>
                            <dd><span class="count">0</span>건</dd>
                        </dl>
                        <ul>
                            <li><i><img src="/images/default/add.svg"></i>코드 추가</li>
                        </ul>
                    </div>
                    <div class="search_table">
                        <table id="firstCodeTable" data-table-seq="0">
                            <thead>
                                <tr>
                                    <th>그룹 코드</th>
                                    <th>그룹 코드 이름</th>
                                    <th>사용 여부</th>
                                    <th>상세보기</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </article>
                <article class="search_list">
                    <div class="article_title">
                        <dl class="title">
                            <dt>상세 코드 목록</dt>
                            <dd><span class="count">0</span>건</dd>
                        </dl>
                        <ul>
                            <li><i><img src="/images/default/add.svg"></i>코드 추가</li>
                        </ul>
                    </div>
                    <div class="search_table">
                        <table id="secondCodeTable" data-table-seq="1">
                            <thead>
                            <tr>
                                <th>상세 코드</th>
                                <th>상세 코드 이름</th>
                                <th>사용 여부</th>
                                <th>상세보기</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </article>
                <article class="search_list">
                    <div class="article_title">
                        <dl class="title">
                            <dt>세부 코드 목록</dt>
                            <dd><span class="count">0</span>건</dd>
                        </dl>
                        <ul>
                            <li><i><img src="/images/default/add.svg"></i>코드 추가</li>
                        </ul>
                    </div>
                    <div class="search_table">
                        <table id="" data-table-seq="2">
                            <thead>
                            <tr>
                                <th>세부 코드</th>
                                <th>세부 코드 이름</th>
                                <th>사용 여부</th>
                                <th>상세보기</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </article>
            </section>
        </section>
    </th:block>
</html>