<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_config"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/settingTitle.svg"></i>
        <span>환경설정</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>스마트 가로등</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>디밍 설정</span>
    </h4>
    <section class="setting_content">
        <div class="dimming_contents">
            <div class="dimming_column">
                <article class="search_form" id="searchForm">
                    <h6>디밍 검색</h6>
                    <form>
                        <div>
                            <ul class="button">
                                <li class="input"><input type="text" name="keyword" placeholder="검색어를 입력하세요."></li>
                                <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                                <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                            </ul>
                        </div>
                    </form>
                </article>
                <article class="search_list">
                    <div class="article_title">
                        <dl class="title">
                            <dt>디밍 그룹 목록</dt>
                            <dd><span class="count">0</span>건</dd>
                        </dl>
                        <ul>
                            <li id="addDimmingGroupBtn" sec:authorize="hasAnyRole('ROLE_config_rw')"><i><img src="/images/default/add.svg"></i>디밍 그룹 추가</li>
                        </ul>
                    </div>
                    <div class="search_table">
                        <table id="dimmingGroupTable">
                            <thead>
                            <tr>
                                <th>그룹 이름</th>
                                <th>수정</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </article>
            </div>
            <!-- 지도 영역 -->
            <div class="map"></div>
            <!-- //지도 영역 -->
        </div>
        <article class="search_list dimming_set">
            <div class="article_title">
                <dl class="title">
                    <dt>디밍 설정</dt>
                </dl>
                <div>
                    <ul>
                        <li sec:authorize="hasAnyRole('ROLE_config_rw')"><i><img src="/images/default/refresh.svg"></i>기본값으로 되돌리기</li>
                        <li sec:authorize="hasAnyRole('ROLE_config_rw')"><i><img src="/images/default/apply.svg"></i>적용</li>
                    </ul>
                </div>
            </div>
            <div class="setting_dimming">
                <ul>
                    <li>
                        <span>최대 밝기 도달 시간</span>
                        <input name="max_bright_time" id="maxBrightTime" type="text" placeholder="00">초
                    </li>
                    <li>
                        <span>최대 밝기 유지 시간</span>
                        <input name="min_bright_time" id="minBrightTime" type="text" placeholder="00">초
                    </li>
                    <li>
                        <span>최소 밝기 도달 시간</span>
                        <input name="keep_bright_time" id="keepBrightTime" type="text" placeholder="00">초
                    </li>
                </ul>
                <div class="dimming_by_time">
                    <p>시간대별 최대/최소 밝기</p>
                    <table id="dimmingTimeZoneTable">
                        <thead>
                            <tr>
                                <th>시간(시)</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                                <td>24</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>최대</th>
                                <td><input name="time_1_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_2_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_3_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_4_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_5_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_6_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_7_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_8_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_9_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_10_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_11_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_12_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_13_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_14_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_15_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_16_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_17_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_18_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_19_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_20_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_21_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_22_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_23_max" type="text" value="100" placeholder="100"></td>
                                <td><input name="time_24_max" type="text" value="100" placeholder="100"></td>
                            </tr>
                            <tr>
                                <th>최소</th>
                                <td><input name="time_1_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_2_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_3_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_4_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_5_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_6_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_7_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_8_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_9_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_10_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_11_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_12_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_13_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_14_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_15_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_16_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_17_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_18_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_19_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_20_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_21_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_22_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_23_min" type="text" value="50" placeholder="50"></td>
                                <td><input name="time_24_min" type="text" value="50" placeholder="50"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
        <!-- 디밍 그룹 설정 팝업  -->
        <div class="popup" id="dimmingGroupPopup" style="height: 650px;">
            <dl class="title">
                <dt>디밍 그룹 설정</dt>
                <dd><i><img src="/images/default/close.svg"></i></dd>
            </dl>
            <div class="popup_writing popup_dimming_group">
                <!-- 구역 검색 -->
                <div class="list_search">
                    <dl>
                        <dt>디밍 그룹명 입력</dt>
                        <dd><input type="text" id="dimmingGroupName" data-required="true" placeholder="디밍 그룹명 이름"></dd>
                    </dl>
                    <p class="legend">시설물 조회
                        <span><input type="text" placeholder="시설물 검색"></span>
                    </p>
                    <div class="list_table">
                        <table id="lampRoadInGroupTable">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>시설물 이름</th>
                                    <th>선택</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- 지도 영역 -->
                <div class="map_area">
                </div>
            </div>
            <ul class="bottom">
                <li sec:authorize="hasAnyRole('ROLE_config_rw')" data-mod="true" id="delDimmingGroupProcBtn">삭제</li>
                <li sec:authorize="hasAnyRole('ROLE_config_rw')" data-mod="true" id="modDimmingGroupProcBtn">수정</li>
                <li sec:authorize="hasAnyRole('ROLE_config_rw')" class="color" data-add="true" id="addDimmingGroupProcBtn">등록</li>
            </ul>
        </div>
    </section>
</th:block>

</html>