<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_config"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/settingTitle.svg"></i>
        <span>환경설정</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>스마트 가로등</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>디밍 그룹 설정</span>
    </h4>
    <section class="setting_content">
        <article class="search_form" id="searchForm">
            <h6>디밍 그룹 검색</h6>
            <form>
                <div>
                    <ul class="button">
                        <li class="input"><input type="text" name="keyword" placeholder="검색어를 입력하세요."></li>
                        <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                        <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                    </ul>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt>디밍 그룹 목록</dt>
                    <dd><span class="count">123</span>건</dd>
                </dl>
                <ul>
                    <li sec:authorize="hasAnyRole('ROLE_config_rw')"><i><img src="/images/default/add.svg"></i>디밍 그룹 생성</li>
                </ul>
            </div>
            <div class="search_table">
                <table>
                    <thead>
                    <tr>
                        <th>index</th>
                        <th>구역관리ID</th>
                        <th>구역이름</th>
                        <th>주소</th>
                        <th>데이터수집주기</th>
                        <th>등주</th>
                        <th>분전함</th>
                        <th>스마트폴</th>
                        <th>가로등</th>
                        <th>보안등</th>
                        <th>게이트웨이</th>
                        <th>마지막수정일시</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>
    </section>
</th:block>

</html>