<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_config"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block layout:fragment="content">
        <h4>
            <i><img src="/images/default/settingTitle.svg"></i>
            <span>환경설정</span>
            <i><img src="/images/default/arrowNext.svg"></i>
            <span>사이니지 템플릿</span>
        </h4>
        <section class="setting_content">
            <div class="signage_contents">
                <article class="signage_template">
                    <div class="article_title">
                        <dl class="title">
                            <dt>템플릿 목록</dt>
                            <dd><span class="count">0</span></dd>
                        </dl>
                        <ul>
                            <li id="addSignageTemplateBtn" sec:authorize="hasAnyRole('ROLE_config_rw')">추가</li>
                            <li id="modSignageTemplateBtn" style="display: none" sec:authorize="hasAnyRole('ROLE_config_rw')">수정</li>
                        </ul>
                    </div>
                    <div class="template_list" id="templateList">
                    </div>
                </article>
                <th:block th:with="municipality=${@environment.getProperty('municipality.name')}">
                <article th:if="${municipality == '41210000'}" data-municipality="gm" class="signage_layout">
                    <div class="article_title">
                        <dl class="title">
                            <dt>템플릿 레이아웃 설정</dt>
                        </dl>
                        <ul>
                            <li id="cancelSignageLayoutBtn">취소</li>
                            <li id="applySignageLayoutProcBtn">적용</li>
                        </ul>
                    </div>
                    <div class="layout_image_field">

                    </div>
                </article>
                <article th:if="${municipality == '47210000'}" data-municipality="yj" class="signage_layout">
                        <div class="article_title">
                            <dl class="title">
                                <dt>템플릿 레이아웃 설정</dt>
                            </dl>
                            <ul>
                                <li id="cancelSignageLayoutBtn">취소</li>
                                <li id="addSignageLayoutProcBtn">저장</li>
                                <li id="displaySignageBtn">화면표출</li>
                            </ul>
                        </div>
                        <div class="layout_field">
                            <form id='templateLayoutForm'>
                                <ul id="templateArea">
                                </ul>
                            </form>
                        </div>
                </article>
                </th:block>
            </div>
            <div class="popup signage_popup" id="signagePopup" style="display: none;"><!-- active 시, display: flex; -->
                <dl class="title">
                    <dt></dt>
                    <dd><i><img src="/images/default/close.svg"></i></dd>
                </dl>
                <div>
                    <fieldset>
                        <form id="signageTemplateForm">
                            <dl>
                                <dt>템플릿 명<span>템플릿 제목을 입력해주세요.</span></dt>
                                <dd><input type="text" name="templateName" data-required="true" id="templateName"></dd>
                            </dl>
                            <dl>
                                <dt>템플릿 설명<span>템플릿 설명을 입력해주세요.</span></dt>
                                <dd>
                                    <input type="text" name="templateExplain" id="templateExplain">
                                    <input type="hidden" name="templateRowCnt" data-init-value="3" id="templateRowCnt" placeholder="3" readonly>
                                </dd>
                            </dl>
                            <!--<dl>
                                <dt>레이아웃</dt>
                                <dd><input type="hidden" name="templateRowCnt" value="3" id="templateRowCnt" placeholder="3" readonly>칸</dd>
                            </dl>-->
                        </form>
                    </fieldset>
                </div>
                <ul class="bottom">
                    <li id="addSignageTemplateProcBtn" data-add="true" sec:authorize="hasAnyRole('ROLE_config_rw')" class="color">추가</li>
                    <li id="modSignageTemplateProcBtn" data-mod="true" sec:authorize="hasAnyRole('ROLE_config_rw')" class="color">수정</li>
                    <li id="delSignageTemplateProcBtn" data-mod="true" sec:authorize="hasAnyRole('ROLE_config_rw')">삭제</li>
                </ul>
            </div>
            <!--  개소 팝업 -->
            <div class="popup" id="signageStationPopup" style="width: 650px;">
                <dl class="title">
                    <dt>사이니지 개소 선택</dt>
                    <dd><i><img src="/images/default/close.svg"></i></dd>
                </dl>
                <div class="popup_writing">
                    <div class="list_search">
                        <p class="legend">
                            개소 리스트
                        <span>
                            <input id="stationKeyword" type="text" placeholder="개소 이름 검색">
                        </span>
                        </p>
                        <div class="list_table">
                            <table id="signageStationTable">
                                <thead>
                                <tr>
                                    <th>개소명</th>
                                    <th>행정구역</th>
                                    <th>선택</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <ul class="bottom">
                    <li sec:authorize="hasAnyRole('ROLE_inqry_rw')" class="color" data-add="true" id="addStationBtn">등록</li>
                </ul>
            </div>
        </section>
    </th:block>
</html>