<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_config">

    <th:block layout:fragment="content">
        <h4>
            <i><img src="/images/default/settingTitle.svg"></i>
            <span>환경설정</span>
            <i><img src="/images/default/settingArrowNext.svg"></i>
            <span>사용자</span>
            <i><img src="/images/default/settingArrowNext.svg"></i>
            <span>사용자 계정 관리</span>
        </h4>
        <section class="setting_content">
            <article class="search_form" id="searchForm">
                <h6>사용자 계정 검색</h6>
                <form>
                    <div>
                        <dl class="search_text_set">
                            <dd><input type="text" placeholder="검색어를 입력하세요."></dd>
                        </Dl>
                        <dl class="checkbox_set">
                            <dt>계정 상태</dt>
                            <dd>
                                <span>
                                    <input type="checkbox" id="use" name="userStatus" value="0">
                                    <label for="use"><span></span>사용</label>
                                </span>
                                <span>
                                    <input type="checkbox" id="none" name="userStatus" value="1">
                                    <label for="none"><span></span>휴면</label>
                                </span>
                            </dd>
                        </dl>
                        <dl class="search_text_set">
                             <dd class="button" id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</dd>
                            <dd class="button"><i><img src="/images/default/search.svg"></i>검색</dd>
                        </dl>
                    </div>
                </form>
            </article>
            <article class="search_list">
                <div class="article_title">
                    <dl class="title">
                        <dt>사용자 계정 목록</dt>
                        <dd><span class="count">123</span>건</dd>
                    </dl>
                    <ul>
                        <li><i><img src="/images/default/add.svg"></i>사용자 계정 추가</li>
                    </ul>
                </div>
                <div class="search_table">
                    <table id="userAccountTable">
                        <thead>
                        <tr>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>전화번호</th>
                            <th>이메일</th>
                            <th>계정 상태</th>
                            <th>생성일</th>
                            <th>마지막 접속 시간</th>
                            <th>상세보기</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </article>
        </section>
    </th:block>
</html>