<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout_config">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/settingTitle.svg"></i>
        <span>환경설정</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>사용자</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>사용자 그룹 관리</span>
    </h4>
    <section class="setting_content">
        <article class="search_form" id="searchForm">
            <h6>사용자 그룹 검색</h6>
            <form>
                <div>
                    <dl class="search_text_set">
                        <dd><input type="text" placeholder="검색어를 입력하세요."></dd>
                         <dd class="button" id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</dd>
                        <dd class="button" id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</dd>
                    </dl>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt>사용자 그룹 목록</dt>
                    <dd><span class="count">123</span>건</dd>
                </dl>
                <ul>
                    <li><i><img src="/images/default/add.svg"></i>사용자 그룹 추가</li>
                </ul>
            </div>
            <div class="search_table" id="userGroupTable">
                <table id="userAccountTable">
                    <thead>
                    <tr>
                        <th>그룹 아이디</th>
                        <th>그룹 이름</th>
                        <th>소속 계정</th>
                        <th>설명</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>
    </section>
</th:block>
</html>