<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="ptzfSet">
<script type="text/javascript" src="/js/set/ptzfSet.js"></script>

<div class="aside-srch-form">
	<ul>
		<li>
			<div id="spaceSelect" style="width:calc(25% - 21px);margin-right:46px;float:left;"></div>
			<div id="useSelect" style="width:29%;margin-right:10px;float:left;"></div>
			<select id="agSelect" style="width:23%;">
				<option value="1">회전형</option>
				<option value="0">고정형</option>
			</select>
		</li>
		<li>
			<input type="checkbox" id="mapFlag"><label for="mapFlag"></label>지도 내 검색
		</li>
		<li class="search-btn" onClick="javascript:selectCctvFclt()">조회</li>
	</ul>
</div>
<!-- //search form -->
<!-- search list -->
<div class="aside-srch-list">
	<dl class="srch-list-tit">
		<dt>
			<span class="title">목록</span>
			<span class="count" id="listCount"></span>
		</dt>
	</dl>
	<article class="srch-list" id="ptzCctvList"></article>
	<ul id="ptzCctvListPagination"></ul>
</div>
<script th:inline="javascript">
$(document).ready(function(){
	areaCode = [];
	useCode = [];

	selectCctvFclt();

	comboArea('spaceSelect');
	comboFcltUse('useSelect',[[ ${session.admin.id} ]],'FCLT_PURPOSE');

	mapManager.setMapEventListener('pointermove', ptzfSetMapPointermoveListener);
});


</script>
</th:block>
</body>
</html>