<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SMART-CITY 통합플랫폼</title>
    <link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/dark/main.css">

    <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<script th:inline="javascript">
	$(document).ready(function() {
	    window.location.href="/login/loginPage";
	});
</script>
<body>
</body>
</html>