<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">이벤트 관리</h4>
<div class="content-half">
	<div class="admin-title-sub"><h3 class="tit">이벤트 코드 리스트</h3></div>
	<ul class="list-condi">
		<li class="list">
			<em>검색조건 : </em>
			<select id="searchEvtGbn" style="width:250px;">
				<option value="">전체</option>
				<option value="1">이벤트아이디</option>
				<option value="2">이벤트이름</option>
				<option value="3">담당자</option>
			</select>
			<input type="text" id="searchText" style="width:200px;" onkeypress="if(event.keyCode==13){reload();}"/>
			<a href="#" class="select-btn" onclick="reload()">검색</a>
		</li>
	</ul>
	<table id="oprtEventInfoBaseTable" title="" style="width:98.5%;height:85%;"></table>
	
	<ul class="right-btn">
		<li class="btn-insert" onClick="addEventBase();">추가</li>
		<li class="btn-modify" onClick="modifyEventBase();">수정</li>
		<li class="btn-delete" onClick="deleteEventBase();">삭제</li>
	</ul>
</div>
<div class="content-half">
	<div class="admin-title-sub"><h3 class="tit">이벤트 세부항목 리스트</h3></div>
	<ul class="list-condi">
	</ul>
	<table id="oprtEventInfoItemTable" title="" style="width:98.5%;height:85%;"></table>

	<ul class="right-btn">
		<li class="btn-insert" onClick="addEventItem()">추가</li>
		<li class="btn-modify" onClick="modifyEventItem()">수정</li>
		<li class="btn-delete" onClick="deleteEventItem()">삭제</li>
	</ul>
</div>


<script th:inline="javascript">
var selectedData = [];
$(document).ready(function(){
	reload();
});

var baseIndex = 0;
function reload() {
	const jsonObj = {};

	jsonObj.evtGbn = $('#searchEvtGbn').val();
	jsonObj.searchText = $('#searchText').val();
	jsonObj.userId = '${admin.id}';

	$('#oprtEventInfoBaseTable').datagrid({
	    url:'/selectList/oprt.getEventCodeList/action.do',
	    pagination:true,
	    pageSize:20,
	    queryParams : {
			pageSize: 20,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
				{field: 'rnum', title: '번호', width:'5%', align:'center'},
				{field: 'evtId', title: '이벤트 아이디', width:'30%', align:'center'},
				{field: 'evtNm', title: '이벤트명', width:'20%', align:'center'},
				{field: 'evtMngrUser', title: '담당자', width:'10%', align:'center'},
				{field: 'useTyNm', title: '사용여부', width:'10%', align:'center'},
				{field: 'updDate', title: '수정일자', width:'20%', align:'center'},
				{field: 'userId', title: '아이디', hidden: true},
				{field: 'userNm', title: '이름', hidden: true}
	    ],
	    onClickRow:function(index, row) {
	    	getCodeGbnList(index);
	    	baseIndex = index;
	    },
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    	else{
	    		getCodeGbnList(baseIndex);
	    	}
		    if(data && data.total > 0) {console.log(">>>> data : ",data)}
	    }
	});

}

function openDetailPopup(index, row){
	selectedData = row;

	const path = "oprt/popup/oprtEventInfoBasePopup";
	console.log(path);
	common.openDialogPopPosition("oprtEventInfoBasePopup", "이벤트기본정보 신규 등록", "410", "400", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}

function modifyEventBase() {
	var row = $('#oprtEventInfoBaseTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}

	const jsonObj = {};
	jsonObj.evtId = row.evtId;
    $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.getEventCodeList/action.do",
            dataType   : "json",
            data       : {
                "param" : JSON.stringify(jsonObj)
            },
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
        	selectedData = rows[0];


        	const path = "oprt/popup/oprtEventInfoBasePopup";
        	console.log(path);
        	common.openDialogPopPosition("oprtEventInfoBasePopup", "이벤트기본정보 수정", "410", "400", "true", "/action/page.do", {path: path}, path.split("/")[2]);

    }).fail(function (xhr) {

    }).always(function() {

    });
}

function addEventBase() {
	const path = "oprt/popup/oprtEventInfoBasePopup";
	console.log(path);
	common.openDialogPopPosition("oprtEventInfoBasePopup", "이벤트기본정보 신규 등록", "410", "400", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}

function deleteEventBase() {
	var chkRows = $('#oprtEventInfoBaseTable').datagrid('getSelected');
	if(chkRows != null) {
		if(confirm("삭제하시겠습니까?")) {

			const jsonArray1 = [];
        	const jsonArray2 = [];
        	const jsonArray3 = [];
        	const jsonArray4 = [];

			const jsonObj = {};
			jsonObj.rowStatus = "D";
			jsonObj.evtId = chkRows.evtId;

			jsonArray1[0] = jsonObj;
            jsonArray2[0] = jsonObj;
            jsonArray3[0] = jsonObj;

		    $.ajax({
		            type       : "POST",
		            url        : "/multiTransaction/oprt.deleteEventCodeList/oprt.deleteEventMngrUser/oprt.deleteEventGroupDetailForEvtId/{sqlid4}/action.do",
		            dataType   : "json",
		            data : {
		            	"param1" : JSON.stringify(jsonArray1),
    	                "param2" : JSON.stringify(jsonArray2),
    	                "param3" : JSON.stringify(jsonArray3),
    	                "param4" : JSON.stringify(jsonArray4)
		            },
		            async      : false,
		            beforeSend : function(xhr) {
		                // 전송 전 Code
		            }
		        }).done(function (result) {
		        if (result == "SUCCESS") {
		            alert("삭제 완료");
		            reload();
		        }
		        else {
		            alert("삭제 실패");
		        }
		    }).fail(function (xhr) {
		        alert("삭제 실패");
		    }).always(function() {

		    });
		}
	}
	else {
		alert('선택 된 정보가 없습니다.');
		return;
	}
}



function modifyEventItem() {
	var row = $('#oprtEventInfoItemTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}

	const jsonObj = {};
	jsonObj.chkEvtId = row.evtId;
	jsonObj.chkEvtItemId = row.evtItemId;

    $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.getEventItemList/action.do",
            dataType   : "json",
            data       : {
                "param" : JSON.stringify(jsonObj)
            },
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
        	selectedData = rows[0];
        	const path = "oprt/popup/oprtEventInfoItemPopup";
        	console.log(path);
        	common.openDialogPopPosition("oprtEventInfoItemPopup", "이벤트세부항목 수정", "410", "300", "true", "/action/page.do", {path: path}, path.split("/")[2]);
    }).fail(function (xhr) {

    }).always(function() {

    });
}

function addEventItem() {
    var row = $('#oprtEventInfoBaseTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}
	selectedEvent = row;
	const path = "oprt/popup/oprtEventInfoItemPopup";
	console.log(path);
	common.openDialogPopPosition("oprtEventInfoItemPopup", "이벤트세부항목 신규 등록", "410", "300", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}

function deleteEventItem() {
	var chkRows = $('#oprtEventInfoItemTable').datagrid('getSelected');;

	if(chkRows != null) {
		if(confirm("삭제하시겠습니까?")) {

			const jsonArray1 = [];
        	const jsonArray2 = [];
        	const jsonArray3 = [];
        	const jsonArray4 = [];

			const jsonObj = {};
			jsonObj.rowStatus = "D";
			jsonObj.evtId = chkRows.evtId;
			jsonObj.evtItemId = chkRows.evtItemId;

			jsonArray1[0] = jsonObj;
            jsonArray2[0] = jsonObj;

		    $.ajax({
		            type       : "POST",
		            url        : "/multiTransaction/oprt.deleteEventItemInfo/oprt.deleteEventItem/{sqlid3}/{sqlid4}/action.do",
		            dataType   : "json",
		            data : {
		            	"param1" : JSON.stringify(jsonArray1),
    	                "param2" : JSON.stringify(jsonArray2),
    	                "param3" : JSON.stringify(jsonArray3),
    	                "param4" : JSON.stringify(jsonArray4)
		            },
		            async      : false,
		            beforeSend : function(xhr) {
		                // 전송 전 Code
		            }
		        }).done(function (result) {
		        if (result == "SUCCESS") {
		            $('#oprtEventInfoItemTable').datagrid('reload');
		            alert("삭제 완료");
		        }
		        else {
		            alert("삭제 실패");
		        }
		    }).fail(function (xhr) {
		        alert("삭제 실패");
		    }).always(function() {

		    });
		}
	}
	else {
		alert('선택 된 정보가 없습니다.');
		return;
	}
}




function getCodeGbnList(index) {
	if($('#oprtEventInfoBaseTable').datagrid('getSelected') == null) {
		$('#oprtEventInfoBaseTable').datagrid('selectRow', index);
	}
	var selectRow = $('#oprtEventInfoBaseTable').datagrid('getSelected');

	const jsonObj = {};

	jsonObj.chkEvtItemCd = selectRow.evtId;
	jsonObj.searchEvtGbn = $('#searchEvtGbn').val();
	jsonObj.searchText = $('#searchText').val();

	$('#oprtEventInfoItemTable').datagrid({
	    url:'/selectList/oprt.getEventItemList/action.do',
	    pagination:true,
	    pageSize:18,
	    queryParams : {
			pageSize: 18,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
			{field: 'rnum', title: '번호', width:'5%', align:'center'},
			{field: 'evtId', title: '이벤트 아이디', width:'20%', align:'center'},
			{field: 'evtNm', title: '이벤트명', width:'20%', align:'center'},
			{field: 'evtItemId', title: '이벤트 세부항목 아이디', width:'20%', align:'center'},
			{field: 'evtItemNm', title: '이벤트 세부항목명', width:'25%', align:'center'},
			{field: 'useTyNm', title: '사용여부', width:'10%', align:'center'}
	    ],
	    onDblClickRow:function(index, row) {
	    	openDetailItemPopup(index, row);
	    },
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    }
	});
}

function openDetailItemPopup(index, row){
		if(row != null) {
			selectedData = row;
			const path = "oprt/popup/oprtEventInfoItemPopup";
	    	console.log(path);
	    	common.openDialogPopPosition("oprtEventInfoItemPopup", "이벤트기본정보 신규 등록", "410", "300", "true", "/action/page.do", {path: path}, path.split("/")[2]);
		}else{
			alert('선택 된 정보가 없습니다.');
			return;
		}
}
</script>
