/* easyUi - datagrid custom */
.datagrid-view {
    position: relative;
    background: #fbfbfb;
}
.datagrid-view1, .datagrid-view2 {
    position: absolute;
    background: #000;
}
.datagrid-view2 {
    right: 0;
}
.datagrid-header {
    overflow: hidden;
    cursor: default;
    border-width: 0 0 0 0;
    border-style: solid;
}
.datagrid-header-inner {
    float: left;
    width: 100%;
    background: #313437;
}
.datagrid-htable {
	width: calc(100% - 17px) !important;
}
.datagrid-htable, .datagrid-btable, .datagrid-ftable, .datagrid-body table {
    width: 100%;
    background: #000;
    color: #cecece;
    font-size: 13px;
}
.datagrid-header-row, .datagrid-row {
    height: 35px;
    /* border-color: #e2e8ed !important; */
    transition: all 0.3s;
    border-bottom: 1px solid #313437;
}
.datagrid-row-over {
	background: #363738;
}
.datagrid-row-selected {
	background:#6f7aa0 !important;
}
.datagrid-header td {
	background: #313437;
	color: #fff;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    margin: 0;
    padding: 0;
    /* border: solid #404040 !important;
    border-width: 1px 1px 1px 1px !important; */
}
.datagrid-header-check, .datagrid-cell-check {
    padding: 0;
    width: 27px;
    height: 18px;
    font-size: 1px;
    text-align: center;
    overflow: hidden;
}
.datagrid-header-check input, .datagrid-cell-check input {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 18px;
}
.datagrid-header .datagrid-cell {
    height: auto;
}
.datagrid-header .datagrid-cell span {
    font-size: 15px;
    /* font-weight: bold; */
}
.datagrid-body {
    overflow: scroll;
    zoom: 1;
    font-size: 12px;
}
.datagrid-footer {
    overflow: hidden;
}
.datagrid .datagrid-pager {
    display: block;
    height: 54px;
    margin: 0;
    padding: 7px 7px 7px 7px;
    border-top: 0px;
    /* line-height: 60px; */
    text-align: center;
}
.datagrid .datagrid-pager * {
    vertical-align: middle;
    word-break: normal;
}

.pagination table {
    float: left;
    height: 30px;
    width: 94%;
}
.pagination td {
    border: 0;
}
.datagrid-pager .l-btn-small {
    /* margin: 0 5px; */
	color: #000;
	border-radius: 16px;
	padding: 7px 0px;
	color: #fff;
}
.datagrid-pager .l-btn-small.l-btn-plain-selected {
    background-color: #3f87f5;
	color: #fff;
}
.datagrid-pager .l-btn-small:hover:not(.l-btn-plain-selected) {
	color: #6b87c5;
}
.l-btn-plain-disabled, .l-btn-plain-disabled:hover {
    background: none !important;
    filter: alpha(opacity=50);
}
.l-btn-disabled, .l-btn-disabled:hover {
    opacity: 0.5;
    cursor: default;
    color: #444;
}
.pagination span {
    font-size: 12px;
    width: 32px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.pagination-prev {
    height: 28px;
    background: url(../../images/icons/pagination_prev.png) center no-repeat;
}
.pagination-next {
    height: 28px;
    background: url(../../images/icons/pagination_next.png) center no-repeat;
}
.datagrid .datagrid-pager .l-btn-text {
    height: 16px;
}
.datagrid .datagrid-pager .pagination-first, .datagrid .datagrid-pager .pagination-prev, .datagrid .datagrid-pager .pagination-next, .datagrid .datagrid-pager .pagination-last {
    left: 0;
    top: -8px;
}
.pagination-info {
    float: right;
    line-height: 42px;
    font-size: 12px;
    color: #fff;
}

.datagrid-body table tr:even {
	background: #eee;
}

.tabs a {
	color: #000;
}
.tabs-header {
	border-width:1px;
	border-style:solid;
	border-bottom-width:0;
	position:relative;
	padding:0;
	padding-top:0;
	overflow:hidden;
}
.tabs-panels {
	margin:0px;
	padding:0px;
	border-width:1px;
	border-style:solid;
	border-top-width:0;
	overflow:hidden;
}

.datagrid-td-merged {
	/* background: #fbfbfb !important; */
}