<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:fragme`nt="pageLink">
        <link rel="stylesheet" href="/css/map/ol.css" >
        <link rel="stylesheet" href="/css/map/ol-contextmenu.css">
        <link rel="stylesheet" href="/css/video/connectDialog.css">
        <link rel="stylesheet" href="/css/video/video.css">
        <link rel="stylesheet" href="/css/log.css">
    </th:block>

    <th:block th:fragment="defaultMap">
        <div id="map">
            <div class="mapButton">
                <ul class="tabButton">
                    <li class="on">지도</li>
                    <li>스카이뷰</li>
                </ul>
                <ul>
                    <li><i><img src="/images/default/mapButtonRoadview.svg"></i>로드뷰</li>
                </ul>
                <ul>
                    <li><i><img src="/images/default/mapButtonPlus.svg"></i>확대</li>
                    <li><i><img src="/images/default/mapButtonMinus.svg"></i>축소</li>
                </ul>
                <ul>
                    <li><i><img src="/images/default/mapButtonDistance.svg"></i>거리재기</li>
                    <li><i><img src="/images/default/mapButtonSquare.svg"></i>면적재기</li>
                    <li><i><img src="/images/default/mapButtonRadius.svg"></i>반경재기</li>
                    <li><i><img src="/images/default/mapButtonEraser.svg"></i>지우기</li>
                    <li><i><img src="/images/default/mapButtonAlign.svg"></i>정렬</li>
                    <li><i><img src="/images/default/mapButtonLayer.svg"></i>레이어</li>
                </ul>
            </div>
        </div>
    </th:block>

    <th:block th:fragments="pagesScript">
        <!-- openlayers3 lib -->
        <script type="text/javascript" src="/webjars/proj4js/2.2.1/proj4.js"></script>
        <script type="text/javascript" src="/webjars/openlayers/6.9.0/ol.js"></script>
        <script type="text/javascript" src="/webjars/moment/2.29.1/moment.js"></script>

        <!-- kakao api -->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps-tunneling/sdk.js?appkey=8a0ebda8876bb68f663ceb77b22a5a51&libraries=services,clusterer"></script>

        <!-- local -->
        <script type="text/javascript" src="/js/map/map_init.js"></script>
        <script type="text/javascript" src="/js/map/map_init.js"></script>
        <script type="text/javascript" src="/js/map/map.js"></script>
    </th:block>
</html>