<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area">
	<div id="" class="cont_inner" title="">
		<ul class="popup-list-area">
			<li class="list">
				<div class="popup-list-title">
					<em>그룹 아이디</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserEventGrpId" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>그룹 명</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserEventGrpNm" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>그룹 설명</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserEventGrpContent" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>사용여부</em>
				</div>
				<div class="popup-list-cont">
					<select class="easyui-combobox" id="popupUserEventGrpUserTy">
						<option value="Y">사용</option>
						<option value="N">미사용</option>
					</select>
				</div>
			</li>
			<li class="list2">
				<div class="popup-list-title2">
					<em>그룹 이벤트 추가</em>
				</div>
				<div class="popup-list-cont2">
					<div class="left-area">
						<table id="oprtUserEventListTable" title="" style="width:100%;height:300px;float:left;"></table>
					</div>
					<div class="middle-area" style="height: 300px;">
						<a id="popup_event_add_btn" class="double-btn" onclick="addEventGroupDetail()">추가</a>
						<a id="popup_event_remove_btn" class="double-btn" onclick="removeEventGroupDetail()">삭제</a>
					</div>
					<div class="right-area">
						<table id="oprtUsertEventGroupTable" title="" style="width:100%;height:300px;float:left;"></table>
					</div>
				</div>
			</li>
		</ul>
		<ul class="center-btn">
			<li class="btn-cancle" onClick="closePopup();">취소</li>
			<li class="btn-insert" onClick="saveEventGroup();">저장</li>
		</ul>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function(){
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		setEventDetailData(selectedData);
	}
	getEventList();
	getEventGroupDetailList();
});

function addEventGroupDetail() {
	var chkRows = $('#oprtUserEventListTable').datagrid('getChecked');
	var chkRows2 = $('#oprtUsertEventGroupTable').datagrid('getRows');
	if (chkRows.length > 0) {
		for (var i in chkRows) {
			var flag = true;
			for (var j in chkRows2) {
				if (chkRows[i].evtId == chkRows2[j].evtId) {
					flag = false;
					break;
				}
			}
			if (flag) {
				$('#oprtUsertEventGroupTable').datagrid('appendRow', chkRows[i]);
			}
		}
	}
}

function removeEventGroupDetail() {
	var chkRows = $('#oprtUsertEventGroupTable').datagrid('getChecked');
	if (chkRows.length > 0) {
		for (var i in chkRows) {
			var index = $('#oprtUsertEventGroupTable').datagrid('getRowIndex', chkRows[i]);
			$('#oprtUsertEventGroupTable').datagrid('deleteRow', index);
		}
		$('#oprtUsertEventGroupTable').datagrid('uncheckAll');
	}
}

function checkAddCheck() {
	var chkRows = $('#oprtUserEventListTable').datagrid('getChecked');
	if (chkRows.length <= 0 ) {
		$('#popup_event_add_btn').attr('disabled', true);
	} else {
		$('#popup_event_add_btn').attr('disabled', false);
	}
}

function checkRemoveCheck() {
	var chkRows = $('#oprtUsertEventGroupTable').datagrid('getChecked');
	if (chkRows.length <= 0 ) {
		$('#popup_event_remove_btn').attr('disabled', true);
	} else {
		$('#popup_event_remove_btn').attr('disabled', false);
	}
}

function getEventList() {
	const jsonObj = {};
	jsonObj.groupId = $('#popupUserEventGrpId').val();
	
	$('#oprtUserEventListTable').datagrid({
	    url:'/select/oprt.getEventCodeList/action.do',
	    pagination:false,
	    /* pageSize:20, */
	    queryParams : {
			/* pageSize: 20, */
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
			{field: 'check', checkbox: true, width:'5%', align:'center'},
			{field: 'evtId', title: '이벤트아이디', width:'40%', align:'center'},
			{field: 'evtNm', title: '이벤트명', width:'40%', align:'center'}
	    ],
	    onLoadSuccess:function(result){
			const rows = result.rows;
	    	if(rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
		    if(rows && rows.total > 0) {console.log(">>>> search_eventM data : ",rows)}
	    }
	    
	});
}

function getEventGroupDetailList() {
	const jsonObj = {};
	jsonObj.groupId = $('#popupUserEventGrpId').val();
	
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		$('#oprtUsertEventGroupTable').datagrid({
		    url:'/select/oprt.selectEventGroupDetailList/action.do',
		    queryParams : {
				param : JSON.stringify(jsonObj),
		    },
		    columns:[
				{field: 'check', checkbox: true, width:'5%', align:'center'},
				{field: 'evtId', title: '이벤트아이디', width:'40%', align:'center'},
				{field: 'evtNm', title: '이벤트명', width:'40%', align:'center'}
		    ],
		    onLoadSuccess:function(result){
				const rows = result.rows;
		    	if(rows=='sessionOut'){
					alert('로그인 시간이 만료되었습니다.');
					closeWindow();
				}
			    if(rows && rows.length > 0) {console.log(">>>> search_eventM data : ",rows)}
		    }
		    
		});
	} else {
		$('#oprtUsertEventGroupTable').datagrid({
		    pageList:[],
		    columns:[
				{field: 'check', checkbox: true, width:'5%', align:'center'},
				{field: 'evtId', title: '이벤트아이디', width:'40%', align:'center'},
				{field: 'evtNm', title: '이벤트명', width:'40%', align:'center'}
		    ]
		});
	}
	$('#oprtUsertEventGroupTable').datagrid('resize');
}

function setEventDetailData(data) {
	var row = data[0];
	
	$('#popupUserEventGrpId').attr('disabled', true);

	$('#popupUserEventGrpId').val(row.groupId);
	$('#popupUserEventGrpNm').val(row.groupName);
	$('#popupUserEventGrpContent').val(row.content);
	$('#popupUserEventGrpUserTy').val(row.useYn);
}

function clearPopup() {
	$('#popupUserEventGrpId').val('');
	$('#popupUserEventGrpNm').val('');
	$('#popupUserEventGrpContent').val('');
	$('#popupUserEventGrpUserTy').val('Y');
}

function closePopup() {
	clearPopup();
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		selectedData='';
	}
	common.closeDialogPop("oprtUserEventGrpPopup");
}

function deleteEventGroupDetail() {
	var deleteRowId = [];
	deleteRowId.push($('#popupUserEventGrpId').val());
	
	const jsonObj = {};
	jsonObj.singleDeleteSid = "oprt.deleteEventGroupDetail";
	jsonObj.deleteRowId = deleteRowId;
	
    $.ajax({
            type       : "POST",
            url        : "/multiAjax/action.do",
            dataType   : "json",
            data : {"param" : JSON.stringify(jsonObj)},
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (data) {
        	saveEventGroupDetail();
    }).fail(function (xhr) {
        alert("등록 실패");
    }).always(function() {

    });
}

function saveEventGroupDetail() {
	var rows = $('#oprtUsertEventGroupTable').datagrid('getRows');
	console.log(rows.length);
	if(rows.length > 0) {
		var insertRows = [];
		for(var i=0; i<rows.length; i++) {
			insertRows.push({'evtId' : rows[i].evtId, 'groupId': $('#popupUserEventGrpId').val()});
		}

		const jsonObj = {};
		jsonObj.singleInsertSid = "oprt.saveEventGroupDetail";
		jsonObj.insertRows = insertRows;
		
	    $.ajax({
	            type       : "POST",
	            url        : "/multiAjax/action.do",
	            dataType   : "json",
	            data : {"param" : JSON.stringify(jsonObj)},
	            async      : false,
	            beforeSend : function(xhr) {
	                // 전송 전 Code
	            }
	        }).done(function (result) {
	        if (result == "SUCCESS") {
				alert("저장 완료");
				closePopup();
				$('#oprtUserEventGrpTable').datagrid('reload');
	        }
	    }).fail(function (xhr) {
	        alert("등록 실패");
	    }).always(function() {

	    });
	} else {
		$('#oprtUserEventGrpTable').datagrid('reload');
		alert("저장 완료");
	}
}

function saveEventGroup() {
	var groupId = $('#popupUserEventGrpId').val();
	var groupName = $('#popupUserEventGrpNm').val();
	var content = $('#popupUserEventGrpContent').val();
	
	var deleteRowId = [];
	deleteRowId.push($('#popupUserEventGrpId').val());
	
	var rows = $('#oprtUsertEventGroupTable').datagrid('getRows');
	console.log(rows.length);
	if(rows.length > 0) {
		var insertRows = [];
		for(var i=0; i<rows.length; i++) {
			insertRows.push({'evtId' : rows[i].evtId, 'groupId': $('#popupUserEventGrpId').val()});
		}
	}
	
	var groupIdCheck =(function(){
        const jsonObj = {};
        let rtnVal;
        jsonObj.groupId= groupId;
        $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.checkEvtGrpId/action.do",
            dataType   : "json",
            data       : {"param" : JSON.stringify(jsonObj)},
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
            rtnVal = rows[0].idKey;
        }).fail(function (xhr) {

        }).always(function() {

        });
        return rtnVal;
    })();
	
	if(!checkNull(groupId, "이벤트그룹 아이디를 입력해주십시오.")){
		return false;
	}
	
	if(!checkNull(groupName, "이벤트그룹 명을 입력해주십시오.")){
		return false;
	}
	
	if(!checkNull(content, "이벤트그룹 설명을 입력해주십시오.")){
		return false;
	}
	
	if(groupIdCheck > 0){
		alert('이벤트그룹아이디가 존재합니다.');
		return false;
	}
	
	
	const jsonObj = {};
	const jsonObj2 = {};
	const jsonObj3 = {};
	
	const jsonArray1 = [];
	const jsonArray2 = [];
	const jsonArray3 = [];
	const jsonArray4 = [];
	
	jsonObj.rowStatus = 'C';
	jsonObj.groupId = groupId;
	jsonObj.groupName = groupName;
	jsonObj.content = content;
	jsonObj.useYn = $('#popupUserEventGrpUserTy').val();
	
	jsonObj2.rowStatus = 'D';
	jsonObj2.groupId = groupId;
	jsonObj2.deleteRowId = deleteRowId; 
	
	
	jsonObj3.rowStatus = 'C';
	jsonObj3.insertRows = insertRows;
	
    jsonArray1[0] = jsonObj;
    jsonArray2[0] = jsonObj2;
    jsonArray3[0] = jsonObj3;
	
	$.ajax({
		type       : "POST",
		url        : "/multiTransaction/oprt.saveEventGroup/oprt.deleteEventGroupDetail/oprt.saveEventGroupDetail/{sqlid4}/action.do",
		dataType   : "json",
		data : {
			"param1" : JSON.stringify(jsonArray1),
			"param2" : JSON.stringify(jsonArray2),
			"param3" : JSON.stringify(jsonArray3),
			"param4" : JSON.stringify(jsonArray4)
		},
		async      : false,
		beforeSend : function(xhr) {
			// 전송 전 Code
		}
	}).done(function (result) {
		if (result == "SUCCESS") {
			alert("저장 성공");
			closePopup();
			$('#oprtUserEventGrpTable').datagrid('reload');
		}
		else {
			alert("저장 실패");
		}
	}).fail(function (xhr) {
		alert("저장 실패");
	}).always(function() {
		
	});
}
</script>