<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area">
	<div id="board_list" class="notice-cont" title="">
		<ul>
			<li>
				<em>구분</em>
				<select id="notice_gbn">
					<option value="notice">공지사항</option>
					<!-- <option value="manual">매뉴얼</option> -->
				</select>
				<em>제목</em>
				<input type="text" id="noticeTitle" class="easyui-textbox" style="width: 75%;"/>
			</li>
			<li class="ck-area">
				<div class="notice-tit">
					<em>내용</em>
				</div>
				<div>
					<textarea name="editor1" id="notice_cont" id="editor1" rows="10" cols="80">
					</textarea>
				</div>
			</li>
			<li>
				<form id="manualUploadForm" class="upload_form" enctype="multipart/form-data" method="post">
					<div class="filebox">
						<input class="upload-name" id="manualFileUrl" placeholder="파일을 선택해 주세요." disabled="disabled">
						<label for="manualFile">찾아보기</label>
						<input type="file" name="manualFile" id="manualFile" class="upload-hidden" onchange="setManualFile();" style="width:100%">
					</div>
				</form>
			</li>
			</ul>
			<ul class="center-btn">
				<li class="btn-cancle" onClick="closePopup();">취소</li>
				<li class="btn-insert" onClick="saveNotice();">저장</li>
			</ul>
	</div>
</div>
<script th:inline="javascript">
CKEDITOR.replace('editor1');
$(document).ready(function(){
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		setNoticeDetailData(selectedData);
	}
});

function setNoticeDetailData(data) {
	
	var row = data[0];
	
	$('#noticeTitle').attr('disabled', true);
	$('#notice_cont').attr('disabled', true);
	$('#notice_gbn').attr('disabled', true);
	$('.filebox').addClass('disabledbutton');
	
	$('#noticeTitle').val(row.title);
	$('#notice_cont').val(row.content);
	$('#notice_gbn').val(row.noticeGbn);
	$('#manualFileUrl').val(row.fileName);
}

function closePopup() {
	selectedData='';
	common.closeDialogPop("oprtNoticeWritePopup");
}

function saveNotice() {
	var url = "/ajax/insert/oprt.insertNotice/action.do";
	
	jsonObj = {};
	
	jsonObj.title = $("#noticeTitle").val();
	jsonObj.content = CKEDITOR.instances.notice_cont.getData();
	jsonObj.adminId = "${admin.id}";
	jsonObj.adminName = "${admin.name}";
	jsonObj.fileName = $('#manualFileUrl').val();
	jsonObj.noticeGbn = $('#notice_gbn').val();
	
	if($('#notice_gbn').val() == 'manual' && $('#manualFileUrl').val() == "") {
		alert('매뉴얼 파일이 없습니다.');
		return;
	} 
	
	$.ajax({
		type : "POST"
		, url : url
		, dataType : "json"
		, data : {"param" : JSON.stringify(jsonObj)}
		, success:function(data)
		{
			alert("작성이 완료 되었습니다.");
			common.closeDialogPop("oprtNoticeWritePopup");
			reload();
		}
		, error:function(e){
			alert(e.responseText);
		}
	});
	
	
	/* const jsonArray1 = [];
	const jsonArray2 = [];
	const jsonArray3 = [];
	const jsonArray4 = [];

	const jsonObj1 = {};
	jsonObj1.rowStatus = 'C';
	
	const jsonObj2 = {};
	jsonObj2.rowStatus = 'U';
	
	jsonObj1.title = $("#board_title").val();
	jsonObj1.content = CKEDITOR.instances.notice_cont.getData();
	jsonObj1.adminId = "${admin.id}";
	jsonObj1.adminName = "${admin.name}";
	
	
	
	jsonArray1[0] = jsonObj1;
    jsonArray2[0] = jsonObj2;
    
    $.ajax({
            type       : "POST",
            url        : "/multiTransaction/oprt.insertNotice/oprt.deleteDetailsGroupCode/sqlid3/sqlid4/action.do",
            dataType   : "json",
            data : {
            	"param1" : JSON.stringify(jsonArray1),
                "param2" : JSON.stringify(jsonArray2),
                "param3" : JSON.stringify(jsonArray3),
                "param4" : JSON.stringify(jsonArray4)
			},
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
        if (result == "SUCCESS") {
            $('#oprtSysCodeGrpTable').datagrid('reload');
            alert("삭제 완료");
        }
        else {
            alert("삭제 실패");
        }
    }).fail(function (xhr) {
        alert("삭제 실패");
    }).always(function() {

    }); */
}

function setManualFile() {
	if($('#manualFile')[0].files.length == 0) return;

	var oFile = document.getElementById('manualFile').files[0];
    /* var rFilter = /^(image\/bmp|image\/gif|image\/jpeg|image\/png|image\/tiff)$/i;
    
    if (! rFilter.test(oFile.type)) {
        alert('이미지 파일이 아닙니다.');
        return;
    } */
    
    const file = document.getElementById('manualFile').files[0];
    var filePath = common.fileUpload(file, 'manual');
    
    if(filePath == "") {
    	alert('파일을 다시 선택 해 주세요');
    }
    else {
    	$('#manualFileUrl').val(filePath);
    }
}


</script>

