<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area" id="user_popup">
	<div class="cont_inner" title="">
		<ul class="popup-list-area">
			<li class="list">
				<div class="popup-list-title">
					<em>서버 명칭</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupName" class="easyui-textbox"
						placeholder="서버 명칭을 입력해 주세요." />
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>IP</em>
				</div>
				<div class="popup-list-cont type-ip">
					<input type="number" min="0" max="255" id="popupIpA" class="easyui-textbox" />
					<span class="dot">.</span>
					<input type="number" min="0" max="255" id="popupIpB" class="easyui-textbox" />
					<span class="dot">.</span>
					<input type="number" min="0" max="255" id="popupIpC" class="easyui-textbox" />
					<span class="dot">.</span>
					<input type="number" min="0" max="255" id="popupIpD" class="easyui-textbox" />
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>PORT</em>
				</div>
				<div class="popup-list-cont type-port">
					<input type="number" min="1" max="99999" id="popupPort" class="easyui-textbox"
						placeholder="PORT를 입력해 주세요." />
				</div>
			</li>
		</ul>
		<ul class="center-btn">
			<li class="btn-cancle" onClick="closeNetMappingSubPopup();">취소</li>
			<li class="btn-insert" onClick="saveNetMappingSub();" id="saveUserBtn">저장</li>
		</ul>
	</div>
</div>
<script th:inline="javascript">
	$(document).ready(function() {
		if (typeof (selectedData) != 'undefined' && selectedData != '') {
			$.fn.openDialogCallBack(selectedData)
		} else {
			clearNetMappingSubPopup();
		}
		
		$('.type-ip input[type="number"]').bind({
			'keydown': function(e) {
				const v = $(this).val();
				const key = e.key;
				
				if(key === '.') {
					$(this).nextAll('input').first().focus();
					e.preventDefault();
				}
				
				if(v < 0) {
					alert('0 이하의 값은 입력할수 없습니다.');
					$(this).val(0);
				} else if ( v > 255) {
					alert('255 이상의 값은 입력할수 없습니다.');
					$(this).val(255);
				}
			}
		});
		
		$('.type-port input[type="number"]').bind({
			'keydown': function(e) {
				const v = $(this).val();
				const key = e.key;
				
				if(key === '.' && key === '-') {
					e.preventDefault();
				}
				
				if(v < 0) {
					alert('0 이하의 값은 입력할수 없습니다.');
					$(this).val(0);
				} else if ( v > 99999) {
					alert('99999 이상의 값은 입력할수 없습니다.');
					$(this).val(99999);
				}
			}
		});

	});
	
	function getIpClass(ip) {
		const l = ip.split('.');
		
		return l;
	}
	
	function setIpClass(a, b, c, d) {
		return a + '.' + b + '.' + c + '.' + d;
	}

	function clearNetMappingSubPopup() {
		$('#popupName').val('');
		$('#popupIpA').val('');
		$('#popupIpB').val('');
		$('#popupIpC').val('');
		$('#popupIpD').val('');
		$('#popupPort').val('');
		selectedData = undefined;
	}

	function closeNetMappingSubPopup() {
		clearNetMappingSubPopup();
		common.closeDialogPop("oprtNetMappingSubPopup");
	}

	function saveNetMappingSub() {
		var row = $('#oprtNetMappingTable').datagrid('getSelected');
		
		const jsonObj = {};
		const name = $('#popupName').val();
		
		const sa = $('#popupIpA').val();
		const sb = $('#popupIpB').val();
		const sc = $('#popupIpC').val();
		const sd = $('#popupIpD').val();
		
		const port = $('#popupPort').val();
		
		if (name == '' || name == 'undefined') {
			alert("서버 명칭을 입력해 주세요");
			return false;
		}

		if (sa == '' || sa == 'undefined') {
			alert("IP A 클래스를 입력해 주세요");
			return false;
		}

		if (sb == '' || sb == 'undefined') {
			alert("IP B 클래스를 입력해 주세요");
			return false;
		}

		if (sc == '' || sc == 'undefined') {
			alert("IP C 클래스를 입력해 주세요");
			return false;
		}

		if (sd == '' || sd == 'undefined') {
			alert("IP D 클래스를 입력해 주세요");
			return false;
		}

		if (port == null || port == '') {
			alert("PORT를 입력해주십시오.");
			return false;
		}


		jsonObj.netMappingIp = row.ip;
		jsonObj.name = name;
		jsonObj.ip = setIpClass(sa, sb, sc, sd);
		jsonObj.port = port;
		
		$.ajax({
			type : "POST",
			url : "/ajax/insert/oprt.saveNetMappingSub/action.do",
			dataType : "json",
			data : {
				"param" : JSON.stringify(jsonObj)
			},
			async : false,
			beforeSend : function(xhr) {
				// 전송 전 Code
			}
		}).done(function(result) {
			if (result == "SUCCESS") {
				$('#oprtNetMappingSubTable').datagrid('reload');
				alert("등록 완료");
			} else {
				alert("등록 실패");
			}
			closeNetMappingSubPopup();
		}).fail(function(xhr) {
			alert("등록 실패");
		}).always(function() {

		});
	}

</script>