<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area">
	<div id="" class="cont_inner" title="">
		<ul class="popup-list-area">
			<li class="list">
				<div class="popup-list-title">
					<em>그룹코드</em>
				</div>
				<div class="popup-list-cont">
					<input type="hidden" id="popupGrpSeq"/>
					<input type="text" id="popupGrpCd" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>그룹코드 명</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupGrpNm" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>비고</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupGrpRemark" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>사용여부</em>
				</div>
				<div class="popup-list-cont">
					<select class="easyui-combobox" id="popupGrpUseTy">
						<option value="Y">사용</option>
						<option value="N">미사용</option>
					</select>
				</div>
			</li>
		</ul>
		<ul class="center-btn">
			<li class="btn-cancle" onClick="closePopup();">취소</li>
			<li class="btn-insert" onClick="saveCodeGrp();">저장</li>
		</ul>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function(){
	if (typeof(selectedDataM) != 'undefined' && selectedDataM != '') {
		setDetailData(selectedDataM);
	}
});

function setDetailData(data) {
	var row = data[0];
	
	$('#popupGrpCd').attr('disabled', true);
	
	$('#popupGrpSeq').val(row.grpSeq);
	$('#popupGrpCd').val(row.grpCd);
	$('#popupGrpNm').val(row.grpCdNm);
	$('#popupGrpRemark').val(row.remark);
	$('#popupGrpUseTy').val(row.useYN);
}

function clearPopup() {
	$('#popupGrpSeq').val('');
	$('#popupGrpCd').val('');
	$('#popupGrpNm').val('');
	$('#popupGrpRemark').val('');
	$('#popupGrpUseTy').val('Y');
}

function closePopup() {
	clearPopup();
	if (typeof(selectedDataM) != 'undefined' && selectedDataM != '') {
		selectedDataM='';
	}
	common.closeDialogPop("oprtSysCodeGrpPopup");
}

function saveCodeGrp() {
	var chkGrpCd = $('#popupGrpCd').val();
	var grpCdNm = $('#popupGrpNm').val();
	var remark = $('#popupGrpRemark').val();
	
	if(!checkNull(chkGrpCd, "그룹 코드를 입력해주십시오.")){
		return false;
	}
	
	if(!checkNull(grpCdNm, "그룹코드 명을 입력해주십시오.")){
		return false;
	}
	
	if(!checkNull(remark, "비고를 입력해주십시오.")){
		return false;
	}
	
	const jsonObj = {};
	jsonObj.grpSeq = $('#popupGrpSeq').val();
	jsonObj.chkGrpCd = chkGrpCd;
	jsonObj.grpCdNm = grpCdNm;
	jsonObj.remark = remark;
	jsonObj.useYN = $('#popupGrpUseTy').val();
	
	$.ajax({
		type       : "POST",
		url        : "/select/oprt.getCodeGroupList/action.do",
		dataType   : "json",
		data : {"param" : JSON.stringify(jsonObj)},
		async      : false,
		beforeSend : function(xhr) {
			// 전송 전 Code
		}
	}).done(function (result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		if(rows.length > 0 && selectedDataM.length == 0) {
			alert("그룹아이디가 존재합니다.");
			return false;
		}
		else {
			jsonObj.singleInsertSid = "oprt.saveCodeGroup";
			$.ajax({
				type       : "POST",
				url        : "/multiAjax/action.do",
				dataType   : "json",
				data : {"param" : JSON.stringify(jsonObj)},
				async      : false,
				beforeSend : function(xhr) {
					// 전송 전 Code
				}
			}).done(function (result) {
				if (result == "SUCCESS") {
					alert("저장 완료");
					closePopup();
					$('#oprtSysCodeGrpTable').datagrid('reload');
				}
				else {
					alert("저장 실패");
				}
			}).fail(function (xhr) {
				alert("저장 실패");
			}).always(function() {
				
			});
		}
	});
}
</script>