<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont-pop-area" >
	<div class="cont-pop-inner" title="" id="jstree_demo">
	
	</div>
	<ul class="center-btn">
		<li class="btn-cancle" onClick="closeGroupPop();">취소</li>
		<li class="btn-insert" id="saveUserGroupTreeBtn">저장</li>
	</ul>
</div>

<script th:inline="javascript">
$(function () {
	var name;
	var id;
	const jsonObj = {};
	//jsonObj.userFlag = '1';
	$.ajax(
		{
			type       : "POST",
			url        : "/select/userGroup/action.do",
			dataType   : "json",
			data       : {"param" : JSON.stringify(jsonObj)},
			async      : false,
			beforeSend : function(xhr) {
				// 전송 전 Code
			}
		}).done(function(result) {
			const rows = result.rows;
	    	if(rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
			createJSTree(rows);
		}).fail(function(xhr) {

		}).always(function() {

		});
	
		function createJSTree(jsondata) {
	        $('#jstree_demo').jstree({
	            'core': {
	                'data': jsondata
	            }
	        });
	    }


		$('#jstree_demo').on("changed.jstree", function (e, data) {
			name=data.node.text;
			groupId=data.selected;
		});


		$("#saveUserGroupTreeBtn").off("click").on({
		    "click" : function() {

		        const ds = {};
		        
		        ds.groupId = groupId;
		        ds.name = name;

		        if(!ds.groupId)
		        {
		            alert("조직을 선택하여 주십시오.");
		            return false;
		        }
		       
		        $.fn.openDialogCallBack(ds);
		    }
		});
});

function closeGroupPop() {
	common.closeDialogPop("oprtUserGroupTreePopup");
}

</script>