.window {
    position: absolute;
    background: #3c3c3c;
    border: 1px solid;
    padding: 10px;
}
.window-shadow {
	display: none !important;
}
.window-proxy-mask, .window-mask {
    background: #000;
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=70);
    opacity: 0.7;
    font-size: 1px;
    overflow: hidden;
}

.panel-body .datagrid * {
	vertical-align: middle;
}

.panel-title {
	background-color: #555555;
	font-size: 14px;
	color: #fff;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
	padding: 0 15px;
	text-align: center;
}
.panel-header {
	border-bottom: 2px solid #6f7aa0;
}
.btn:hover, .btn.active {
    background: #6f7aa0;
    color: #fff;
}
.popup-list-area > .list {
	margin: 10px 0 0 0;
	float: left;
	width: calc(100% - 4px);
	height: 30px;
}

.popup-list-area .list .popup-list-title {
	background-color: #555555;
	text-align: center;
	height: 30px;
	color: #ffffff;
	float: left;
	line-height: 30px;
	width: 100px;
    font-size: 11px;
}

.popup-list-area .list .popup-list-cont {
	width: calc(100% - 102px);
    height: 30px;
    text-align: center;
    float: right;
}

.popup-list-area > .list.high,
.popup-list-area .list .popup-list-title.high,
.popup-list-area .list .popup-list-cont.high {
	height: 275px;
}

.radio-wrap {
	display: flex;
}
.radio-wrap li {
	width: 28%;
}
.radio-wrap li img {
	width: 50px;
}


.popup-list-area .list .popup-list-cont input {
    width: 100%;
    height: 26px;
    text-align: center;
    border-color: #4a4a4a;
}
.popup-list-area .list .popup-list-cont input[type='radio'] {
	width: 12px;
	cursor: pointer;
	vertical-align: super;
}
.popup-list-area .list .popup-list-cont input.wide80 {
	width: 80%;
    float: left;
}

.popup-list-area .list2 {
	margin: 10px 0 0 0;
	float: left;
	width: 100%;
}
.popup-list-area .list2 .popup-list-title2 {
	background-color: #555555;
	text-align: center;
	height: 30px;
	color: #ffffff;
	float: left;
	line-height: 30px;
	width: 100%;
}
.popup-list-area .list2 .popup-list-cont2 {
	width: calc(100% - 1px);
    text-align: center;
    float: left;
    /* border: 1px solid #aaa; */
}
.popup-list-area .list2 .popup-list-cont2 textarea {
	width: calc(100% - 5px);
	height: 300px;
	resize: none;
}
.popup-list-area .list2 .popup-list-cont2 input {
	width: calc(100% - 3px);
    resize: none;
    margin: 0;
}

.popup-list-cont select {
    width: 101%;
	height: 30px;
	text-align-last: center;
	background: #363738;
    border-color: #4a4a4a;
    color: #757575;
}
.popup-list-cont select option {
	text-align: center;
}

.popup-list-cont2 .left-area {
    float: left;
    width: 46%;
}
.popup-list-cont2 .right-area {
    float: right;
    width: 46%;
}
.popup-list-cont2 .middle-area {
    float: left;
    width: 8%;
	text-align: center;
}

.popup-list-cont2 .middle-area .double-btn {
	padding: 8px 10px;
    font-size: 12px;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    top: 39%;
    cursor: pointer;
}
.popup-list-cont2 .middle-area .double-btn:hover {
	background: #2d2d2d;
	color: #eee;
}

.cont-pop-area{
	height :100%;
}

.cont-pop-inner{
	overflow : auto;
	height : 95%;
	background-color: #000;
}

.cont-pop-inner.jstree-default .jstree-clicked {
	background: #3f87f5;
	border-radius: 2px;
	box-shadow: inset 0 0 1px #999999;
}

/* ////////////////////// */
.notice-cont {
	text-align: center;
    margin-top: 5px;
}
.notice-cont em {
	color: #f5f5f5;
    font-size: 13px;
}
.notice-cont select {
	height: 30px;
	vertical-align: top;
	background: #363738;
    color: #fff;
}
.notice-cont .ck-area {
	margin-top: 10px;
}
.notice-cont .notice-tit {
	text-align: center;
    border: solid 1px #d1d1d1;
    width: calc(100% - 2px);
    line-height: 30px;
}