<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>스마트 CCTV 지휘관제시스템</title>
        <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/board.css">
    </head>
    <body>
        <div class="wrap_setting">
            <header class="header">
                <h1><img src="../../static/images/logo_119.svg">스마트 CCTV 지휘관제시스템</h1>
                <ul class="gnm">
                    <li>
                        <a href="#">재난 현황판</a>
                    </li>
                    <li><a href="#">모니터링</a></li>
                    <li><a href="#">영상 로그 조회</a></li>
                    <li>
                        <a href="#">통계</a>
                        <ul class="gnm_sub" style="display: none;">
                            <li><a>재난 통계</a></li>
                            <li><a>영상 로그 통계</a></li>
                        </ul>
                    </li>
                    <li><a href="#">환경설정</a></li>
                </ul>
                <ul class="util">
                    <li><a href="#"><img src="../../static/images/user.svg">사용자</a></li>
                </ul>
            </header>
            <div class="container_setting">
                <!-- aside -->
                <!-- aside -->
                <aside class="accordion_menu accordion">
                    <ul class="accordion">
                        <li id="one" class="multi">
                            <a href="#one">스마트 가로등</a>
                            <ul class="accordion_sub_menu">
                                <li id="district"><a href="/pages/config/district">디밍 그룹 설정</a></li>
                                <li id="dimming"><a href="/pages/config/dimming">디밍 설정</a></li>
                            </ul>
                        </li>
                        <li id="two" class="multi">
                            <a href="#two">사용자</a>
                            <ul class="accordion_sub_menu">
                                <li id="userAccount"><a href="/pages/config/userAccount">사용자 계정 관리</a></li>
                                <li id="userGroup"><a href="/pages/config/userGroup">사용자 그룹 관리</a></li>
                            </ul>
                        </li>
                        <li id="commonCode">
                            <a href="/pages/config/commonCode">공통 코드 관리</a>
                        </li>
                        <li id="notice">
                            <a href="/pages/config/notice">공지사항</a>
                        </li>
                    </ul>
                </aside>
                <!-- /aside -->
                <!-- /aside -->
                <div class="setting_container">
                    <h4>
                        <i><img src="images/default/settingTitle.svg"></i>
                        <span>환경설정</span>
                        <i><img src="images/default/arrowNext.svg"></i>
                        <span>사용자</span>
                        <i><img src="images/default/arrowNext.svg"></i>
                        <span>사용자 계정 관리</span>
                    </h4>
                    <section class="setting_content">
                        <article class="search_form">
                            <h6>사용자 계정 검색</h6>                    
                            <!-- form 변경 0317 -->
                            <form>
                                <div>
                                    <dl class="checkbox_set">
                                        <dt>계정 상태</dt>
                                        <dd>
                                            <span>
                                                <input type="checkbox" id="" name="">
                                                <label for=""><span></span>정상</label>
                                            </span>
                                            <span>
                                                <input type="checkbox" id="" name="">
                                                <label for=""><span></span>사용 안함</label>
                                            </span>
                                        </dd>
                                    </dl>
                                    <ul class="button">
                                        <li class="input"><input type="text" placeholder="검색어를 입력하세요."></li>
                                        <li><i><img src="images/default/refresh.svg"></i>검색조건 초기화</li>
                                        <li><i><img src="images/default/search.svg"></i>검색</li>
                                    </ul>
                                </div>
                            </form>
                        </article>
                        <article class="search_list">
                            <div class="article_title">
                                <dl class="title">
                                    <dt>사용자 계정 목록</dt>
                                    <dd><span class="count">123</span>건</dd>
                                </dl>
                                <ul>
                                    <li><i><img src="images/default/add.svg"></i>사용자 계정 추가</li>
                                </ul>
                            </div>
                            <div class="search_table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Index</th>
                                            <th>아이디</th>
                                            <th>이름</th>
                                            <th>소속 그룹</th>
                                            <th>전화번호</th>
                                            <th>이메일</th>
                                            <th>마지막 접속 시간</th>
                                            <th>계정 상태</th>
                                            <th>상세보기</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status green"></span>정상</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status"></span>사용 안함</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status"></span>사용 안함</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status"></span>사용 안함</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status green"></span>정상</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status green"></span>정상</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>userID0001</td>
                                            <td>김다누</td>
                                            <td>관제 1팀 외 00개</td>
                                            <td>010-0000-0000</td>
                                            <td>danusys@danusys.com</td>
                                            <td>2021.11.25 15:49</td>
                                            <td><span class="status"></span>사용 안함</td>
                                            <td><span class="button">상세보기</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table_bottom">
                                <ul class="page_nav">
                                    <li class="prev"><i><img src="images/default/navPrev.svg"></i></li>
                                    <li class="on">1</li>
                                    <li>2</li>
                                    <li>3</li>
                                    <li>4</li>
                                    <li>5</li>
                                    <li class="next"><i><img src="images/default/navNext.svg"></i></li>
                                </ul>
                                <p class="button"><i><img src="images/default/excel.svg"></i>엑셀로 내보내기</p>
                            </div>
                        </article>
                    </section>
                </div>
            </div>            
        </div>
    </body>
</html>