<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:fragment="configFragment">
        <head>
            <meta charset="utf-8">
            <title>SMART-CITY 통합플랫폼</title>

            <!-- default css files -->
            <link rel="stylesheet" type="text/css" href="css/default/default.css">

            <!-- css in contents -->
            <th:block layout:fragment="css"></th:block>

            <!-- default javascript files-->
            <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>

            <!-- javascript in contents -->
            <th:block layout:fragment="script"></th:block>
        </head>
    </th:block>
</html>