<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="headerFragment">
    <header>
        <!-- <h1 class="logo"><i><img src="/images/default/headerMenu.svg"></i>Title</h1> -->
        <h1><img th:src="'/images/default/'+${@environment.getProperty('mainPage.logo')}">
            <span th:text="${@environment.getProperty('mainPage.title')}"></span>
        </h1>
        <ul class="gnm">
            <th:block th:with="municipality=${@environment.getProperty('municipality.name')}">
                <li sec:authorize="hasAnyRole('ROLE_dashboard_rw', 'ROLE_dashboard_r-')" id="dashboard">
                    <a th:if="${municipality == '47210000'}" href="/pages/dashboard/dashboard_facility">대시보드</a>
                    <a th:if="${municipality == '26290000'}" href="/pages/dashboard/dashboard_facility_bsng">대시보드</a>
                    <a th:if="${municipality == '41210000'}" href="/pages/dashboard/dashboard_facility_gm">대시보드</a>
                    <a th:if="${municipality == '45210000'}" href="/pages/dashboard/dashboard_drone">대시보드</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_mntr_rw, ROLE_mntr_r-')" id="mntr">
                    <a href="/pages/mntr">관제</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_inqry_rw', 'ROLE_inqry_r-')" id="inqry">
                    <a href="/pages/inqry/station">조회/관리</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_stats_rw', 'ROLE_stats_r-')" id="stats">
                    <a th:href="'/pages/stats/statistics?type='+${@environment.getProperty('stats.type')}">통계</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_config_rw', 'ROLE_config_r-')"
                    th:if="${
                                municipality == '41210000'
                                or municipality == '47210000'
                                or municipality == '45210000'
                                or municipality == '26290000'}"
                    id="config">
                    <a href="/pages/config/userAccount">환경설정</a>
                </li>
            </th:block>
        </ul>
        <ul class="util_menu">
            <li><i><img src="/images/default/utmenu_login.svg"></i><span sec:authentication="name"></span>님</li>
            <li id="logoutBtn"><i><img src="/images/default/utmenu_logout.svg"></i>로그아웃</li>
        </ul>
    </header>
</th:block>
</html>