<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(headerContent, content, scriptPerPage, cssPerPage)" >

    <head>
        <th:block th:insert="fragments/danusys/includes :: includes_head(~{::link})"></th:block>
    </head>

    <body id="sub" class="insu">
        <th:block th:replace="${headerContent}">
        </th:block>
        <th:block th:replace="${content}">
        </th:block>
        <th:block th:insert="fragments/danusys/includes :: includes_footer_simple(~{::script})">
        </th:block>
    </body>

</html>
