<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    <springProperty name="SPRING_APPLICATION_NAME" source="spring.application.name"/>

    <!--<springProfile name="!ddlauto">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>
    <springProfile name="ddlauto">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%msg%n;</pattern>
                <charset>utf8</charset>
            </encoder>
        </appender>
    </springProfile>-->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}.%M %L - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="trace">
        <logger name="com.danusys.web" level="TRACE"/>
        <logger name="org.springframework.security" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.jdbc" level="DEBUG"/>
        <logger name="com.fasterxml.jackson" level="TRACE"/>
        <!--        <logger name="org.apache.http.wire" level="DEBUG"/>-->
        <!--        <logger name="org.hibernate.SQL" level="DEBUG"/>-->
        <logger name="org.hibernate.tool.hbm2ddl" level="TRACE"/>
        <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.audit" level="debug"/>
        <logger name="jdbc.resultset" level="debug"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!trace">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="file">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/var/log/danusys/${SPRING_APPLICATION_NAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/var/log/danusys/${SPRING_APPLICATION_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>10</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %-5level %msg%n</pattern>
            </encoder>
        </appender>

        <logger name="com.danusys.web" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>