<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    <springProperty name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
    <property name="LOGS_PATH" value="./log" />
    <if condition='System.getProperty("os.name").toLowerCase().contains("win")'>
        <then>
            <property name="LOGS_PATH" value="C:/danusys/log" />
        </then>
        <else>
            <property name="LOGS_PATH" value="/var/log/danusys" />
        </else>
    </if>

    <include resource="logback-spring-file.xml" />
    <include resource="logback-spring-console.xml" />

    <springProfile name="trace">
        <logger name="com.danusys.web" level="TRACE"/>
        <logger name="org.springframework.security" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.jdbc" level="DEBUG"/>
        <logger name="com.fasterxml.jackson" level="TRACE"/>
        <!--        <logger name="org.apache.http.wire" level="DEBUG"/>-->
        <!--        <logger name="org.hibernate.SQL" level="DEBUG"/>-->
        <logger name="org.hibernate.tool.hbm2ddl" level="TRACE"/>
        <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
        <logger name="jdbc.sqlonly" level="DEBUG"/>
        <logger name="jdbc.sqltiming" level="DEBUG"/>
        <logger name="jdbc.audit" level="debug"/>
        <logger name="jdbc.resultset" level="debug"/>
        <logger name="FILE_LOGGER" level="INFO">
            <appender-ref ref="infoFILE"/>
            <appender-ref ref="errorFILE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!trace">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>