<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="headerFragment">
        <script type="text/javascript" src="/webjars/jquery/3.6.0/dist/jquery.min.js" ></script>

        <!-- fontawesome : icon https://fontawesome.com/icons?d=gallery -->
        <link rel="stylesheet" href="/js/plugins/fontawesome-5.5.0/css/all.css" />

        <!-- Jquery-sweetAlert2 -->
        <link rel="stylesheet" type="text/css" href="/js/plugins/sweetAlert2/css/sweetalert2.css" />
        <script type="text/javascript" src="/js/plugins/sweetAlert2/js/sweetalert2.js"></script>

        <!-- jQueryUI -->
        <!--    <script src="/webjars/jquery-ui/1.13.0/jquery-ui.js"></script>
           <script src="/webjars/jquery-ui/1.13.0/jquery-ui.css"></script>-->

        <script type="text/javascript" src="/js/plugins/jquery-ui/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="/js/plugins/jquery-ui/jquery-ui.css"/>


        <!-- autoComplete -->
        <link rel="stylesheet" type="text/css" href="/js/plugins/jquery-autocomplete/jquery.autocomplete.css"/>
        <script type="text/javascript" src="/js/plugins/jquery-autocomplete/jquery.autocomplete.min.js"></script>

        <!-- datePicker -->
        <link rel="stylesheet" type="text/css" href="/js/plugins/jquery-datePicker/datepicker.min.css"/>
        <link rel="stylesheet" type="text/css" href="/js/plugins/jquery-datePicker/datepicker.dark.css"/>
        <script type="text/javascript" src="/js/plugins/jquery-datePicker/datepicker.min.js"></script>
        <script type="text/javascript" src="/js/plugins/jquery-datePicker/datepicker.ko-KR.js"></script>

        <!-- timePicker -->
        <link rel="stylesheet" type="text/css" href="/js/plugins/jquery-timePicker/jquery.timepicker.min.css"/>
        <script type="text/javascript" src="/js/plugins/jquery-timePicker/jquery.timepicker.min.js"></script>

        <!-- mask -->
        <script type="text/javascript" src="/js/plugins/jquery-mask/jquery.mask.js"></script>

        <!-- day.js -->
        <script type="text/javascript" src="/js/plugins/date/date.min.js"></script>

        <!-- DataTables -->
        <script type="text/javascript" src="/js/plugins/dataTables20/datatables.min.js"></script>
        <script type="text/javascript" src="/js/plugins/dataTables20/ellipsis.js"></script>
        <link rel="stylesheet" type="text/css" href="/js/plugins/dataTables20/datatables.css" />

        <!-- LoadingModal -->
        <link rel="stylesheet" type="text/css" href="/js/plugins/loadingModal/css/jquery.loadingModal.css" />
        <script type="text/javascript" src="/js/plugins/loadingModal/js/jquery.loadingModal.js"></script>

        <!--  Toastr -->
        <!--
        <link rel="stylesheet" type="text/css" href="/js/plugins/toastr/toastr.css" />
        <script type="text/javascript" src="/js/plugins/toastr/toastr.js"></script>
        -->

        <!-- kakaoAPI -->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

        <!-- Common -->
        <script type="text/javascript" src="/js/common/common.js"></script>
        <script type="text/javascript" src="/js/constant/global-constant.js"></script>

        <!-- Custom Javascript -->
        <script type="text/javascript" src="/js/common/externalApi.js"></script>
        <script type="text/javascript" src="/js/common/chart.js"></script>
        <script type="text/javascript" src="/js/common/admin.js"></script>
        <script type="text/javascript" src="/js/common/account.js"></script>
        <script type="text/javascript" src="/js/common/event.js"></script>
        <script type="text/javascript" src="/js/common/board.js"></script>
        <script type="text/javascript" src="/js/common/stats.js"></script>
        <script type="text/javascript" src="/js/common/init.js"></script>

        <!-- Openlayers3 -->
        <link rel="stylesheet" href="/js/plugins/ol3/css/ol.css" />
        <link rel="stylesheet" href="/js/plugins/ol3/css/ol-ext.css" />
        <link rel="stylesheet" href="/js/plugins/ol3/css/ol-contextmenu.min.css" />
        <link rel="stylesheet" href="/css/maps.css" />

        <script type="text/javascript" src="/js/plugins/ol3/ol.js"></script>
        <script type="text/javascript" src="/js/plugins/ol3/ol-ext.js"></script>
        <script type="text/javascript" src="/js/plugins/ol3/proj4js.js"></script>
        <script type="text/javascript" src="/js/plugins/ol3/ol-contextmenu.js"></script>

        <script type="text/javascript" src="/js/gis/addGovDataLayer.js"></script>
        <script type="text/javascript" src="/js/gis/measure.js"></script>
        <script type="text/javascript" src="/js/gis/mapFoundation.js"></script>
        <script type="text/javascript" src="/js/gis/tileLayer.js"></script>
        <script type="text/javascript" src="/js/gis/mapContextMenu.js"></script>
        <script type="text/javascript" src="/js/common/dashBoardMap.js"></script>
        <script type="text/javascript" src="/js/gis/maps.js"></script>
        <script type="text/javascript" src="/js/gis/svgToImage.js"></script>

        <!-- ApexChart -->
        <link href="/js/plugins/apexcharts/dist/apexcharts.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/plugins/apexcharts/dist/apexcharts.js"></script>


</th:block>

</html>