<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SMART-CITY 통합플랫폼</title>
    <link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/dark/main.css">

    <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="/js/loginWhy.js"  defer></script>

</head>

<body>
<div class="login-wrap">
    <div class="login-img" id="loginImg">
        <dl>
            <dd id="loginBgTitSub"></dd>
            <dt id="loginBgTit"></dt>
        </dl>
    </div>

    <div class="login-form">

        <dl>
            <dd>
                <span>ID</span>
                <span><input type="text" id="id" name="username" placeholder="아이디를 입력하세요." tabindex="1"></span>
            </dd>
            <dd>
                <span>PW</span>
                <span><input type="password" id="pwd" name="password" placeholder="비밀번호를 입력하세요."
                             tabindex="2"></span>
            </dd>
            <dt>
                    <span class=""><input type="checkbox" id="remember-me" name="remember-me"><label for="remember-me"
                                                                                                     tabindex="3"></label>Save ID</span>
                <span><button class="login-btn">LOGIN</button></span>
            </dt>
            <!-- <dd class="forgot">Forgot ID or PASSWORD?</dd> -->
        </dl>

    </div>
</div>

</body>

</html>