/* circlr.css */

.content_container {
	display: flex;
	width: 100%;
	height: 100%;
}

.west_panel {
	height: 100%;
    width: 300px;
    font-size: 11px;
}
.west_table_container {
	height: calc(100% - 100px);
    margin: 5px;
}

.east_panel {
	width: calc(100% - 300px);
	height: 100%;
    background: #9cbad1;
}

.full_panel {
	height: calc(100% - 20px);
    width: calc(100% - 20px);
    position: absolute;
    background: #eee;
    padding: 10px;
}

.circlr_panel {
	height: 100%;
    width: 800px;
    background: white;
    position: absolute;
    top: 0;
    z-index: 15;
    box-sizing: border-box;
}
.circlr_panel .btn_close {
	width: 17px;
    height: 50px;
    background: url(../images/icons/slide_btn_closed_nor.png) center center no-repeat;
    position: absolute;
    left: 800px;
    top: 50%;
    cursor: pointer;
    filter: opacity(0.5);
}
.circlr_panel .btn_close:hover {
	filter: none;
}
.circlr_panel .circlr_panel_left {
	height: 100%;
    width: 300px;
    float: left;
    background: #fff;
}

.circlr_panel .circlr_panel_right {
	border-left: 1px solid #ccc;
	left: 300px;
	height: 100%;
    width: 499px;
    float: right;
}
.circlr_panel_right .view_area {
	width: 100%;
    height: 300px;
}
.circlr_panel_right .view_area .view {
    background-color: #39383d;
    width: 90%;
    height: 90%;
    margin: 5% 5% 0;
    position: relative;
}
.circlr_panel_right .view_area .view .video_wrap .video_content {
    width: 100%;
    height: 100%;
}
.circlr_panel_right .data_area {
	width: 100%;
    height: calc(100% - 350px);
    text-align: center;
}
.circlr_panel_right .data_area ul {
    margin: 5px 0 0 0;
    width: 100%;
}
.circlr_panel_right .data_area ul li em {
    width: 11%;
    display: inline-block;
    text-align: right;
}
.circlr_panel_right .data_area ul li input {
    width: 78%;
    border: 1px solid #202020;
    margin-bottom: 3px;
	height: 23px;
}
.circlr_panel_right .data_area table {
	margin: 5%;
    height: 65%;
    width: 90%;
}
.circlr_panel_right .data_area table tr td {
    width: 33%;
    height: 33%;
    cursor: pointer;
    border: 1px solid #202020;
    /* font-size: 50px; */
}
.circlr_panel_right .data_area table tr td.selecte {
	background-color: #bbb;
}
.circlr_panel_right .data_area table tr td.active {
	background-color: #6e88df;
}


/* right */
.cctv_layer_wrapper.ful {
	position: relative;
	z-index: 11;
	height: 100%;
	width: auto;
	background-color: #e2e2e2;
	color: #fff;
}
.cctv_layer_area.nine {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.cctv_layer_area.nine .cctv_layer_view {
	display: inline-block;
	width: calc(34% - 11px);
	height: calc(34% - 7px);
	z-index: 2;
	float: left;
}

.cctv_layer_area .cctv_layer_view:first-child .view h3 {
	width: calc(100% - 14px);
}
.cctv_layer_area .cctv_layer_view .view h3 {
	position: absolute;
	text-align: center;
	color: #fff;
    padding: 3px 5px 3px 5px;
    white-space: nowrap;
    overflow-x: hidden;
    display: block;
    width: calc(50% - 13px);
}

.cctv_layer_area.nine .cctv_layer_view .view h3 {
	white-space: nowrap;
	color: #fff;
	position: absolute;
	width: calc(34% - 22px);
	z-index: 2;
}

.cctv_layer_area.nine .cctv_layer_view .view {
	display: block;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	border: 1px solid #000;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap {
    width: 100%;
    height: 100%;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap .spinner {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap .spinner > img {
	width: 100%;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap .error_view {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap .error_view > img {
	width: 40%;
}
.cctv_layer_area.nine .cctv_layer_view .view .video_wrap .video_content {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.video_content {
	height: 100%;
}

.video_content > video{
	object-fit: fill;
}