@import "font.css";

/* Scroolbar style */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: #313437;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #848585;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
/* ::-webkit-scrollbar-button:start {
  background-color: #313437;
}
::-webkit-scrollbar-button:end {
  background-color: #313437;
} */
::-webkit-scrollbar-button:vertical:increment {
}
::-webkit-scrollbar-button:vertical:decrement {
}
::-webkit-scrollbar-corner {
  background-color: #fff; /* 우측 하단의 코너 부분 */
}

html, body {
    margin: 0;
    /* font-family:"nanum-barun-gothic-regular"; */
    /* font-family: Arial, '\B3CB\C6C0', Dotum, sans-serif; */
	font-family: KoPub Dotum;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #1f2021;
}

a {
	text-decoration: none;
}

input {
	font-family: KoPub Dotum;
}
input::placeholder,
.textbox-prompt {
	color: #8c8c8c;
}

ul {
	list-style: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

em {
	font-style: normal;
}

table {
	border-collapse: collapse;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.btn {
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 12px;
    text-decoration-line: none;
    border: 1px solid #d1d1d1;
    color: #000;
	background: #fff;
	cursor: pointer;
}
.btn.dark {
    border-radius: 3px;
	padding: 7px 25px;
    font-size: 12px;
    text-decoration-line: none;
    border: 1px solid #4a4a4a;
    color: #fff;
    background: #313437;
}


.btn:hover,
.btn.active {
	background: #6e87df;
	color: #fff;
}
.btn.disable,
.btn.disable:hover {
	background: #e2e2e2;
	color: #aaa;
	cursor: not-allowed;
}

.pop_btn {
	display : inline-block;
	background: #d6d6d6;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 12px;
    text-decoration-line: none;
    color: #000;
    float: right;
}
.pop_btn:hover {
	background: #aaa;
}

.dialog .btn {
	margin-right: 5px;
}

.btn_area_center {
	text-align: center;
}
.btn_area_right {
    float: right;
    margin-right: 20px;
}


.main {
	height: 100%;
	width: 100%;
}

.wrap {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #ececec;
}

.list_menu_title {
	width: calc(100% - 10px);
    height: 29px;
    background: #6e87df;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 1px solid #fafafa;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    width: 100%;
    font-size:12px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:82px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #eee;
    border-left: none;
    font-weight: bold;
    background: #fafafa;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active,
ul.tabs li.tabs-selected {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container {
    border: 1px solid #eee;
    border-top: none;
    clear: both;
    float: left;
    width: calc(100% - 2px);
    height: calc(100% - 64px);
    background: #fff;
}
.tab_content {
    padding: 5px;
    font-size: 11px;
    display: none;
    height: calc(100% - 93px);
}
.tab_content > div {
	height: 100%;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
}
.tab_container .tab_content ul li {
    padding:5px;
    list-style:none;
}

.title_content {
	font-size: 13px;
    font-weight: bold;
    margin: 10px;
}

.search_content {
    /* text-align-last: center; */
    /* border-radius: 10px;
    border: #ccc solid 1px; */
    margin: 2px 15px;
}
.search_content input[type='checkbox'] {
	vertical-align: middle;
}
.search_content  label {
	font-size: 12px;
    position: relative;
    left: -5px;
    top: 2px;
}
.search_content em {
	font-size: 12px;
    position: relative;
    right: -5px;
}
.search_content ul {
	padding: 5px;
    margin: 5px auto;
}
.search_content ul li {
    display: inline-block;
}
.search_content ul li .textbox {
	text-align-last: start;
}
.search_content ul li .textbox.combo {
	text-align-last: center;
}
.search_content .textbox-addon {
	position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
}
.search_content .textbox {
    position: relative;
    /* vertical-align: middle; */
    display: inline-block;
    white-space: nowrap;
}
.search_content .combo-arrow {
	background: url(../../images/icons/dropdown_black.png) no-repeat right center;
    width: 100% !important;
    height: 100% !important;
    margin: 2px 0px 0px -3px;
    display: inline-block;
}
.search_content .textbox .textbox-text {
	padding-right: 15px;
    font-size: 12px;
    border: 0;
    width: calc(100% - 15px) !important;
    height: 100% !important;
    border: 1px solid #ccc;
}

.combo-panel {
    overflow: auto;
    border-top-width: 0;
    padding: 0;
    border: 1px solid #aaabaa;
	background-color: #363738;
    color: #eee;
}
.combo-panel .combobox-item-selected {
    background-color: #017ee5;
}
.combo-panel .combobox-item-hover {
    background-color: #2a9bf8;
}
.combo-panel .combobox-item {
	font-size: 12px;
    padding: 3px;
    cursor: pointer;
}
.combo-panel .combobox-item span {
    width: 137px;
    height: 46px;
    display: block;
    line-height: 42px;
}
.combo-panel .combobox-item span p {
    margin-left: 45px;
}
.combo-panel .tree {
	margin: 0;
    padding: 0;
    list-style-type: none;
}
.combo-panel .tree li {
    white-space: nowrap;
}
.combo-panel .tree li ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.combo-panel .tree-node {
    height: 22px;
    white-space: nowrap;
    cursor: pointer;
}
.combo-panel .tree-node-hover {
	background:#017ee5;
	color:#000000;
}
.combo-panel .tree-expanded {
    background: url(../images/icons/multicombo_open_nor.png) no-repeat center center / 100%;
}
.combo-panel .tree-expanded-hover {
    background: url(../images/icons/multicombo_open_over.png) no-repeat center center / 100%;
}
.combo-panel .tree-collapsed {
    background: url(../images/icons/multicombo_close_nor.png) no-repeat center center / 100%;
}
.combo-panel .tree-collapsed-hover {
    background: url(../images/icons/multicombo_close_nor.png) no-repeat center center / 100%;
}
.combo-panel .tree-expanded,
.combo-panel .tree-collapsed,
.combo-panel .tree-folder,
.combo-panel .tree-file,
.combo-panel .tree-checkbox,
.combo-panel .tree-indent {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: top;
    overflow: hidden;
    margin: 5px;
}
.combo-panel .tree-hit {
    cursor: pointer;
}
.combo-panel .tree-folder,
.combo-panel .tree-folder-open,
.combo-panel .tree-file {
    display: none;
}
.combo-panel .tree-checkbox0 {
    background: url(../images/icons/check_x.png) no-repeat center center / 100%;
}
.combo-panel .tree-checkbox1 {
    background: url(../images/icons/check_o.png) no-repeat center center / 100%;
}
.combo-panel .tree-checkbox2 {
    background: url(../images/icons/check_v.png) no-repeat center center / 100%;
}
.combo-panel .tree-title {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    padding: 2px;
    height: 18px;
    line-height: 18px;
}

/* #loading{
	left: 45%;
    top: 35%;
    position: absolute;
    display: none;
    z-index: 9999;
} */
#loading {
	display: flex;
	width: 100%;
	height: 100%;
	position: absolute;
	align-items: center;
	justify-content: center;
	background-color: rgb(0, 0, 0, 0.6);
    z-index: 9999;
    top: 0;
    left: 0;
}

.cont_pop_area{
	height :100%;
}

.cont_pop_inner{
	overflow : auto;
	height : 95%;
}

/* switch button css */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 18px;
}

.position_left {
	position: absolute;
	left: 6px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch_text {
	position: absolute;
	color: #fff;
	font-size: 12px;
	z-index: 1;
	top: 1px;
	-webkit-transition: .4s;
	transition: .4s;
	left: 0;
	right: 0;
}

.switch_text.on {
	left: -18px;
}

.switch_text.off {
	right: -12px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #aaa;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* 메뉴 별 버튼 visible */
.context_cast {
	display: none;
}
.context_passive_evt {
	display: none;
}
.context_video {
	display: none;
}
.context_civil_cmplnt {
	display: none;
}

.event_container .context_cast {
	display: block;
}
.event_container .context_passive_evt {
	display: block;
}
.event_container .context_video {
	display: block;
}

.civil_container .context_civil_cmplnt {
	display: block;
}

.fclt_container .context_video {
	display: block;
}
.civil_container .context_video {
	display: block;
}
.set_container .context_video {
	display: block;
}

.set_container .site_btn {
	display: none;
}
.fclt_container .site_btn {
	display: none;
}