/* 내용 */
.content_panel_container {
	height: 100%;
    width: calc(100% - 61px);
    position: absolute;
    /* background: #eee; */
    left: 61px;
}
.west_panel {
	height: 100%;
    width: 300px;
    position: absolute;
    font-size: 11px;
    /* background: #aaa; */
}
.west_table_container {
	height: calc(100% - 119px);
    margin: 5px;
}

.map_panel_container {
	width: calc(100% - 360px);
	left: 360px;
	height: 100%;
    position: absolute;
    background: #9cbad1;
    z-index: -1;
}

.full_panel {
	height: calc(100% - 20px);
    width: calc(100% - 20px);
    position: absolute;
    background: #eee;
    padding: 10px;
}

.set_circlr_panel {
	height: 100%;
    width: 800px;
    background: white;
    position: absolute;
    top: 0;
    z-index: 15;
    box-sizing: border-box;
}
.set_circlr_panel .btn_close {
	width: 17px;
    height: 50px;
    background: url(../images/icons/slide_btn_closed_nor.png) center center no-repeat;
    position: absolute;
    left: 800px;
    top: 50%;
    cursor: pointer;
    filter: opacity(0.5);
}
.set_circlr_panel .btn_close:hover {
	filter: none;
}
.set_circlr_panel .set_circlr_panel_left {
	height: 100%;
    width: 300px;
    float: left;
    background: #fff;
}

.set_circlr_panel .set_circlr_panel_right {
	border-left: 1px solid #ccc;
	left: 300px;
	height: 100%;
    width: 499px;
    float: right;
}
.set_circlr_panel_right .cctv_layer_view {
	width: 100%;
    height: 300px;
}
.set_circlr_panel_right .cctv_layer_view .view {
    background-color: #39383d;
    width: 90%;
    height: 90%;
    margin: 5% 5% 0;
    position: relative;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap {
    width: 100%;
    height: 100%;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap .spinner {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap .spinner > img {
	width: 100%;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap .error_view {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap .error_view > img {
	width: 40%;
}
.set_circlr_panel_right .cctv_layer_view .view .video_wrap .video_content {
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-color: #e2e2e2;
}
.set_circlr_panel_right .data_area {
	width: 100%;
    height: calc(100% - 350px);
    text-align: center;
}
.set_circlr_panel_right .data_area ul {
    margin: 5px 0 0 0;
    width: 100%;
}
.set_circlr_panel_right .data_area ul li em {
    width: 11%;
    display: inline-block;
    text-align: right;
}
.set_circlr_panel_right .data_area ul li input {
    width: 78%;
    border: 1px solid #202020;
    margin-bottom: 3px;
	height: 23px;
}
.set_circlr_panel_right .data_area table {
	margin: 5%;
    height: 65%;
    width: 90%;
}
.set_circlr_panel_right .data_area table tr td {
    width: 33%;
    height: 33%;
    cursor: pointer;
    border: 1px solid #202020;
    /* font-size: 50px; */
}
.set_circlr_panel_right .data_area table tr td.selecte {
	background-color: #bbb;
}
.set_circlr_panel_right .data_area table tr td.active {
	background-color: #6e88df;
}

