/* heatmap.css */

.heatmap_wrap {
	height: 100%;
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
	/* background: #000; */
    color: #ececec;
	/* border-radius: 0px 0px 10px 10px; */
	position: relative;
	font-size: 13px;
}

.y_axis_wrap {
	display: flex;
	flex-direction: row-reverse;
	flex-grow: 1;
	padding: 30px 20px 20px 20px;
}

.y_axis {
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
    width: 100px;
    overflow-y: hidden;
    border: solid #8c8c8c;
    border-width: 1px 0 1px 1px;
    padding: 5px 0 5px 7px;
}

.x_axis_wrap {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.x_axis {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60px;
	justify-content: space-between;
	align-items: center;
}

.grid {
	height: 100%;
	display: block;
    cursor: default;
    overflow-y: scroll;
    border: solid #8c8c8c;
    border-width: 1px 1px 1px 0;
    padding: 5px 5px 5px 0;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	max-height: 44.91px;
}

.y_axis_column {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #bbb;
	min-height: 17px;
}

.y_axis_column:first-child {
	border-top: none;
}

.y_axis_column:last-child {
	border-bottom: 1px solid #bbb;
}

/* .x_axis_column {
	height: 100%;
	border-left: 1px solid #bbb;
}

.x_axis_column:first-child {
	border-left: none;
}

.x_axis_column:first-child {
	border-right: 1px solid #bbb;
} */

.x_axis_column,
.cell {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cell {
	background-color: #fff;
	border: 1px solid #b5b5b5;
	border-radius: 8px 8px 8px 8px;
	background-color: hsl(0, 100%, 50%);
	opacity: 1;
}

.heatmap_tooltip {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px 10px 10px 10px;
	padding: 10px 10px;
}

.y_label,
.x_label {
	position: absolute;
	font-size: 13px;
}

.y_label {
	left: 58px;
	top: 5px;
}

.x_label {
	right: 25px;
	bottom: 22px;
}

.legend_wrap {
	position: absolute;
	font-size: 13px;
	right: 25px;
	top: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.legend_wrap > .legend {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 0 10px;
}

.legend_wrap > .legend > .legend_rect {
	width: 15px;
	height: 15px;
}

.legend_wrap > .legend > .legend_label {
	padding: 0 0 0 7px;
}

