
body {
    overflow: scroll;
}
.container {
	margin: 0 10px;
}

.tabs_wrap {
	display: flex;
	justify-contents: center;
	align-itmes: center;
	flex-direction: column;
}

.hidden {
	display: none;
}

.title {
	text-align: center;
	background-color: #eee;
	padding: 3px 0;
}

.cont {
	text-align: center;
	background-color: #fff;
	padding: 3px 0;
}

.cont img {
	width: 100%;
	height: 356px;
}

textarea {
	width: calc(100% - 2px);
	padding: 0;
	resize: none;
	text-align: start;
}

.btn_container {
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
}