@import "import/easyui_datagrid.css";
@import "import/calendar.css";

body, html {
	/* font-family: KoPub Dotum; */
}

.chart_top_content {
	border-bottom: 1px solid #c3c3c3;
	background: #e6e6e6;
    height: 50px;
    margin: 10px 50px;
    padding-bottom: 10px;
}
.chart_top_content .search_content {
	float: left;
}
.chart_top_content .search_content ul,
.stats_area .search_content ul {
	text-align-last: left;
}
.chart_top_content .search_content ul span,
.stats_area .search_content ul span {
	text-align-last: center;
}
.chart_top_content .chart_summary_content ul li {
	float: left;
    width: 300px;
    text-align: center;
    height: 60px;
    line-height: 30px;
}
.chart_top_content .chart_summary_content {
	font-size: 18px;
    width: calc(100% - 650px);
    height: 60px;
    left: 600px;
    position: absolute;
    overflow: hidden;
}
.chart_top_content .chart_summary_content span em {
	font-size: 25px;
	font-weight: bold;
}

.stats_content {
	width: calc(100% - 10px);
    height: calc(100% - 151px);
    position: relative;
    margin: -6px 5px 5px 5px;
}
.stats_area {
	position: absolute;
    width: calc(34% - 16px);
	border: 0.5px solid #ccc;
    border-radius: 10px;
	background: #f5f5f5;
}

.stats_area.l {
	height: 100%;
	left: 0;
	top: 0;
}
.stats_area.c {
	height: 100%;
    left: calc(33% + 8px);
    top: 0;
}
.stats_area.r {
	height: 100%;
    right: 0;
    top: 0;
}

.stats_area.c .ct,
.stats_area.r .rt {
	height: calc(50% - 2px);
    left: 0;
    top: 50px;
    width: 100%;
	position: absolute;
}
.stats_area.c .cb,
.stats_area.r .rb {
	height: calc(50% - 2px);
    left: 0;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

/* mapChart */
.place-label {
	font-weight: bold;
	font-size: 13px;
	fill: #fff;
	fill-opacity: 1;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#infoArea text {
	fill: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.mapTooltip {
	position: absolute;
	background-color: RGB(0, 0, 0, 0.5);
	color: #fff;
	pointer-events: none;
	border: 2px solid;
	border-radius: 5px;
	z-index: 999;
	padding: 8px;
	text-align: center;
	margin-top: -30px;
	/* font: 10px sans-serif; */
}
#mapPieArea {
	width : 240px;
	opacity: 1;
}


/* heatmapChart */
.heatmapTooltip,
.heatmapTooltip2 {
	position: absolute;
	background-color: RGB(0, 0, 0, 0.5);
	color: #fff;
	pointer-events: none;
	border: 2px solid;
	border-radius: 5px;
	z-index: 999;
	padding: 5px;
	text-align: center;
	opacity: 0;
}
#heatmapPieArea,
#heatmapPieArea2 {
	width : 220px;
	opacity: 1;
}

rect.bordered {
	stroke: #E6E6E6;
	stroke-width:2px;   
}
text.mono {
	font-size: 9pt;
	fill: #aaa;
}
text.text-highlight {
	fill: #c00;
}
/* text.axis-workweek {
	fill: #000;
}
text.axis-worktime {
	fill: #000;
} */

.datebox .combo-arrow {
    background: url(../../images/icons/schedule_nor.png) no-repeat right center;
}
.datebox .combo-arrow:hover{
	background: url(../../images/icons/schedule_pre.png) no-repeat right center;
}

/* barlineChart */
.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: steelblue;
}

.x.axis path {
	display: none;
}
.x.axis, .y.axis {
	font-size: 10px;
}

.barTooltip {
	/* position: absolute; */
	    position: relative;
    width: 100px;
	
	background-color: RGB(0, 0, 0, 0.5);
	color: #fff;
	pointer-events: none;
	border: 2px solid;
	border-radius: 5px;
	z-index: 999;
	padding: 5px;
	text-align: center;
	opacity: 0;
}