.menu_container {
	height: 100%;
	width: 60px;
	position: absolute;
    background: #fff;
	border-right: 1px solid #eee;
}

.menu_line {
	background: url(../../images/icons/menu_line.png) no-repeat center center / 100%;
    width: 22px;
    height: 22px;
    left: 30%;
    top: 25%;
}
.mcd_menu li:hover > a .menu_line {
	background: url(../../images/icons/menu_line_over.png) no-repeat center center / 100%;
}

.logout_icon {
	background: url(../../images/icons/logout.png) no-repeat center center / 100%;
    width: 30px;
    height: 30px;
}
.mcd_menu li:hover > a .logout_icon {
	background: url(../../images/icons/logout_over.png) no-repeat center center / 100%;
}

.mcd_menu {
	list-style: none;
	padding: 0;
	margin: 0;
	background: #FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 60px;
}
.mcd_menu li {
	position: relative;
	list-style: none;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-bottom: 1px solid #EEE;
}
.mcd_menu li.active {
	border: 0;
	border-left: 4px solid #6e88df;
	border-right: 4px solid #6e88df;
	-webkit-box-shadow: 0 0 5px #DDD;
	box-shadow: 0 0 5px #DDD;
}
.mcd_menu li.active a {
	color: #6e88df;
}
.mcd_menu li a {
	display: block;
	text-decoration: none;
	padding: 10px 8px;
	color: #777;
	text-align: center;
	position: relative;
}
.mcd_menu li a i {
	float: left;
	font-size: 20px;
}
.mcd_menu li a p {
	float: left;
	margin: 0 ;
}
.mcd_menu li a strong {
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	word-break: keep-all;
}
.mcd_menu li a small {
	display: block;
	font-size: 10px;
}
.mcd_menu li a i, .mcd_menu li a strong, .mcd_menu li a small {
	position: relative;
	
	transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
}
.mcd_menu li:hover > a i {
	opacity: 1;
}
.mcd_menu li:hover a strong {
	opacity: 1;
	-webkit-animation: moveFromLeft 300ms ease-in-out;
	-moz-animation: moveFromLeft 300ms ease-in-out;
	-ms-animation: moveFromLeft 300ms ease-in-out;
	-o-animation: moveFromLeft 300ms ease-in-out;
	animation: moveFromLeft 300ms ease-in-out;
}
.mcd_menu li:hover a small {
	opacity: 1;
	-webkit-animation: moveFromRight 300ms ease-in-out;
	-moz-animation: moveFromRight 300ms ease-in-out;
	-ms-animation: moveFromRight 300ms ease-in-out;
	-o-animation: moveFromRight 300ms ease-in-out;
	animation: moveFromRight 300ms ease-in-out;
}
.mcd_menu li:hover > a,
.mcd_menu li ul li a.sub_active:hover {
	color: #6e88df;
}
/* .mcd_menu li a.active {
	position: relative;
	color: #6e88df;
	border:0;
	margin: 0 -4px;
} */
.mcd_menu li.active:before {
	content: "";
	position: absolute;
	top: 42%;
	left: 0;
	border-left: 5px solid #6e88df;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}
.mcd_menu li.active:after {
	content: "";
	position: absolute;
	top: 42%;
	right: 0;
	border-right: 5px solid #6e88df;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
}

@-webkit-keyframes moveFromTop {
	from {
		opacity: 0;
		-webkit-transform: translateY(200%);
		-moz-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0%);
		-moz-transform: translateY(0%);
		-ms-transform: translateY(0%);
		-o-transform: translateY(0%);
		transform: translateY(0%);
	}
}
@-webkit-keyframes moveFromLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(200%);
		-moz-transform: translateX(200%);
		-ms-transform: translateX(200%);
		-o-transform: translateX(200%);
		transform: translateX(200%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-webkit-keyframes moveFromRight {
	from {
		opacity: 0;
		-webkit-transform: translateX(-200%);
		-moz-transform: translateX(-200%);
		-ms-transform: translateX(-200%);
		-o-transform: translateX(-200%);
		transform: translateX(-200%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}

.mcd_menu li ul,
.mcd_menu li ul li ul {
	position: absolute;
	height: auto;
	min-width: 200px;
	padding: 0;
	margin: 0;
	background: #FFF;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-webkit-transition: all 300ms linear;
	z-index: 1000;
	left:90px;
	top: 0px;
	border-left: 4px solid #6e88df;
}
.mcd_menu li ul:before {
	content: "";
	position: absolute;
	top: 25px;
	left: -9px;
	border-right: 5px solid #6e88df;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}
.mcd_menu li:hover > ul,
.mcd_menu li ul li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
	left:60px;
}
.mcd_menu li ul li a {
	padding: 10px;
	text-align: left;
	border: 0;
	border-bottom: 1px solid #EEE;
	line-height: 30px;
	font-size: 12px;
	height: auto;
}
.mcd_menu li ul li a.sub_active {
	color: #ce1b1b;
}
.mcd_menu li ul li ul {
	left: 230px;
	top: 0;
	border: 0;
	border-left: 4px solid #6e88df;
}  
.mcd_menu li ul li ul:before {
	content: "";
	position: absolute;
	top: 15px;
	left: -9px;
	border-right: 5px solid #6e88df;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}
.mcd_menu li ul li:hover > ul {
	top: 0px;
	left: 200px;
}


