<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
$(document).ready(function() {
	setBodyClass('event_container');
	$("ul.tabs li").click(function () {
		$("ul.tabs li").removeClass("active").css("color", "#333");
		$(this).addClass("active").css("color", "#6e87df");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel");
		$("#" + activeTab).fadeIn();
		
		selectEvent();
    });
	setSearchCombo();
	$("ul.tabs li:first").click();
	
	var t = $('#selectEvtDtl');
	t.textbox('textbox').bind('keydown', function(e){
		if (e.keyCode == 13){
			selectEvent();
		}
	});
});

function setEventDraw(param, type, callback, callbackOption){
	param.recordCountPerPage = '-1';
	param.featureKind = 'event';
	param.userId = '${admin.id}';
	$.ajax({
		type       : "POST",
		url        : "/getCreateGeoFeature.do",
		dataType   : "json",
		data       : {
			"param" : JSON.stringify(param)
		},
		async      : false
	}).done(function(data) {
		mapManager.createVectorLayer('event', data, 'event');
		
		$.ajax({
			type       : "POST",
			url        : "/getCreateCarLineFeature.do",
			dataType   : "json",
			data       : {
				"param" : JSON.stringify(param)
			},
			async      : false
		}).done(function(data) {
			mapManager.createVectorLayer('eventCar', data, 'eventCar');
			$('#loading').hide();
			if(callback !== undefined) callback(callbackOption);
		});
		
		//$('#loading').hide();
		//if(callback !== undefined) callback(callbackOption);
	});
}

function setSearchCombo() {
	//$('#selectStatCombo').combobox({required: true});
	$('#selectSpaceCombo').combotree({required: true});
	$('#selectGbnCombo').combobox({required: true});
	
	const jsonObj = {};
	$.ajax({
		contentType : "application/json; charset=utf-8",
		type      : "POST",
		url       : "/select/common.getAreaSiCode/action",
		dataType  : "json",
		data      : JSON.stringify(jsonObj),
		async     : false,
		beforeSend: function (xhr) {
			// 전송 전 Code
		},
	}).done(function (result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		var areaData = [];
		var siTemp = {};
		$.each(rows, function (index) {
			siTemp.id = Number(rows[index].siCd);
			siTemp.text = rows[index].siNm;
			
			jsonObj.siCd = rows[index].siCd;
			$.ajax({
				contentType : "application/json; charset=utf-8",
				type        : "POST",
				url         : "/select/common.getAreaDongCode/action",
				dataType    : "json",
				data        : JSON.stringify(jsonObj),
				async       : false,
				beforeSend: function (xhr) {
					// 전송 전 Code
				},
			}).done(function (result2) {
				const rows2 = result2.rows;
		    	if(rows2=='sessionOut'){
					alert('로그인 시간이 만료되었습니다.');
					closeWindow();
				}
				var dongTemp = [];
				var dongTemp2 = [];
				$.each(rows2, function (index2) {
					dongTemp.id = Number(rows2[index2].dongCd);
					dongTemp.text = rows2[index2].dongNm;
					
					dongTemp2.push({id: dongTemp.id, text: dongTemp.text});
				});
				siTemp.children = dongTemp2;
			});			
			areaData.push({id: siTemp.id, text: siTemp.text, children: siTemp.children});
		});
		$('#selectSpaceCombo').combotree('loadData',areaData);
 	}).fail(function (xhr) {
		console.log(JSON.stringify(xhr));
	}).always(function() {
		
	});
	
	jsonObj.userId = '${admin.id}';
	$.ajax({
		contentType : "application/json; charset=utf-8",
		type        : "POST",
		url         : "/select/common.getEventGbnCode/action",
		dataType    : "json",
		data        : JSON.stringify(jsonObj),
		async       : false,
		beforeSend: function (xhr) {
			// 전송 전 Code
		},
	}).done(function (result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		$('#selectGbnCombo').combobox('loadData',rows);
	});
}
</script>

<div class="west_fold">
	<a class="open_panel_btn" href="javascript:onOffPanel(1);"></a>
</div>
<div class="west_unfold">
	<div id="eventContainer">
		<div class="list_menu_title">이벤트 관제</div>
		<ul class="tabs">
			<li rel="eventOccur">발생이벤트</li>
			<li rel="eventEnd">종료이벤트</li>
		</ul>
		<div class="tab_container">
			<div class="search_content">
				<ul>
					<!-- <li>
						<a id="eventStat" href="javascript:$('#selectStatCombo').combobox('showPanel');"></a>
						<select id="selectStatCombo" class="combo_select" style="width:90px; height:30px;" data-options="onChange:selectEvent">
							<option value="">처리상태</option>
							<option value="10">사건 발생</option>
							<option value="33">처리 지연</option>
							<option value="50">확인</option>
						</select>
					</li> -->
					<li>
						<a id="eventSpace" href="javascript:$('#selectSpaceCombo').combobox('showPanel');"></a>
						<select id="selectSpaceCombo" class="easyui-combotree" style="width:90px; height:30px;"
			             		data-options="idField:'code',textField:'name', onChange:selectEvent,
			             					value:['행정구역'],panelWidth: 150,labelPosition:'top',multiple:true"></select>
					</li>
					<li style="width: 90px;">
						<a id="eventGbn" href="javascript:$('#selectGbnCombo').combobox('showPanel');"></a>
						<input type="text" id="selectGbnCombo" style="width:90px; height:30px;"
								data-options="valueField: 'code',textField: 'name', onChange:selectEvent,
											value:'이벤트구분',panelWidth: 152,panelHeight: 'auto',formatter: formatItem">
					</li>
					<li style="width: 85px;margin-left:3px;">
						<input type="checkbox" id="map_yn"/>
						<label for="map_yn">지도 내 검색</label>
					</li>
				</ul>
				<ul>
					<li style="width: 185px;margin-top: -5px;">
						<input id="selectEvtDtl" class="easyui-textbox" style="width:170px; height:30px;padding-left: 15px;"data-options="prompt:'이벤트내용'">
					</li>
					<li style="float: right;">
						<a class="btn btnSelect" href="javascript:selectEvent()">조회</a>
					</li>
			    </ul>
			</div>
			
			<div id="eventOccur" class="tab_content">
				<div id="eventOccurTable" ></div>
			</div>
			
			<div id="eventEnd" class="tab_content">
				<div id="eventEndTable"></div>
			</div>
		</div>
	</div>
	<a class="close_panel_btn" href="javascript:onOffPanel(0);"></a>
</div>

<div id="loading">
	<img src="/images/loading.gif">
</div>

<script type="text/javascript">
var grid;
function selectEvent(callback, callbackOption) {
	if(mapManager.eventSourceClear != null){
		mapManager.map.removeLayer(mapManager.eventSourceClear);
	}
	
	if(mapManager.eventCarSourceClear != null){
		mapManager.map.removeLayer(mapManager.eventCarSourceClear);
	}
	
	if(mapManager.eventOverlay){
		mapManager.map.removeOverlay(mapManager.eventOverlay);
		mapManager.eventOverlay = null;
	}
	
	if(typeof(grid) != "undefined") grid.destroy();

	const jsonObj = {};
	
	var spaceVal = [];
	if($('#selectSpaceCombo').combotree('getValues').length > 1) {
		spaceVal = $('#selectSpaceCombo').combotree('getValues');
		spaceVal.pop();
	}
	var gbnVal;
	if($('#selectGbnCombo').combobox('getText') != "이벤트구분") {
		gbnVal = $('#selectGbnCombo').combobox('getValue');
	}
	
	jsonObj.userId = '${admin.id}';
	jsonObj.evtSpace = spaceVal;	//행정구역
	jsonObj.evtGbn = gbnVal;		//이벤트구분
	jsonObj.evtDtl = $("#selectEvtDtl").val();
	//jsonObj.evtStat = $('#selectStatCombo').combobox('getValue');	//처리상태
	
	var flag = $("ul.tabs li.active").attr('rel').substr(5);
	if(flag=="Occur") jsonObj.pageKind = "eventM";
	else jsonObj.pageKind = "eventE";
	mapManager.eventFlag = flag;
	
	if($('#map_yn').prop('checked')) {
		var extent = mapManager.map.getView().calculateExtent(mapManager.map.getSize());

		var posSW = ol.proj.transform([extent[0], extent[1]], mapManager.projection, 'EPSG:4326').toString().replace(',',' ');
		var posNW = ol.proj.transform([extent[0], extent[3]], mapManager.projection, 'EPSG:4326').toString().replace(',',' ');
		var posSE = ol.proj.transform([extent[2], extent[1]], mapManager.projection, 'EPSG:4326').toString().replace(',',' ');
		var posNE = ol.proj.transform([extent[2], extent[3]], mapManager.projection, 'EPSG:4326').toString().replace(',',' ');
		
		var mapBound = posNW+','	//북서
					   +posNE+','	//북동
					   +posSE+','	//남동
					   +posSW+','	//남서
					   +posNW;

		jsonObj.mapBound = mapBound;
	}
	
	$.ajax({
		contentType : "application/json; charset=utf-8",
		type        : "POST",
		url 		: "/select/event.selectEventList/action",
		dataType    : "json",
		data        : JSON.stringify(jsonObj),
		async       : false
	}).done(function(result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		grid = new tui.Grid({
			el: document.getElementById('event'+flag+'Table'),
			data: rows,
			scrollX: false,
			scrollY: true,
			bodyHeight: Number((innerHeight>988?988:innerHeight)-250),
			rowHeaders: ['rowNum'],
			rowHeight: 'auto',
			pageOptions: {
				useClient: true,
				perPage: 20
			},
			columns: [
				{
					header: '유형',
					name: 'evtNm',
					sortable: true
				},
				{
					header: '주소',
					name: 'evtPlace',
					sortable: true,
					width: 110,
					filter: {
			            type: 'text',
			            operator: 'OR'
			          }
				},
				{
					header: '발생일자',
					name: 'evtOcrYmdHms',
					sortable: true,
					width: 83,
					filter: {
			            type: 'date',
			            format: 'yyyy.MM.dd'
			          }
				}
			]
		});
		
		grid.on('click', function (ev) {
			if(typeof(ev.rowKey) == "undefined") return;
			var record = {
					start: [ev.rowKey, 0],
					end: [ev.rowKey, grid.getColumns().length]
			}
			grid.setSelectionRange(record);
		});
		
		setEventDraw(jsonObj, '', callback, callbackOption);
		
		$('#event'+flag+'Table tbody').off('click');
		$('#event'+flag+'Table tbody').on( 'mousedown', 'tr', function (e) {
			const currentPage = grid.getPagination().getCurrentPage() - 1;
			const itemsPerPage = grid.getPagination()._options.itemsPerPage;
			const rowIndex = this.rowIndex + (itemsPerPage * currentPage);
			var rows = grid.getRow(rowIndex);
			rows.eventKind = mapManager.eventFlag;
			mapManager.setCenter(ol.proj.transform([rows.lon, rows.lat], 'EPSG:4326', mapManager.projection));
			mapManager.eventOverlay = createEventPopupOverlay(rows);
			mapManager.map.addOverlay(mapManager.eventOverlay);
		});
	});
}

function formatItem(row) {
	var imgNm = '';
	if(row.code != null) imgNm = row.code.toLowerCase();
	/* var imgNorUrl = "../images/icons/event_"+imgNm+"_nor.png";
	var imgNorBckgrd = "url(../images/icons/event_"+imgNm+"_nor.png) no-repeat left center";
	var s = '<span id="gbn'+imgNm+'" style="background: '+imgNorBckgrd+'" onmouseover=hover(this,"'+imgNm+'"); onmouseout=unhover(this,"'+imgNm+'");>'
			+'<p>'+row.name+'</p></span>';
	if(row.code=='null')
		s = '<span style="line-height: 46px;margin-left: 10px;">' + row.name + '</span>'; */
		
	var s = '<span style="line-height: 46px;margin-left: 10px;">' + row.name + '</span>';
    return s;
}

function hover(element,imgNm) {
	var imgOverBckgrd = "url(../images/icons/event_"+imgNm+"_over.png) no-repeat left center";
	if(element.style.background.indexOf('nor') > -1) element.style.background = imgOverBckgrd;
}
function unhover(element,imgNm) {
	var imgNorBckgrd = "url(../images/icons/event_"+imgNm+"_nor.png) no-repeat left center";
	if(element.style.background.indexOf('over') > -1) element.style.background = imgNorBckgrd;
}

function onOffPanel(flag) {
	var mapCenter = mapManager.map.getView().getCenter();
	if(flag) {
		$('.west_unfold').show();
		$('.center_layout').css('width','calc(100% - 320px)');$('.center_layout').css('left','320px');
		$('#searchAddrWrap').removeClass('ch');
	}
	else {
		$('.west_unfold').hide();
		$('.center_layout').css('width','100%');$('.center_layout').css('left','0px');
		$('#searchAddrWrap').addClass('ch');
	}
	mapManager.map.updateSize();
	mapManager.setCenter(mapCenter);
}
</script>
