<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <aside class="accordion_menu accordion">
        <th:block th:with="municipality=${@environment.getProperty('municipality.name')}">
        <ul class="accordion">
            <li id="station">
                <a href="/pages/inqry/station">개소 관리</a>
            </li>
            <li id="facilities">
                <a href="/pages/inqry/facilities">시설물 관리</a>
            </li>
            <li th:if="${municipality == '41210000' or municipality == '26290000'}" id="smartPole" class="multi">
                <a href="#smartPole">스마트 폴</a>
                <ul class="accordion_sub_menu">
                    <li th:if="${municipality == '41210000'}" id="eventSmartPole"><a href="/pages/inqry/eventSmartPole">스마트 폴 이벤트</a></li>
                    <li th:if="${municipality == '26290000'}" id="eventFaceDetection"><a href="/pages/inqry/eventFaceDetection">용의자 · 실종자 검출</a></li>
                    <!--<li th:if="${municipality == '45210000'}" id="poleElectricity"><a href="/pages/inqry/poleElectricity">전력량 조회</a></li>-->
                </ul>
            </li>
            <li th:if="${municipality == '41210000' or municipality == '47210000'}" id="smartBusStop" class="multi">
                <a href="#smartBusStop">스마트 정류장</a>
                <ul class="accordion_sub_menu">
                    <li id="eventSmartBusStop"><a href="/pages/inqry/eventSmartBusStop">스마트 정류장 이벤트</a></li>
                    <!--<li th:if="${municipality == '41210000'}" id="busStopElectricity"><a href="/pages/inqry/busStopElectricity">전력량 조회</a></li>-->
                </ul>
            </li>
            <li th:if="${municipality == '41210000'}" id="peopleCount">
                <a href="/pages/inqry/peopleCount">유동인구 조회</a>
            </li>
            <li th:if="${municipality == '41210000'}" id="electricity" class="multi">
                <a href="#electricity">전력량 조회</a>
                <ul class="accordion_sub_menu">
                    <li id="electricityBus"><a href="/pages/inqry/electricityBus">스마트 버스 전력량</a></li>
                    <li id="electricitySunlight"><a href="/pages/inqry/electricitySunlight">태양광 전력량</a></li>
                    <li id="electricityLampWalk"><a href="/pages/inqry/electricityLampWalk">스마트 보안등 전력량</a></li>
                    <li id="electricityBikeCharging"><a href="/pages/inqry/electricityBikeCharging">자전거 충전소 전력량</a></li>
                </ul>
            </li>
            <li th:if="${municipality == '45210000'}" id="smartCabinet" class="multi">
                <a href="#smartCabinet">스마트 분전반</a>
                <ul class="accordion_sub_menu">
                    <li id="eventSmartCabinet"><a href="/pages/inqry/eventSmartCabinet">스마트 분전반 이벤트</a></li>
                </ul>
            </li>
            <li th:if="${municipality == '45210000'}" id="smartDrone" class="multi">
                <a href="#smartDrone">스마트 드론</a>
                <ul class="accordion_sub_menu">
                    <li id="eventSmartDrone"><a href="/pages/inqry/eventSmartDrone">스마트 드론 이벤트</a></li>
                </ul>
            </li>
            <!--<li th:if="${municipality == '45210000'}" id="five">
                <a href="#five">통신 로그 조회</a>
            </li>-->
        </ul>
        </th:block>
    </aside>
</th:block>
</html>