<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <aside class="accordion_menu accordion">
        <th:block th:with="municipality=${@environment.getProperty('municipality.name')}">
        <ul class="accordion">
            <li id="one" class="multi">
                <a href="#one">이벤트 조회<span>20</span></a>
                <ul class="accordion_sub_menu"> <!--임시 css-->
                    <li id="event1"><a href="/pages/inqry/event1">스마트 도시 이벤트<span>0</span></a></li>
                    <li id="event2"><a href="/pages/inqry/event2">시설물 장애 이벤트<span>0</span></a></li>
                    <li th:if="${municipality == '45210000'}" id="eventCabinet"><a href="/pages/inqry/eventCabinet">스마트분전함 이벤트<span>0</span></a></li>
                    <li th:if="${municipality == '45210000'}" id="eventDron"><a href="/pages/inqry/eventDron">드론 관제 이벤트<span>0</span></a></li>
                </ul>
            </li>
            <li id="station">
                <a href="/pages/inqry/station">개소 관리<span>26</span></a>
            </li>
            <li id="facilities">
                <a href="/pages/inqry/facilities">시설물 관리<span>58</span></a>
            </li>
            <li th:if="${municipality == '45210000'}" id="five">
                <a href="#five">통신 로그 조회</a>
            </li>
            <li th:if="${municipality == '45210000'}" id="six">
                <a href="#six">전력량 조회</a>
            </li>
            <li th:if="${municipality == '26290000'}" id="faceDetection">
                <a href="/pages/inqry/faceDetection">용의자 · 실종자 검출</a>
            </li>
        </ul>
        </th:block>
    </aside>
</th:block>
</html>