<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="addressSearch">
<link rel="stylesheet" type="text/css" href="/css/dark/addressSearch.css">
<div class="map-srch-wrap">
	<div class="map-srch-form">
		<ul class="checkbox">
			<li>
				<input type="checkbox" name="mapSrchForm" id="mapSrchForm01" onclick="onCheckBox(this)" checked>
				<label for="mapSrchForm01"></label>
				<label for="mapSrchForm01" >주소/장소</label>
			</li>
			<li>
				<input type="checkbox" name="mapSrchForm" id="mapSrchForm02" onclick="onCheckBox(this)">
				<label for="mapSrchForm02"></label>
				<label for="mapSrchForm02">시설물 검색</label>
			</li>
		</ul>
		<dl class="search">
			<dt>
				<input type="text" id="searchKeyword" placeholder="검색어를 입력하세요" onkeydown="if(event.keyCode==13){searchPlaces(this)}"/>
			</dt>
			<dd class="button" onclick="searchPlaces(this)"></dd>
		</dl>
	</div>
	<div class="search-list">
	</div>
	<ul id="searchCctvPagination"></ul>
</div>

<script src="/js/addressSearch.js"></script>
<script>
function onCheckBox(chk){
	if(chk != ''){
		var obj = document.getElementsByName("mapSrchForm");
	    for(var i=0; i<obj.length; i++){
	        if(obj[i] != chk){
	            obj[i].checked = false;
	        }
	    }
	}
	mapManager.removeOverlayById('searchCctvSelected');
    $('.search-list').html('');
    $('#searchKeyword').val('');
    $('#searchCctvPagination').html('');
    $('#searchCctvPagination').removeAttr('class')
    $('.search-list').css('background','none');
}
</script>
</th:block>
</body>


</html>
