<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="socket">
<script type="text/javascript" src="/js/socket/socket.io.js"></script>
<script type="text/javascript" src="/js/socketPage.js"></script>
<!-- Socket 통신 -->
<script th:inline="javascript">
	var oConfigure = {
		evtLcMoveYn: 'N',
		headerTy: 'A'
	};
	var webSoc;
	$(function() {
		try {
		    let host =[[${serverName}]];
			var serverName = 'http://' + host + ':8020';
			webSoc = io.connect(serverName);
			webSoc.on('evtStart', function(evt) {
				if(typeof(evt.fcltId) != "undefined") {
					moveCctvMarker(evt);
				} else {
					var evtPrgrsCd = evt.evtPrgrsCd;
					
					if(typeof evtPrgrsCd != 'undefined') {
						selectEvent();
					}
					
					if (evtPrgrsCd == '10') {
						try {
							var audio = new Audio('/sound/siren.mp3');
							audio.play();
							openEventAlert(evt);
						}
						catch (err) {
							console.log(err);
						}
					}
				}
			});
			
			webSoc.on('evtEnd', function(evt) {
				selectEvent();
			});
		}
		catch (err) {
			console.log('io.connect(url) - error :  ' + err);
		}
	});
</script>
</th:block>
</body>
</html>