<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
<link rel="stylesheet" type="text/css" href="/css/dark/oprt.css">
<link rel="stylesheet" type="text/css" href="/css/jstree/style.css">

<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="/js/ckeditor/ckeditor.js"></script>
<script src="/js/import/jquery.easyui.min.js"></script>
<script src="/js/jstree/jstree.js"></script>
<script src="/js/jstree/jstree.min.js"></script>
<script src="/js/common.js"></script>

<title>운영</title>
</head>
<body>
	<header>
		<th:block th:insert="view/oprt/header :: header">
		</th:block>
	</header>
	<div class="oprt-main"></div>
</body>
</html>