<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">이벤트그룹 관리</h4>
<ul class="list-condi">
	<li class="list">
		<em>그룹아이디</em>
		<input type="text" id="searchGrpId" style="width:250px;" placeholder="" onkeypress="if(event.keyCode==13){reload();}"/>
		<em>그룹명</em>
		<input type="text" id="searchGrpNm" style="width:250px;" placeholder="" onkeypress="if(event.keyCode==13){reload();}"/>
		<em>사용유형</em>
		<select class="easyui-combobox" id="searchUseType" onChange="reload()">
			<option value="Y">사용</option>
			<option value="N">미사용</option>
		</select>
		<a href="#" class="select-btn" onclick="reload()">검색</a>
	</li>
</ul>

<table id="oprtUserEventGrpTable" title="" style="width:99%;height:85%;"></table>

<ul class="right-btn">
	<li class="btn-insert" onClick="addEventGroupPopup()">추가</li>
	<li class="btn-modify" onClick="modifyEventGroupPopup()">수정</li>
	<li class="btn-delete" onClick="deleteEventGroup()">삭제</li>
</ul>
<script th:inline="javascript">
$(document).ready(function(){
	reload();
});

function reload(){
	
	const jsonObj = {};
	jsonObj.searchGroupId = $('#searchGrpId').val();
	jsonObj.searchGroupName = $('#searchGrpNm').val();
	jsonObj.useYn = $('#searchUseType').val();
	
	$('#oprtUserEventGrpTable').datagrid({
	    url:'/selectList/oprt.selectEventGroupList/action.do',
	    pagination:true,
	    pageSize:18,
	    queryParams : {
			pageSize: 18,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
			/* {field: 'check', checkbox: true, width:'5%', align:'center'}, */
			{field: 'rnum', title: '번호', width:'5%', align:'center'},
	        {field: 'groupId', title: '그룹아이디', width:'20%', align:'center'},
			{field: 'groupName', title: '그룹이름', width:'20%', align:'center'},
			{field: 'content', title: '그룹설명', width:'20%', align:'center'},
			{field: 'useYnNm', title: '사용유형', width:'10%', align:'center'},
			{field: 'updateDate', title: '수정일자', width:'20%', align:'center'}
	    ],
	    /* onDblClickRow:function(index, row) {
	    	openEventGroupDetailPopup(index, row);
	    }, */
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    }
	});
}

//function openEventGroupDetailPopup(index, row) {
function modifyEventGroupPopup() {
	var row = $('#oprtUserEventGrpTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}
	
	const jsonObj = {};
	jsonObj.groupId = row.groupId;

    $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.selectEventGroupList/action.do",
            dataType   : "json",
            data       : {
                "param" : JSON.stringify(jsonObj)
            },
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
        	selectedData = rows;
        	
            
            const path = "oprt/popup/oprtUserEventGrpPopup";
        	console.log(path);
        	common.openDialogPopPosition("oprtUserEventGrpPopup", "이벤트그룹-상세", "710", "600", "true", "/action/page.do", {path: path}, path.split("/")[2]);

    }).fail(function (xhr) {
        
    }).always(function() {

    });
}

function addEventGroupPopup() {
	
    const path = "oprt/popup/oprtUserEventGrpPopup";
	console.log(path);
	common.openDialogPopPosition("oprtUserEventGrpPopup", "이벤트그룹 신규 등록", "710", "600", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}

function deleteEventGroup() {
	var chkRows = $('#oprtUserEventGrpTable').datagrid('getSelected');
	if(chkRows != null) {
		if(confirm("삭제하시겠습니까?")) {
			
			const jsonArray1 = [];
			const jsonArray2 = [];
			const jsonArray3 = [];
			const jsonArray4 = [];
			
			const jsonObj = {};
			jsonObj.rowStatus = "D";
			jsonObj.groupId = chkRows.groupId;
			
			
			jsonArray1[0] = jsonObj;
		    jsonArray2[0] = jsonObj;
			
		    $.ajax({
		            type       : "POST",
		            url        : "/multiTransaction/oprt.deleteEventGroup/oprt.deleteEventGroupDetail/{sqlid3}/{sqlid4}/action.do",
		            dataType   : "json",
		            data : {
		            	"param1" : JSON.stringify(jsonArray1),
		                "param2" : JSON.stringify(jsonArray2),
		                "param3" : JSON.stringify(jsonArray3),
		                "param4" : JSON.stringify(jsonArray4)
		            },
		            async      : false,
		            beforeSend : function(xhr) {
		                // 전송 전 Code
		            }
		        }).done(function (result) {
		        if (result == "SUCCESS") {
		            $('#oprtUserEventGrpTable').datagrid('reload');
		            alert("삭제 완료");
		        }
		        else {
		            alert("삭제 실패");
		        }
		    }).fail(function (xhr) {
		        alert("삭제 실패");
		    }).always(function() {

		    });
		}
	}
	else {
		alert('선택 된 정보가 없습니다.');
		return;
	}
}

</script>