<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="map">
<link rel="stylesheet" type="text/css" href="/css/dark/map.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/dark/reset.css"> -->
<link rel="stylesheet" href="/css/map/ol.css" >
<link rel="stylesheet" href="/css/map/ol-contextmenu.css">
<link rel="stylesheet" href="/css/video/connectDialog.css">
<link rel="stylesheet" href="/css/video/video.css">
<link rel="stylesheet" href="/css/log.css">
<!-- <link rel="stylesheet" href="/css/jquery/jquery-ui.css"> -->

<div class="map-option">
	<ul class="map-type">
		<li onclick="clickMapType(this);" id="btnRoadmap" title="지도" class="active">지도</li>
		<li onclick="clickMapType(this);" id ="btnSkyview" title="스카이뷰">스카이뷰</li>
	</ul>
	<div class="layer-btns">
		<a href="#" id="layerArea" class="img-area" title="레이어"><img src="../images/icons/icon_mapOption10.png"></a>
		<div class="map-layer-area">
			<!-- <dl class="top-area">
				<dt>레이어</dt>
				<dd>
					<a id="lineLayer" title="라인">라인</a>
					<a id="btnLayer" title="CCTV">CCTV</a>
					<a id="btnSafe" title="생활안전지도">생활안전지도</a>
					<a id="btnAir" title="대기환경">대기환경</a>
				</dd>
			</dl> -->
			<p>레이어</p>
			<ul class="top-area tabs" id="layerTabs">
				<li class="item active" data-target="airTab">
					<img src="/images/icons/icon_mapOption13.svg"/>
					<span>대기환경</span>
				</li>
				<!-- <li class="item" data-target="lineTab">
					<img src="/images/icons/icon_mapOption15.svg"/>
					<span>라인</span>
				</li> -->
				<li class="item" data-target="cctvTab">
					<img src="/images/icons/icon_mapOption14.svg"/>
					<span>CCTV</span>
				</li>
				<li class="item" data-target="safeTab">
					<img src="/images/icons/icon_mapOption16.svg"/>
					<span>생활안전</span>
				</li>
			</ul>
			<dl class="bottom-area tab-view active" id="airTab">
				<dt>대기환경</dt>
				<dd>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airKhai" data-id="khai"/>
						<label for="airKhai">통합대기</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airPm10" data-id="pm10"/>
						<label for="airPm10">미세먼지</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airPm25" data-id="pm25"/>
						<label for="airPm25">초미세먼지</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airYsnd" data-id="ysnd"/>
						<label for="airYsnd">황사</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airO3" data-id="o3"/>
						<label for="airO3">오존</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airNo2" data-id="no2"/>
						<label for="airNo2">이산화질소</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airCo" data-id="co"/>
						<label for="airCo">일산화탄소</label>
					</span>
					<span class="radio-wrap">
						<input type="radio" name="air" id="airSo2" data-id="so2"/>
						<label for="airSo2">아황산가스</label>
					</span>
				</dd>
			</dl>
			<dl class="bottom-area tab-view" id="lineTab">
				<dt>라인</dt>
				<dd>
					
				</dd>
			</dl>
			<dl class="bottom-area tab-view" id="cctvTab">
				<dt>CCTV</dt>
				<dd>
					
				</dd>
			</dl>
			<dl class="bottom-area tab-view" id="safeTab">
				<dt>생활안전</dt>
				<dd>
					
				</dd>
			</dl>
		</div>
	</div>
	<ul class="map-option-btn">
		<li id="roadview" title="로드뷰"><img src="../images/icons/icon_mapOption01.png"></li>
		<li id="mapZoomIn" title="확대"><img src="../images/icons/icon_mapOption02.png"></li>
		<li id="mapZoomOut" title="축소"><img src="../images/icons/icon_mapOption03.png"></li>
		<li id="mapDistance" title="거리재기" class="draw"><img src="../images/icons/icon_mapOption04.png"></li>
		<li id="mapArea" title="면적재기" class="draw"><img src="../images/icons/icon_mapOption05.png"></li>
		<li id="mapRadius" title="반경재기" class="draw"><img src="../images/icons/icon_mapOption06.png"></li>
		<li id="mapClear" title="지우기"><img src="../images/icons/icon_mapOption07.png"></li>
		<li id="btnVideoSort" title="영상정렬"><img src="../images/icons/icon_mapOption08.png"></li>
		<li id="btnVideoTransparent" title="영상투명화"><img src="../images/icons/icon_mapOption09.png"></li>
	</ul>
</div>
<div class="map-line-layer"></div>
<div class="map-layer"></div>
<div class="map-safe"></div>

<div class="map-area" id="map">
	<!-- <dl>
		<dd></dd>
	</dl> -->
</div>

<div class="minimap">
	<dl>
		<dd class='map-address'></dd>
		<dt id='minimap'><!-- 여기에 미니맵! --></dt>
	</dl>
</div>

<div id="legendLayer" class="air-legend">
	<div class="category">
		<div class="inner">
			<ul class="tabs" id="airTabs">
				<li class="category"><a href="#" id="khai" data-id="airKhai">통합대기지수</a></li>
				<li class="category"><a href="#" id="pm10" data-id="airPm10">미세먼지</a></li>
				<li class="category"><a href="#" id="pm25" data-id="airPm25">초미세먼지</a></li>
				<li class="category"><a href="#" id="ysnd" data-id="airYsnd">황사</a></li>
				<li class="category"><a href="#" id="o3" data-id="airO3">오존</a></li>
				<li class="category"><a href="#" id="no2" data-id="airNo2">이산화질소</a></li>
				<li class="category"><a href="#" id="co" data-id="airCo">일산화탄소</a></li>
				<li class="category"><a href="#" id="so2" data-id="airSo2">아황산가스</a></li>
			</ul>
		</div>
	</div>
	<p class="date">
		기준 : <span data-id="airdate">매시 정각 업데이트(1시간 단위)</span>
	</p>
	<ul class="air-density-bar" id="airDensity">
		<li class="item">
			<span class="bar blue"></span>
			<span class="unit">좋음 0~50</span>
		</li>
		<li class="item">
			<span class="bar green"></span>
			<span class="unit">보통 51~100</span>
		</li>
		<li class="item">
			<span class="bar orange"></span>
			<span class="unit">나쁨 101~250</span>
		</li>
		<li class="item">
			<span class="bar red"></span>
			<span class="unit">매우나쁨 251~</span>
		</li>
		<li class="item">
			<span class="bar unknown"></span>
			<span class="unit">정보없음</span>
		</li>
	</ul>
	<p class="desc">
		실시간관측자료이며, 현지 사정에 의해 오차가 발생할 수 있습니다. <span class="unit">(단위:ppm)</span>
	</p>
</div>

<!-- <div class="map-address"></div> -->
<script type="text/javascript" src="/js/api/layer.js"></script>
<script type="text/javascript" src="/js/openlayers3/proj4js.js"></script>
<script type="text/javascript" src="/js/openlayers3/ol3.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps-tunneling/sdk.js?appkey=8a0ebda8876bb68f663ceb77b22a5a51&libraries=services,clusterer"></script>
<script type="text/javascript" src="/js/slideMenu.js"></script>
<script type="text/javascript" src="/js/openlayers3/ol-contextmenu.js"></script>
<script type="text/javascript" src="/js/map/map_init.js"></script>
<script type="text/javascript" src="/js/map/map.js"></script>
<script type="text/javascript" src="/js/openlayers3/map_ol3.js"></script>
<script type="text/javascript" src="/js/common.js"></script>

<script src="/js/log.js"></script>

<!-- 영상 관련 -->
<script src="/js/video/video.util.js"></script>
<script src="/js/video/connectDialog.js"></script>
<script src="/js/video/preset.js"></script>

<!-- kurento 영상 연결 -->
<script src="/js/constant/constant-real.js"></script>
<script src="/js/kurento/midsvr.js"></script>
<script src="/js/kurento/video.js"></script>
<script src="/js/kurento/adapter.js"></script>
<script src="/js/kurento/kurento-client.js"></script>
<script src="/js/kurento/kurento-utils.js"></script>

<!-- xeus 영상 연결 -->
<script src="/js/xeus/xeus.player.2.0.2.js"></script>

<script src="/js/simplePagination/simplePagination.js"></script>
<script th:inline="javascript">
var safemap1, safemap2, safemap3, safemap4, safemap5, safemap6, safemap7, safemap8;
$(document).ready(function(){
	const param = {};
	//var purpose = getLayerPurpose('btnLayerHidden');
	//var safe = getSafeMap('btnSafeHidden');
	
	//lineData
	//var lineLayer = getLayerCode('lineLayerHidden');
	
	// 비디오 옵션 세팅
	const videoOption = {
		midServerIp : [[${serverName}]],
		mediaAuthority : [[${session.admin.mediaAuthority}]],
		clientIp : [[${session.clientIp}]]
	};
	
	videoManager.init(videoOption);
	
	$('input[name="air"]').bind({
		'click' : function(e) {
			const prev = $(this).parent().parent().data('prev');
			const prevId = prev === undefined || prev === '' ? '' : prev.prop('id');
			const curId = $('input[name="air"]:checked').prop('id'); 
			
			if(prevId !== '') mapManager.getVectorLayer(prevId).setVisible(false);
			if(prevId === curId) {
				$(this).prop('checked', false);
				$(this).parent().parent().data('prev', '');
				airLegend.hide();
				return;
			}
			mapManager.getVectorLayer(curId).setVisible(true);
			
			$(this).parent().parent().data('prev', $('input[name="air"]:checked'));
			airLegend.setDatas($(this).data('id'));
			airLegend.show();
		}
	})
	
	//기능 유지
	$('#roadview').click(function(){
		$('#roadview').toggleClass('active');
		mapManager.btnRoadview(this.className)
	});
	$('#mapDistance').click(function(){
		var clickClass = clickDrawBtn(this,'LineString');
		if(clickClass != -1){
			$(this).removeClass('active');
			return;
		}
		addInteraction('LineString','draw');
	});
	$('#mapArea').click(function(){
		var clickClass = clickDrawBtn(this,'Polygon');
		if(clickClass != -1){
			$(this).removeClass('active');
			return;
		}
		addInteraction('Polygon','draw');
	});
	$('#mapRadius').click(function(){
		var clickClass = clickDrawBtn(this,'Circle');
		if(clickClass != -1){
			$(this).removeClass('active');
			return;
		}
		measureCircle('Circle');
	});

	//기능유지 필요없음
	$('#mapZoomIn').click(function(){
		mapBtnFunc.zoomIn();
	});
	$('#mapZoomOut').click(function(){
		mapBtnFunc.zoomOut();
	});
	$('#mapClear').click(function(){
		clearDraw();
	});
	
	$('#btnVideoSort').click(function() {
		dialogManager.sortDialog();
	});
	$('#btnVideoTransparent').click(function() {
		$(this).toggleClass('active');
		$('#map .dialog').toggleClass('transparent');
	});
	
	$('#layerArea').click(function(){
		$(this).parent().toggleClass('active');
	})
	
	$('#btnLayer').click(function(){
		$(this).toggleClass('active');
		clickBtnLayer('btnLayerHidden')
	})
	
	$('#lineLayer').click(function(){
		$(this).toggleClass('active');
		clickLineLayer('lineLayerHidden');
	});
	
	$('#btnSafe').click(function(){
		$(this).toggleClass('active');
		clickBtnSafe('btnSafeHidden');
	});
	
	$('#layerTabs > li').bind({
		'click' : function(e) {
			const targetId = $(this).data('target'); 
			$('#layerTabs > li').removeClass('active');
			$('.tab-view').removeClass('active');
			$(this).addClass('active');
			$('#' + targetId).addClass('active');
		}
	});
	
	$('#airTabs > li').bind({
		'click' : function(e) {
			airLegend.setDatas($(this).children('a').prop('id'));
		}
	});
	
	setSafeLayerItem('safeTab');
	getCctvLayerData('cctvTab')
	
	const logParent = $('#map');
	commonLog.init(logParent);
	
	//param.purposeSpace = purpose;
	setCctvDraw(param);
});

function clickMapType(target) {
	$('.map-type li').removeClass("active");
	$(target).addClass("active");
	if(target.id == "btnRoadmap") {
		mapManager.switchTileMap(target.id);
	} else if(target.id == 'btnSkyview'){
		mapManager.switchTileMap(target.id);
	}
}

function clickDrawBtn(target,drawType){
	var clickClass = $(target).attr('class').indexOf('active')
	$('.draw').removeClass('active');
	$(target).addClass('active');
	var interaction = mapManager.getInteraction(drawType);
	mapManager.map.removeInteraction(interaction);
	return clickClass;
}//clickOptionBtn

</script>
</th:block>
</body>
</html>
