@charset "utf-8";
/* CSS Document */

/* layout */
html, body{width:100%; height:100%; font-size:14px; letter-spacing:-0.6px; font-family:'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif;}
.wrap{width:100%; height:100%; font-size:14px; letter-spacing:-0.5px; font-family: 'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif; color:#FFF; background:#212121;}


/* login */
.login-wrap{display:flex; justify-content:center; align-items:center; width:100%; height:100%; font-family: 'Nanumsquare', 'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif;}
.login-img{width:calc(100% - 480px); height:100%; background-size:100% 100%;}
.login-img dl{overflow:hidden; float:right; margin:8%; padding:0px 0px 0px 0px; line-height:4.2em; text-align:right; color:#FFF; background:url("../../images/login/login_txtBg.png") right top no-repeat;}
.login-img dl dd{margin:30px 0px 0px 0px; font-size:2.4em;}
.login-img dl dt{font-size:3em; font-weight:bolder;}

.login-form{display:flex; justify-content:center; align-items:center; width:480px; height:100%; background:#2b2b2b;}
.login-form form{width:100%; margin:0px 60px;}
.login-form form dl{width:100%; font-size:24px; color:#FFF;}
.login-form form dl dd{margin:20px 0px;}
.login-form form dl dd span{display:block; margin:10px 0px;}
.login-form form dl dd span input{width:calc(100% - 40px); height:60px; margin:0px; padding:0px 20px; background:#3f3f3f; border:none; border-radius:60px; color:#FFF; font-size:20px; font-weight:300;}
.login-form form dl dd span input:focus {outline:none;}
.login-form form dl dt{display:flex; justify-content:center; align-items:center; margin:40px 0px;}
.login-form form dl dt span{width:50%; display:inline-block; vertical-align:middle; margin:0px; padding:0px;}
.login-form form dl dt span input{margin:0px; padding:0px;}
.login-form form dl dt span button{width:100%; height:60px; margin:0px; padding:0px; font-size:24px; color:#FFF; font-weight:500; background:#3f87f5; border:none; border-radius:60px; cursor:pointer;}
.login-form form dl dd.forgot{margin:40px 0px; font-size:20px; text-align:right; color:#888; cursor:pointer;}
.login-form form dl dd.forgot:hover{text-decoration:underline;}

input[type=checkbox] { display:none; }
input[type=checkbox] + label {display:inline-block; width:24px; height:24px; margin:-4px 8px; line-height:24px; cursor:pointer; background:url('../../images/login/chb_blue.png') 0px 0px no-repeat;}
input[type=checkbox]:checked + label { background: url('../../images/login/chb_blue.png') 0px -24px; }

.login-fail{flex:1; margin:0px 60px;}
.login-fail dt{width:100%;}
.login-fail dt span{display:block; margin:22px 0px; color:#FFF; font-size:18px; line-height:34px; text-align:center;}
.login-fail dt span.txt-bold{font-size:24px; font-weight:600;}
.login-fail dd{height:60px; margin:0px 60px; background:#3f3f3f; border-radius:60px; cursor:pointer;}
.login-fail dd span{display:inline-block; vertical-align:middle;}
.login-fail dd span.icon{width:50px; height:50px; margin:5px; background:#585858; border-radius:50px;}
.login-fail dd span.icon img{margin:13px 16px;}
.login-fail dd span.txt{margin:0px 0px 0px 10%; color:#FFF; font-size:24px; font-weight:600;}
.login-fail dd:hover{background:#4f4f4f;}
.login-fail dd:hover span.icon{background:#686868;}

.main-wrap{width:100%; height:100%; background:#2b2d30;}
.main-top{width:100%; height:60%; background:url(../../images/intro/main_bg.png) center center no-repeat; background-size:100%;}
/* header */
header{display:flex; justify-content:space-between; align-content:center; height:59px; border-bottom:1px solid rgba(255,255,255,0.2);}
.logo{line-height:59px; padding:0px 20px; font-size:20px; color:#FFF; font-weight:bold; font-family: 'Nanumsquare', 'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif;}
.utmenu{display:flex; justify-content:center; align-items:center; padding:0px 20px; font-size:15px; color:#FFF;}
.utmenu li{margin:0px 0px 0px 20px; cursor:pointer; opacity:0.4;}
.utmenu li:first-child{pointer-events: none;}
.utmenu li:hover{opacity:1;}
.utmenu li span{display:inline-block; vertical-align:middle; color: #FFF;}
.utmenu li span.icon{margin:0px 4px 0px 0px;}

.main-cont{display:flex; justify-content:space-between; align-items:center; height:calc(100% - 140px); margin:40px 10% 40px;}

.visual{overflow:hidden; position:relative; flex:0.46; height:100%; margin:0px 40px 0px 0px; border-radius:3px;}
.visual-txt{z-index:1000; position:absolute; top:40px; left:40px; color:#FFF; font-family: 'Nanumsquare', 'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif;}
.visual-txt dd{font-size:18px;}
.visual-txt dt{font-size:24px; margin:0px 0px 10px 0px;}

.visual-slide-area{position:relative; width:100%; height:100%;}
.visual-slider {display: none;}
/* Slideshow container */
.visual-cont{width:100%; height:100%; position:relative; margin:auto;}
.visual-cont img{vertical-align:middle; width:100%; height:100%;}
/* The dots/bullets/indicators */
.slideshow-button{position:absolute; left:0; right:0; bottom:30px;}
.dot{display:inline-block; width:15px; height:15px; margin:0 6px; background-color:#888; border-radius:50%; transition:background-color 0.6s ease;}
.active{background-color:#ffc000;}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.disabled {pointer-events: none; opacity: 0.5;}

.visual-slider{overflow:hidden; position:relative; display:block; word-wrap:normal; width:100%; height:100%;}
.visual-slider ul{position:relative; white-space:nowrap;}
.visual-slider ul li{overflow:hidden; position:relative; display:inline-block; white-space:normal; vertical-align:top; width:100%; height:100%;}
.visual-slider ul li img{width:100%; height:100%;}

.gnb{flex:1; height:100%;}
.gnb .gnb-default{display:flex; justify-content:space-between;height:calc(60% - 20px); margin:0px 0px 20px 0px;}
.gnb .gnb-default li{flex:1; margin:0px 10px 0px 0px; padding:40px; background:url("../../images/intro/bg_monitoring.png") right bottom #3f87f5 no-repeat; border-radius:3px; cursor:pointer;}
.gnb .gnb-default li:hover{background:url("../../images/intro/bg_monitoring.png") right bottom #2677f3 no-repeat;}
.gnb .gnb-default li:nth-child(2){margin:0px 0px 0px 10px; background:url("../../images/intro/bg_dashboard.png") right bottom #a0d1f9 no-repeat;}
.gnb .gnb-default li:nth-child(2):hover{background:url("../../images/intro/bg_dashboard.png") right bottom #7cc1fa no-repeat;}
.gnb .gnb-default li span{display:block; font-size:18px; color:#FFF;}
.gnb .gnb-default li span.title{margin:0px 0px 10px 0px;font-size:24px; font-weight:bold;}
.gnb .gnb-default li:nth-child(2) span{color:#333;}

.gnb .gnb-slide{display:flex; justify-content:space-between; height:40%;}
.gnb .gnb-slide li{position:relative; flex:1; margin:0px 10px; padding:24px; background:#4c5767; border-radius:3px; cursor:pointer;}
.gnb .gnb-slide li:first-child{margin:0px 10px 0px 0px;}
.gnb .gnb-slide li:last-child{margin:0px 0px 0px 10px;}
.gnb .gnb-slide li:hover{background:#576d8a;}
.gnb .gnb-slide li span{display:block; font-size:18px; color:rgba(255,255,255,0.4);}
.gnb .gnb-slide li span.title{color:#FFF; margin:0px 0px 10px 0px;}
.gnb .gnb-slide li span.icon{position:absolute; right:24px; bottom:24px;}

.main-bottom{display:flex; justify-content:center; align-items:center; height:calc(40% - 100px); margin:40px 10% 0px;}
.portlet{height:100%; background:#36393d; border-radius:3px;}

.port-notice{flex:3; margin:0px 40px 0px 0px;}
.port-link{flex:1;}

.port-title{width:100%; height:59px; border-bottom:1px solid rgba(255,255,255,0.1); display:flex; justify-content:space-between; align-items:center;}
.port-title dt{padding:0px 20px; font-size:20px; font-weight:600; color:#FFF;}
.port-title dd{padding:20px; border-left:1px solid rgba(255,255,255,0.1); cursor:pointer;}
.port-title dd:hover{background:rgba(255,255,255,0.03);}

.port-list{overflow:auto; width:calc(100% - 40px); height:calc(100% - 135px); margin:20px 20px 10px;}
.port-list li{overflow:hidden; margin:4px 20px; line-height:28px; color:rgba(255,255,255,0.4); font-size:16px; cursor:pointer;}
.port-list li.new{color:#FFF;}
.port-list li:hover{background:rgba(255,255,255,0.03);}
.port-list li span{display:inline-block;}
.port-list li span.txt{float:left; width:calc(70% - 8px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:0px 0px 0px 8px; background:url("../../images/intro/list_bull.png") left center no-repeat;}
.port-list li span.date{float:right; width:14%;}
.port-list li span.name{float:right; width:calc(16% - 80px); margin:0px 40px;}

.link-list{display:flex; flex-wrap:wrap; /* justify-content:space-around; */ overflow:auto; height:calc(100% - 80px); margin:10px;}
.link-list li{width:114px; margin:0px 30px 20px; text-align:center; cursor:pointer;}
.link-list li span{display:block;}
.link-list li span.icon{width:80px; height:80px; margin:0px auto 10px; vertical-align:middle; background:#42474d; border-radius:70px;}
.link-list li:hover{font-weight:bold;}
.link-list li:hover span.icon{background:#4e5763;}
.link-list li span.icon img{width:50px; height:50px; margin:14.5px 0px;}
.link-list li span.txt{font-size:16px; color:#FFF; white-space: nowrap;}

/* footer */
footer{width:100%; height:60px; line-height:60px; font-size:13px; text-align:center; color:#585858;}

/*bodyContents*/

/* popup */
.popup{position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); overflow:hidden; width:680px; height:600px; background:#36393d; border-radius:5px; box-shadow:0px 0px 15px rgba(0,0,0,0.8);}
.popup-tit{display:flex; justify-content:space-between; align-items:center; width:100%; height:59px; border-bottom:1px solid #2b2d30; background:rgb(54,57,61); background:linear-gradient(90deg, rgba(54,57,61,1) 0%, rgba(43,45,48,1) 100%); font-family: 'Nanumsquare', 'Noto Sans KR','Apple SD Gothic','맑은고딕','NanumGothic',sans-serif;}
.popup-tit dt{width:calc(100% - 86px); margin:0px 0px 0px 26px; font-size:20px; color:#FFF; font-weight:600; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.popup-tit dd{width:60px; height:60px; text-align:center; cursor:pointer;}
.popup-tit dd:hover{background:rgba(255,255,255,0.05);}
.popup-tit dd img{width:20px; height:20px; margin:20px 0px;}
.popup-cont{overflow:auto; height:calc(100% - 184px); margin:30px 0px; padding:0px 30px; font-size:14px; color:#FFF;}
.popup-cont h5{padding:0px 0px 20px 0px; line-height:26px; font-size:20px; border-bottom:2px solid rgba(255,255,255,0.1);}
.popup-cont ul{margin:10px 0px; padding:0px 0px 14px 0px; font-size:15px; border-bottom:1px solid rgba(255,255,255,0.1);}
.popup-cont ul li{line-height:24px;}
.popup-cont ul li span{display:inline-block; vertical-align:middle;}
.popup-cont ul li span.head{margin:0px 10px 0px 0px;}
.popup-cont p{font-size:15px; line-height:32px;}
/* .popupBtn{float:right; height:34px; margin:0px 30px 30px 0px;}
.popupBtn li{display:inline-block; height:34px; line-height:34px; padding:0px 20px; color:rgba(255,255,255,0.4); background:#494e56; border-radius:3px; cursor:pointer;}
.popupBtn li:hover{color:#FFF; background:#565e69;}
.popupBtn li.active{color:#FFF; background:#3f87f5;} */






