@import "map_popup.css";

.map-option{z-index:10; position:absolute; top:10px; right:10px; display:flex;}
.map-option ul.map-type, .map-option ul.map-option-btn{overflow:hidden; display:flex; margin:0px 0px 0px 4px; padding:3px; background:#2b2d30; border-radius:3px; box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.map-option ul.map-type li, .map-option ul.map-option-btn li{padding:8px 10px; border-radius:3px; cursor:pointer;}
.map-option ul.map-type li:hover, .map-option ul.map-option-btn li:hove{background:#36393d;}
.map-option ul.map-type li.active, .map-option ul.map-option-btn li.active{background:#3f87f5;}
.map-option ul.map-type li{margin:0px 3px 0px 0px;}
.map-option ul.map-type li:last-child{margin:0px;}
.map-option ul.map-option-btn{padding:0px;}
.map-option ul.map-option-btn li{border-right:1px solid rgba(255,255,255,0.08); border-radius:0;}
.map-option ul.map-option-btn li:last-child{border:none;}
.map-option ul.map-option-btn li img{opacity:0.2;}
.map-option ul.map-option-btn li:hover img{opacity:0.6;}
.map-option ul.map-option-btn li.active img{opacity:1;}

.map-option div.layer-btns{position:relative; display:flex; margin:0px 0px 0px 4px; padding:0px; background:#2b2d30; border-radius:3px; box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.map-option div.layer-btns a{padding:8px 10px; border-radius:3px; cursor:pointer;}
.map-option div.layer-btns a:hover{background:#36393d;}
.map-option div.layer-btns.active a.img-area{background:#3f87f5;}
.map-option div.layer-btns a:last-child{border:none;}
.map-option div.layer-btns dl dt{}

/* minimap style*/
.minimap{z-index:10; position:absolute; right:10px; bottom:10px; width:260px; height:260px; box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.minimap dl{display:flex; flex-direction:column; width:100%; height:100%;}
.minimap dl dd{width:calc(100% - 16px); height:20px; padding:4px 8px; line-height:20px; font-size:13px; color:#FFF; background:#2b2d30; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.minimap dl dt{width:calc(100% - 2px); height:calc(100% - 28px); background:#2b2d30; border:1px solid #2b2d30;}
.minimap dl dt .custom-overview-map{width:100%; height:100%; position:relative; padding:0;}
.minimap dl dt .custom-overview-map button{display:none;}
.minimap dl dt .custom-overview-map .ol-overviewmap-map{height:100%;}

.toggled ~ .map-area {
	width: 100%;
    left: 0px;
}
.map-area {
	width: calc(100% - 341px);
	height: 100%;
	position: absolute;
	left: 341px;
	top: 0;
	overflow: hidden;
}

.ol-ctx-menu-container {z-index:13;}

.ol-tooltip-static, .ol-tooltip-measure{
	color: black;
	font-size : 25px;
}

/* map cctv slide menu */
.ol-overlay-container .slide-popup {
	display: flex;
    position: relative;
    background-color: #2b2d30;
    border-radius: 13px 13px 13px 13px;
    justify-content: center;
    border: 1px solid #ccc;
}

.ol-overlay-container .slide-popup .menu-wrap {
	margin: 0 8%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.ol-overlay-container .slide-popup .menu-wrap ul {
	list-style-type: none;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	transition: left .5s, right .5s;
	justify-content: space-between;
	display: flex;
}

.ol-overlay-container .slide-popup > a.img-box {
	position: absolute;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	top: 0;
	bottom: 0;
	width: 25px;
}

.ol-overlay-container .slide-popup .left-zero {
	left: 0;
}

.ol-overlay-container .slide-popup .right-zero {
	right: 0;
}

.ol-overlay-container .slide-popup .img-box img {
	width: 25px;
}

.map-layer-area {
	display: none;
	position: absolute;
	top: 47px;
	right: -140px;
	width: 290px;
	height: 241px;
	background-color: #2b2d30;
	z-index: 1;
	flex-direction: column;
	padding: 10px;
	border-radius: 10px;
}

.layer-btns.active .map-layer-area {
	display: flex;
}

.map-layer-area ul.tabs li.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2px;
	width: 65px;
}

.map-layer-area ul.tabs li.item img {
	width: 30px;
	margin: 3px;
}

.map-layer {
	position: absolute;
    top: 47px;
    right: 10px;
    background: #36393d;
    z-index: 1;
}
.map-safe {
	position: absolute;
    top: 47px;
    right: 10px;
    background: #36393d;
    z-index: 1;
}
.map-line-layer {
	position: absolute;
    top: 47px;
    background: #36393d;
    z-index: 1;
    right: 31em;
}

.evt-selected-overlay img {
	width: 80px;
}

.dialog-selected-overlay img {
	width: 60px;
}

.search-cctv-selected-overlay img {
	width: 60px;
}

.get-preset-btn {
	cursor: pointer;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	border: 2px solid #fff;
	text-align: center;
	background-color: #2b2d30;
}

.get-preset-btn.selected {
	background-color: #3f87f5;
}

.get-preset-btn span{
	font-size: 20px;
	color: #fff;
}

.get-preset-btn.selected span {
	color: #fff;
}

.get-preset-btn img {
	width: 24px;
}

.map-layer-area .top-area {
	height: 30%;
	display: flex;
	justify-content: space-around;
}

.map-layer-area ul.tabs li:hover {
	cursor: pointer;
}

.map-layer-area ul.tabs li:hover::before {
	content: "";
	background-color: #36393d;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: absolute;
	z-index: -1;
	top: 30px;
}

.map-layer-area ul.tabs li.active::before {
	content: "";
	background-color: #3f87f5;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	position: absolute;
	z-index: -1;
	top: 30px;
}

.map-layer-area .bottom-area {
	height: 70%;
	display:none;
}

.map-layer-area .bottom-area.active {
	display:block;
}

.radio-wrap {
	width: 49%;
	display: inline-block;
}

.checkbox-wrap {
	width: 49%;
	display: inline-block;
}

.air-legend {
	display: none;
	background-color: #2b2d30;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
	position: absolute;
	bottom: 10px;
	right: 20em;
	z-index: 10;
}

.air-legend .category {
	margin: 0 0 5px 0;
}

.air-legend .category .inner {
	
}

.air-legend .category .inner ul {
	display: flex;
	width: 550px;
	align-items: center;
	justify-content: space-between;
	height: 30px;
}

.air-legend .category .inner ul li {
	padding: 8px;
	background-color: #36393d;
	border-radius: 5px;
}

.air-legend .category .inner ul li:hover {
	background-color: #36393d;
}

.air-legend .category .inner ul li.active {
	background-color: #3f87f5;
}

.air-legend .category .inner ul li a {
	color: #ddd;
	text-decoration: none;
	font-size: 12px;
}

.air-legend .date {
	margin: 2px 0 2px 0;
	font-size: 12px;
	color: #eee;
}

.air-legend ul.air-density-bar {
	display: flex;
	padding: 10px 0px 10px 0px;
}

.air-legend ul.air-density-bar li.item {
	width: 110px;
	height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.air-legend ul.air-density-bar li.item:first-child span.bar {
	border-radius: 5px 0 0 5px;
}

.air-legend ul.air-density-bar li.item:last-child span.bar {
	border-radius: 0 5px 5px 0;
}

.air-legend ul.air-density-bar li.item span.bar {
	width: 100%;
	text-align: center;
	height: 2px;
	padding: 2px 0 2px 0;
}

.air-legend ul.air-density-bar li.item span.unit {
	font-size: 12px;
	color: #eee;
}

.air-legend .desc {
	font-size: 11px;
	text-align: right;
	color: #a0a0a0;
}

span.bar.blue {
	background-color: #2499fd;
}

span.bar.green {
	background-color: #7ddc1e;
}

span.bar.orange {
	background-color: #ff7e00;
}

span.bar.red {
	background-color: #f92927;
}

span.bar.unknown {
	background-color: #8f8e8e;
}