header {
	float: left;
	height: 100%;
	font: inherit;
}

nav {
	height: 100%
}

.test-menu {
	width: 199px;
    height: 100%;
    border-right: 1px solid rgba(255,255,255,0.1);
    background: #2b2d30;
}

.test-menu ul {
	overflow: auto;
    height: calc(100% - 40px);
    padding: 20px;
}

.test-menu ul li.active {
	color: #FFF;
    background: #3f87f5;
}

.test-menu ul li {
    margin: 0px 0px 10px 0px;
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255,255,255,0.4);
    border-radius: 3px;
    cursor: pointer;
}

.test-main {
	display: flex;
    width: calc(100% - 200px);
    height: 100%;
    background: #2b2d30;
}

.test-container {
	height: 100%;
	width: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul, li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content:none;}
table{border-collapse:collapse; border-spacing:0;}

/* input */
input[type=checkbox] {display:none;}
input[type=checkbox] + label {display:inline-block; width:24px; height:24px; margin:-6px 8px; line-height:24px; cursor:pointer; background:url('../images/testPage/chb_blue.png') 0px 0px no-repeat;}
input[type=checkbox]:checked + label {background:url('../images/chb_blue.png') 0px -24px;}

/* 하단 고정버튼 */
.popupBtn{float:right; height:34px; margin:0px 30px 30px 0px;}
.popupBtn li{display:inline-block; height:34px; line-height:34px; padding:0px 20px; 
	color:rgba(255,255,255,0.4); background:#494e56; border-radius:3px; cursor:pointer;}
.popupBtn li:hover{color:#FFF; background:#565e69;}
.popupBtn li.active{color:#FFF; background:#3f87f5;}

/* scroll bar */
::-webkit-scrollbar{width:5px; height:7px;}
::-webkit-scrollbar-button{width:0px; height:0px;}
::-webkit-scrollbar-thumb{background:#36393d; border:0px none #ffffff; border-radius:30px;}
::-webkit-scrollbar-thumb:hover{background:#494e56;}
::-webkit-scrollbar-thumb:active{background:#494e56;}
::-webkit-scrollbar-track{background:#27282b; border:0px none #ffffff; border-radius:50px;}
::-webkit-scrollbar-track:hover{background:#27282b;}
::-webkit-scrollbar-track:active{background:#27282b;}
::-webkit-scrollbar-corner{background:#27282b;}

/* layout */
html, body{width:100%; height:100%; background:#242628; color:#fff; font-family:'NanumGothic','Noto Sans KR','Apple SD Gothic','맑은고딕',sans-serif, "돋움","Dotum","Arial";}
.wrap{display:flex; justify-content:center; align-items:center; width:100%; height:100%;}
/* Shared for all accordion types */
.lnb{width:240px; height:100%; background:#2b2d30;}
.lnbHeader{display:flex; height:70px; padding:0px 20px; align-items:center; justify-content:space-between; color:#FFF; cursor:pointer;}
.lnbHeader dd{width:16%;}
.lnbHeader dd img{}
.lnbHeader dt{}
.lnbMenu{width:100%;}
.lnbMenu li{margin:0px; padding:0px; cursor:pointer;}
/*.lnbMenu li:hover{background:#494e56;}*/
.lnbMenu li.on{background:#3f87f5;}
.lnbMenu li p{width:100%; height:100%;}
.lnbMenu li .lnbSubMenu{color:#FFF;}
.lnbMenu li .lnbSubMenu li{padding:0px 0px;}

/*
.lnbMenu{list-style:none; margin:0; padding:0;}
.lnbMenu li{margin:0px; padding:0px;}
*/
.lnbMenu [type=radio], .accordion [type=checkbox]{display:none;}
.lnbMenu label{display:block; font-size:16px; line-height:16px; background:#2b2d30; color:#FFF; text-transform:uppercase; -webkit-transition: all .2s ease-out; -moz-transition: all .2s ease-out; cursor:pointer;}
.lnbMenu li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label{padding:18px 20px; background:#3f87f5; color:#FFF;}
.lnbMenu .content{overflow:hidden; -webkit-transition: all .5s ease-out; -moz-transition: all .5s ease-out;}
.lnbMenu .content .lnbSubMenu{}
.lnbMenu .content .lnbSubMenu li{padding:12px 20px;}
.lnbMenu .content .lnbSubMenu li:hover{background:#494e56;}

/* Vertical */
.lnbMenu li{overflow:hidden; margin:0 0 1px;}
.lnbMenu li label{padding:10px;}
.lnbMenu [type=radio]:checked ~ label, .lnbMenu [type=checkbox]:checked ~ label{}
.lnbMenu li label:hover{}
.lnbMenu li .content{height:0px; border-top:0;}
.lnbMenu [type=radio]:checked ~ label ~ .content, .lnbMenu [type=checkbox]:checked ~ label ~ .content{height:auto; border-bottom:1px solid #494e56;}

.container{flex:8; height:calc(100% - 120px); padding:60px;}
.container h2{width:100%; height:40px; margin:0px 0px 20px 0px; line-height:40px; font-size:18px;  /*background:rgba(255,255,255,0.2);*/}
.container .inquiryForm{display:flex; justify-content:flex-start; align-items:center; height:34px; margin:0px 0px 20px 0px; font-size:14px; /*background:rgba(255,255,255,0.2);*/}
.container .inquiryForm .calendar{flex:0.3; position:relative; background:#36393d; border:none; border-radius:3px;}
.container .inquiryForm .calendar dt{width:calc(100% - 44px);}
.container .inquiryForm .calendar dt input{width:calc(100% - 36px); padding:9.5px 18px; color:#FFF; background:#36393d; border:none; border-radius:3px;}
.container .inquiryForm .calendar dt input:focus{outline:none;}
.container .inquiryForm .calendar dd{position:absolute; top:0px; right:10px; padding:5.5px; cursor:pointer;}
.container .inquiryForm .calendar dd img{width:20px; height:20px;}
.container .inquiryForm p{margin:0px 8px;}
.container .inquiryForm .periodButton{flex:1; display:flex; align-items:center; margin:0px 0px 0px 10px;}
.container .inquiryForm .periodButton li{margin:0px 2px; padding:7px 10px;}
.container .inquiryForm .periodButton li span.radio{width:100%; height:100%;}
.container .inquiryForm .periodButton li.inquiryButton{margin:0px 10px; padding:10px 26px; background:#36393d; border-radius:3px; cursor:pointer;}
.container .inquiryForm .periodButton li.inquiryButton:hover{background:#494e56;}
.container .inquiryForm .periodButton li.inquiryButton.on{background:#3f87f5;}

input[type="radio"] {display:none;}
input[type="radio"] + label {padding:18px 20px; cursor:pointer;}
input[type="radio"] + label span.round{display:inline-block; width:22px; height:22px; margin:-2px 9px 0 4px; font-size:0; vertical-align:middle; background:url('../images/testPage/radioBg.svg') no-repeat; cursor:pointer;}
input[type="radio"]:checked + label span.round {background:url('../images/testPage/radioBgChked.svg') no-repeat;}

.container .inquiryList{width:100%; height:calc(100% - 114px);}
.inquiryListTable{width:100%; height:100%; overflow:auto; border-bottom:2px solid #36393d; font-size:14px;}
.inquiryListTable li.inquiryListThead{padding:4px 0px; background:#36393d;}
.inquiryListTable li.inquiryListThead span.button{width:80px; padding:8px 0px; background:none; cursor:auto;}
.inquiryListTable li.inquiryListThead span.button:hover{background:none;}
.inquiryListTable li{display:flex; align-items:center; justify-content:space-around; padding:8px 0px; border-bottom:2px solid #36393d;}
.inquiryListTable li span{width:calc(14.28% - 80px); text-align:center;}
.inquiryListTable span.button{width:80px; padding:8px 0px; background:#36393d; border-radius:3px; cursor:pointer;}
.inquiryListTable span.button:hover{background:#494e56;}


.container .inputWrap{display:flex; width:100%; height:calc(100% - 114px); margin:0px 0px 20px 0px;}
.container .inputWrap .inputForm{width:100%; height:100%;}
.container .inputWrap .inputForm ul{overflow:auto; width: 100%; height:100%; margin:0px 10px 0px 0px; padding:0px 10px 0px 0px;}
.container .inputWrap .inputForm ul li{display:flex; align-items:center; justify-content:flex-start;  padding:10px 0px; border-bottom:2px solid #36393d; font-size:13px;}
.container .inputWrap .inputForm ul li p{float:left;}
.container .inputWrap .inputForm ul li p.inputTh{flex:0.2;}
.container .inputWrap .inputForm ul li p.inputTh span.dot{padding:0px 4px; color:#ff5151; font-weight:bold;}
.container .inputWrap .inputForm ul li p.inputTd{flex:1;}
.container .inputWrap .inputForm ul li p.inputTd input{width:calc(100% - 20px); padding:9.5px 10px; background:#36393d; border:none; font-size:13px; color:#FFF; border-radius:3px;}
.container .inputWrap .inputForm ul li p.inputTd input:focus{outline:none;}
.container .inputWrap .inputForm ul li p.inputTd select{width: 100%; padding:8.5px 10px; font-size:13px; color:#FFF; background:#36393d; border:none; border-radius:3px; cursor:pointer;}
.container .inputWrap .inputForm ul li p.inputTd select:focus{outline:none;}
.container .inputWrap .inputForm ul li p.inputTd textarea{width:calc(100% - 20px); min-height:60px; padding: 10px; background:#36393d; border: none; border-radius: 3px; color:#FFF; resize:none;}
.container .inputWrap .inputForm ul li p.inputTd textarea:focus{outline:none;}
.container .inputWrap .inputForm ul li div.inputTd{flex:1; padding:9.5px 10px; background:#36393d; border:none; font-size:13px; color:#FFF; border-radius:3px;}
.container .inputWrap .inputForm ul li div.inputTd .buttonFile{background:#; color:#FFF; border-radius:3px; border:none; cursor:pointer;}

.container .inputWrap .inputPreview{width:512px; height:636px; background:darkseagreen;}
.contInputButton{width:100%; height:34px;}
.contInputButton ul{display:flex; align-items:center; justify-content:flex-end;}
.contInputButton ul li{height:34px; line-height:34px; margin:0px 0px 0px 6px; padding:0px 18px; background:#36393d; border-radius:3px; cursor:pointer;}
.contInputButton ul li:hover{background:#494e56;}
.contInputButton ul li.on{background:#3f87f5;}

