<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">드론 관제시스템</title>
    <!--    <meta name="description" content="Latest updates and statistic charts">-->
    <!--    <meta name="viewport" content="width=device-width, user-scalable=no, initial-sca le=1.0, maximum-scale=3.0, minimum-scale=1.0"/>-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>-->
    <!--    <meta property="og:type" content="website"/>-->
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="context-path" th:href="@{/}"/>

    <!-- common css files -->
    <link rel="stylesheet" type="text/css" href="css/default/layout.css">

    <!-- common javascript files-->
    <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="/webjars/axios/0.21.1/dist/axios.js"></script>
    <script src="/js/default/default.js" defer></script>
    <script src="/js/common/common.js" defer></script>
    <th:block th:insert="/view/commons/map"/>
</head>

<body>
    <div class="wrap">
        <header th:include="fragments/default/header :: headerFragment">
        </header>

        <th:block layout:fragment="content">
        </th:block>

        <footer layout:fragment="footer">
            <th:block th:replace="fragments/default/footer :: footerFragment">
            </th:block>
        </footer>
    </div>
</body>

</html>