.calendar {
  padding: 0px;
  overflow: hidden;
	height: 180px !important;
}
.calendar table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
  height: 100%;
  background-color: #2d2d2e;
}
.calendar table td,
.calendar table th {
  font-size: 12px;
  border: 1px solid #000;
  vertical-align: middle;
  color: #fff;
}
.calendar-noborder {
	border: 0;
}
.calendar-header {
	position: relative;
	height: 34px;
	/* background: #2d2c2e; */
}
.calendar-title {
    text-align: center;
    height: 34px;
}
.calendar-title span {
    position: relative;
    display: inline-block;
    top: 15px;
    padding: 0 3px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
	color: #bebebe;
}
.calendar-prevmonth,
.calendar-nextmonth,
.calendar-prevyear,
.calendar-nextyear,
.calendar-close {
  position: absolute;
  top: 23px;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  font-size: 1px;
  /* -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px; */
}
.calendar-prevmonth {
  left: 35px;
  background: url('../../../images/icons/calendar/calendar_month_before_nor.png') no-repeat center center;
  /* background: url('images/calendar_arrows.png') no-repeat -18px -2px; */
}
.calendar-prevmonth:hover {
  background: url('../../../images/icons/calendar/calendar_month_before_over.png') no-repeat center center;
}
.calendar-prevmonth:active {
  background: url('../../../images/icons/calendar/calendar_month_before_sel.png') no-repeat center center;
}
.calendar-nextmonth {
  right:35px;
  background: url('../../../images/icons/calendar/calendar_month_next_nor.png') no-repeat center center;
}
.calendar-nextmonth:hover {
  background: url('../../../images/icons/calendar/calendar_month_next_over.png') no-repeat center center;
}
.calendar-nextmonth:active {
  background: url('../../../images/icons/calendar/calendar_month_next_sel.png') no-repeat center center;
}
.calendar-prevyear {
  left: 10px;
  background: url('../../../images/icons/calendar/calendar_year_before_nor.png') no-repeat center center;
}
.calendar-prevyear:hover {
  background: url('../../../images/icons/calendar/calendar_year_before_over.png') no-repeat center center;
}
.calendar-prevyear:active {
  background: url('../../../images/icons/calendar/calendar_year_before_sel.png') no-repeat center center;
}
.calendar-nextyear {
  right: 10px;
  background: url('../../../images/icons/calendar/calendar_year_next_nor.png') no-repeat center center;
  /* background: url('images/calendar_arrows.png') no-repeat -49px -2px; */
}
.calendar-nextyear:hover {
  background: url('../../../images/icons/calendar/calendar_year_next_over.png') no-repeat center center;
}
.calendar-nextyear:acitve {
  background: url('../../../images/icons/calendar/calendar_year_next_sel.png') no-repeat center center;
}

.calendar-close {
	/* right: 0px;
	top: 8px;
	background: url('../../../images/icons/calendar/popup_icon_closed_nor.png') no-repeat center center; */
}
.calendar-close:hover {
  background: url('../../../images/icons/calendar/popup_closed_over.png') no-repeat center center;
}
.calendar-close:acitve {
  background: url('../../../images/icons/calendar/popup_closed_sel.png') no-repeat center center;
}

.datebox-calendar-panel{
	width: 250px !important;
	/* left: 270px !important;
	top: 400px !important;
	border-radius: 0 !important; */
}
.datebox-calendar-div{
	width: 250px !important;
	background: none !important;
	border-bottom: 0 !important;
	border-radius: 0 !important;
}
.datebox-calendar-inner {
	background: #363738;
}

.calendar-body {
  position: relative;
    padding: 10px;
}
.calendar-body th,
.calendar-body td {
  text-align: center;
}

.calendar-body th {
	background: #5c5e61;
    /* border: solid #d7d7d7;
    border-width: 1px 0; */
    padding: 4px 0;
}

.calendar-body th:first-child {
    color: #ff0000;
}

.calendar-body th:last-child {
color:#456df0;
}

.calendar-other-month {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.calendar-disabled {
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: default;
}
.calendar-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 150px;
  padding: 5px;
  font-size: 12px;
  display: none;
  overflow: hidden;
}
.calendar-menu-year-inner {
  text-align: center;
  padding-bottom: 5px;
  background-color: #2d2d2e;
}
.calendar-menu-year {
  width: 50px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  outline-style: none;
  resize: none;
  margin: 0;
  padding: 2px;
  font-weight: bold;
  font-size: 12px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.calendar-menu-prev,
.calendar-menu-next {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: top;
  cursor: pointer;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.calendar-menu-prev {
  margin-right: 10px;
  background: url('../../../images/icons/calendar/calendar_year_before_nor.png') no-repeat center center;
}
.calendar-menu-prev:hover {
	background: url('../../../images/icons/calendar/calendar_year_before_over.png') no-repeat center center;
}
.calendar-menu-next {
  margin-left: 10px;
  background: url('../../../images/icons/calendar/calendar_year_next_nor.png') no-repeat center center;
}
.calendar-menu-next:hover {
	background: url('../../../images/icons/calendar/calendar_year_next_over.png') no-repeat center center;
}
.calendar-menu-month {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
	/* color: #fff; */
}
/* .calendar-body th,
.calendar-menu-month {
  color: #ffffff;
} */
.calendar-day {
  color: #fff;
  border: 0;
  padding: 1px;
  cursor: pointer;
  border-radius: 0;
}
.calendar-day:hover {
  background-color: #2a9bf8;
  color: #fff;
}
.calendar-sunday {
  color: #CC2222;
}
.calendar-saturday {
  color: #30678e;
}
.calendar-today{
	background: none;
    color: #017ee5;
}
.calendar-menu-year {
  border-color: #000;
}
.calendar-body,
.calendar-menu {
	/* background: #fff; */
}
.calendar-hover,
.calendar-nav-hover,
.calendar-menu-hover {
  /* background-color: #777;
  color: #fff; */
  /* background: 0; */
}
.calendar-hover {
  border: 1px solid #555;
  padding: 0;
}
.calendar-selected {
  background-color: #017ee5 !important;
  color: #fff !important;
  border: 1px solid #00458a;
  padding: 0;
}

.datebox-button {
display:none;
padding:0 5px;
text-align:center;
}
.datebox-button a {
line-height:22px;
font-size:12px;
font-weight:bold;
text-decoration:none;
opacity:0.6;
filter:alpha(opacity=60);
}
.datebox-button a:hover {
opacity:1.0;
filter:alpha(opacity=100);
}
.datebox-current,
.datebox-close {
float:left;
}
.datebox-close {
float:right;
}
.datebox-button {
background-color:#000;
}
.datebox-button a {
color:#fff;
}


