<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/baseLayout}">

<th:block layout:fragment="content">

<nav class="pageLocation">
    <ul>
        <li><a href="#"><span class="icon"><img src="/images/common/iconHome.svg"></span>홈</a></li>
        <li><a href="#"><span class="icon"><img src="/images/common/iconNext.svg"></span>조회</a></li>
        <li><a href="#"><span class="icon"><img src="/images/common/iconNext.svg"></span>이벤트</a></li>
        <li><a href="#"><span class="icon"><img src="/images/common/iconNext.svg"></span>이벤트 조회</a></li>
    </ul>
</nav>
<div class="container">
    <div class="searchForm">
        <dl>
            <dt>기간</dt>
            <dd>
                <span><input id="eventStartDt" type="text" readonly/><span class="icon"><img src="/images/common/iconCalendar.svg"></span></span>
                <span class="line">-</span>
                <span><input id="eventEndDt" type="text" readonly/><span class="icon"><img src="/images/common/iconCalendar.svg"></span></span>
            </dd>
        </dl>
        <dl>
            <dt>이벤트 검색</dt>
            <dd><span><input id="eventKeyword" type="text" placeholder="수용가 번호를 입력하세요"></span></dd>
        </dl>
        <p id="getListEventBtn"><span class="buttonIcon"><img src="/images/common/iconSearch.svg"></span>조회</p>
        <p id="initSearchForm"><span class="buttonIcon"><img src="/images/common/iconRefresh.svg"></span>검색조건 초기화</p>
    </div>
    <div class="tableWrap">
        <div class="tableTitle">
            <h4>검색결과 <span></span>건</h4>
            <ul class="options">
                <li>
                    <span>목록개수</span>
                    <select id="eventListCntSel">
                        <option value="10">10개</option>
                        <option value="20" selected>20개</option>
                        <option value="30">30개</option>
                        <option value="50">50개</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="tableHead">
            <table id="eventTable">
                <colgroup>
                </colgroup>
                <thead>
                <tr>
                    <th>이벤트 명</th>
                    <th>검침 일시</th>
                    <th>수용가 번호</th>
                    <th>수용가 명</th>
                    <th>이벤트 고유번호</th>
                    <th>이벤트 시작일시</th>
                    <th>이벤트 종료일시</th>
                    <th>이벤트 처리여부</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</th:block>

</html>