<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area" id="user_popup">
	<div class="cont_inner" title="">
		<ul class="popup-list-area">
			<li class="list">
				<div class="popup-list-title">
					<em>아이디</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserId" class="easyui-textbox" 
						placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>패스워드</em>
				</div>
				<div class="popup-list-cont">
					<input type="password" id="popupUserPwd" class="easyui-textbox" 
						placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>패스워드 확인</em>
				</div>
				<div class="popup-list-cont">
					<input type="password" id="popupUserPwd2" class="easyui-textbox" 
						placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>이름</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserNm" class="easyui-textbox" 
						placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>생년월일</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserBirth" class="easyui-textbox" 
						onkeyup="inputBirthday(this)" maxlength="10" placeholder="ex) 1990.05.30"/>
				</div>
			</li>
			<li class="list" id="user_age_area">
				<div class="popup-list-title">
					<em>번호</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserTel" class="easyui-textbox"
						onkeyup="inputPhoneNumber(this)" maxlength="13" placeholder="ex) 010-1234-5678"/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>메일</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserEmail" class="easyui-textbox"
						placeholder="ex) human@email.com"/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>담당업무</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupUserWork" class="easyui-textbox"
						placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>조직</em>
				</div>
				<div class="popup-list-cont">
					<input type="text" id="popupGroupNm" class="easyui-textbox wide80"
						placeholder="조직을 선택해 주세요." disabled/>
						<a href="#" class="single-btn" id="groupPopBtn">
						<input type="hidden" id="popupGroupId">선택</a>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>권한</em>
				</div>
				<div class="popup-list-cont">
					<select class="easyui-combobox" id="popupUserAuth">
						<option value="admin">관리자</option>
						<option value="user">일반사용자</option>
					</select>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>영상권한</em>
				</div>
				<div class="popup-list-cont">
					<select class="easyui-combobox" id="popupUserMediaAuth">
						<option value="N">N</option>
						<option value="Y">Y</option>
						
					</select>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title">
					<em>이벤트그룹</em>
				</div>
				<div class="popup-list-cont">
					<select class="easyui-combobox" id="popupUserEvtGrp">
					</select>
				</div>
			</li>
		</ul>
		<ul class="center-btn">
			<li class="btn-cancle" onClick="closeUserPopup();">취소</li>
			<li class="btn-insert" onClick="saveUser();" id="saveUserBtn">저장</li>
			<li class="btn-modify" onClick="updateUser();" id="updateUserBtn">수정</li>
		</ul>
	</div>
</div>
<script th:inline="javascript">
	$(document).ready(function(){
		if (typeof(selectedData) != 'undefined' && selectedData != '') {
			setUserDetailData(selectedData[0]);
			console.log(selectedData[0]);
			setEventGroupBox(selectedData[0].eventGroupId);
		} else {
			$('#updateUserBtn').hide();
			setEventGroupBox();
		}
		
	});
	
	function setEventGroupBox(val) {
		common.getSelectBoxItem(
	            {
	                "el"                : "popupUserEvtGrp",
	                "sql"               : "oprt.selectEventGroupList",
	                "val"               : "groupId",
	                "text"              : "groupName",
	                //"isAllCheckCustom"	: "선택",
	                "userId"			: '${admin.id}'
	            });
		if (val) {
			$('#popupUserEvtGrp').val(val);
		}
		/* const jsonObj = {};
		$('#popupUserEvtGrp').combobox({
			url: "/select/common.selectEventGroupList/action.do",
			queryParams : {
				param : JSON.stringify(jsonObj)
			},
			width: '100%',
			height: '100%',
			valueField: 'groupId',
			textField: 'groupName',
			onLoadSuccess: function() {
				if (val) {
					$('#popupUserEvtGrp').combobox('setValue', val);
				}
			}
		}); */
	}
	
	function setUserDetailData(data) {
		$('#saveUserBtn').hide();
		$('#popupUserId').attr('disabled', true);
		
		$('#popupUserId').val(data.userId);
		$('#popupGroupId').val(data.groupId);
		$('#popupGroupNm').val(data.groupNm);
		//$('#popupUserPwd').val(data.password);
		$('#popupUserNm').val(data.userNm);
		$('#popupUserBirth').val(data.birthday);
		$('#popupUserTel').val(data.phoneNo);
		$('#popupUserEmail').val(data.email);
		$('#popupUserWork').val(data.rpsbWork);
		$('#popupUserAuth').val(data.authority);
		$('#popupUserMediaAuth').val(data.mediaAuthority);
	}
	
	function clearUserPopup() {
		$('#popupUserId').val('');
		$('#popupUserNm').val('');
		$('#popupUserBirth').val('');
		$('#popupUserTel').val('');
		$('#popupUserEmail').val('');
		$('#popupUserWork').val('');
		$('#popupUserAuth').val('');
		$('#popupUserMediaAuth').val('');
		$('#popupUserEvtGrp').val('');
		$('#popupGroupId').val('');
		$('#popupGroupNm').val('');
	}
	
	
	function closeUserPopup() {
		clearUserPopup();
	    $('#oprtPopupArea').dialog('close');
	}
	
	function updateUser() {
		const jsonObj = {};
		
		var password = $('#popupUserPwd').val();
		var password2 = $('#popupUserPwd2').val();
		var checkName = $('#popupUserNm').val();
		var groupId = $('#popupGroupId').val();
		var birthday = $('#popupUserBirth').val();
		var phoneNumber = $('#popupUserTel').val();
		var email = $('#popupUserEmail').val();
		var rpsbWork = $('#popupUserWork').val();
		
		if(password != '') {
			if(password != password2) {
				alert("비밀번호가 일치 하지 않습니다.");
				return false;
			}
			else jsonObj.password = $('#popupUserPwd').val();
			
			if(!fn_pw_check(password)) {
				return false;
			}
		}
		
		if(!checkNull(checkName, "이름을 입력해 주세요")){
			return false;
		}
		
		if(!checkNull(groupId, "조직을 선택해 주세요")){
			return false;
		}
	
		if(!birthdayCheck(birthday)){
			return false;
		}
		
		if(!phoneNumberCheck(phoneNumber)){
			return false;
		}
		
		if(!checkNull(email, "이메일을 입력해주십시오.\nex) human@email.com")){
			return false;
		}
		
		if(!checkNull(rpsbWork, "담당업무를 입력해주십시오.")){
			return false;
		}
		
		jsonObj.singleInsertSid = "oprt.updateUser";
	
		jsonObj.userId = $('#popupUserId').val();
	    jsonObj.name = checkName;
		jsonObj.birthday = birthday;
		jsonObj.phoneNo = phoneNumber;
		jsonObj.groupId = groupId; 
		jsonObj.email = email;
		jsonObj.rpsbWork = rpsbWork;
		jsonObj.eventGroupId = $('#popupUserEvtGrp').val();
		jsonObj.authority = $('#popupUserAuth').val();
		jsonObj.mediaAuthority = $('#popupUserMediaAuth').val();
	
	    $.ajax(
	        {
	            type       : "POST",
	            url        : "/multiAjax/action.do",
	            dataType   : "json",
	            data : {"param" : JSON.stringify(jsonObj)},
	            async      : false,
	            beforeSend : function(xhr) {
	                // 전송 전 Code
	            }
	        }).done(function (result) {
	        	console.log(result);
	        if (result == "SUCCESS")
	        {
	        	closeUserPopup();
	        	$('#oprtUserTable').datagrid('reload');
	            alert("수정 완료");
	        }
	        else
	        {
	            alert("수정 실패");
	        }
	        closeUserPopup();
	    }).fail(function (xhr) {
	        alert("수정 실패");
	    }).always(function() {
	
	    });
	}
	
	function saveUser() {
		const jsonObj = {};
		
		var password = $('#popupUserPwd').val();
		var password2 = $('#popupUserPwd2').val();
		var checkName = $('#popupUserNm').val();
		var checkId = $('#popupUserId').val();
		var groupId = $('#popupGroupId').val();
		var birthday = $('#popupUserBirth').val();
		var phoneNumber = $('#popupUserTel').val();
		var email = $('#popupUserEmail').val();
		var rpsbWork = $('#popupUserWork').val();
		
		if(checkId.length < 5){
			alert("아이디를 5자리 이상 입력해 주세요");
			return false;
		}
		
		if(password != '') {
			if(password != password2) {
				alert("비밀번호가 일치 하지 않습니다.");
				return false;
			}
			else jsonObj.password = $('#popupUserPwd').val();
		}
		
		if(!fn_pw_check(password)) {
			return false;
		}
		
		if(checkName == '' || checkName == 'undefined')
		{
			alert("이름을 입력해 주세요");
			return false;
		}
		
		if(groupId == '' || groupId == 'undefined')
		{
			alert("이름을 입력해 주세요");
			return false;
		}
		
		const checkDId =  (function() {
	        let rtnVal;
	        const jsonObj = {};
	        jsonObj.userId = $('#popupUserId').val();
	        
	        $.ajax({
				type       : "POST",
				url        : "/select/oprt.getCheckUserId/action.do",
				dataType   : "json",
				data       : {"param" : JSON.stringify(jsonObj)},
				async       : false,
				beforeSend : function(xhr) {
				    // 전송 전 Code
				}
			}).done(function (result) {
        		const rows = result.rows;
            	if(rows=='sessionOut'){
        			alert('로그인 시간이 만료되었습니다.');
        			closeWindow();
        		}
            	rtnVal = rows[0].idKey;
	        }).fail(function (xhr) {
	
	        }).always(function() {
	
	        });
	        return rtnVal;
	    })();
		
		if(checkDId > 0){
			alert("이미 존재하는 아이디 입니다.");
			return false;
		}
		
		if(checkName == null || checkName ==''){
			alert("이름을 입력해주십시오.");
			return false;
		}
	
		if(!birthdayCheck(birthday)){
			return false;
		}
		
		if(!phoneNumberCheck(phoneNumber)){
			return false;
		}
		
		if(email == null || email == ''){
			alert("이메일을 입력해주십시오.\nex) human@email.com");
			return false;
		}
		
		if(rpsbWork == null || rpsbWork == ''){
			alert("담당업무를 입력해주십시오.");
			return false;
		}
		
		
		jsonObj.singleInsertSid = "oprt.insertUser";
		jsonObj.userId = $('#popupUserId').val();
	    jsonObj.name = checkName;
		jsonObj.birthday = birthday;
		jsonObj.phoneNo = phoneNumber;
		jsonObj.email = email;
		jsonObj.groupId = groupId;
		jsonObj.rpsbWork = rpsbWork;
		jsonObj.eventGroupId = $('#popupUserEvtGrp').val();
		jsonObj.authority = $('#popupUserAuth').val();
		jsonObj.mediaAuthority = $('#popupUserMediaAuth').val();
	    $.ajax(
	        {
	            type       : "POST",
	            url        : "/multiAjax/action.do",
	            dataType   : "json",
	            data : {"param" : JSON.stringify(jsonObj)},
	            async      : false,
	            beforeSend : function(xhr) {
	                // 전송 전 Code
	            }
	        }).done(function (result) {
	        if (result == "SUCCESS")
	        {	
	        	closeUserPopup();
	        	$('#oprtUserTable').datagrid('reload');
	        	alert("등록 완료");
	        }
	        else
	        {
	            alert("등록 실패");
	        }
	        closeUserPopup();
	    }).fail(function (xhr) {
	        alert("등록 실패");
	    }).always(function() {
	
	    });
	}
	
	function inputBirthday(obj) {
		var number = obj.value.replace(/[^0-9]/g, "");
		var birthday = "";
		
		if(number.length < 5) {
			return number;
		} else if(number.length < 7) {
			birthday += number.substr(0, 4);
			birthday += ".";
			birthday += number.substr(4);
		} else if(number.length < 11) {
			birthday += number.substr(0, 4);
			birthday += ".";
			birthday += number.substr(4, 2);
			birthday += ".";
			birthday += number.substr(6);
		} else {
			birthday += number.substr(0, 4);
			birthday += ".";
			birthday += number.substr(4, 2);
			birthday += ".";
			birthday += number.substr(8);
		}
		obj.value = birthday;
	}
	
	function inputPhoneNumber(obj) {
		var number = obj.value.replace(/[^0-9]/g, "");
		var phone = "";
		
		if(number.length < 4) {
			return number;
		} else if(number.length < 7) {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3);
		} else if(number.length < 11) {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3, 3);
			phone += "-";
			phone += number.substr(6);
		} else {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3, 4);
			phone += "-";
			phone += number.substr(7);
		}
		obj.value = phone;
	}

	function birthdayCheck(birthday) {
		var pattern = /^[\d]{4}.[0-1][0-9].[\d]{2}$/gi;
		if (birthday == null || birthday == '') {
			alert("생년월일을 입력해주십시오.\nex) 1990.05.30")
			return false;
		}
		if (!pattern.test(birthday)) {
			alert("생년월일 형식에 맞게 입력해주십시오.\nex) 1990.05.30");
			return false;
		}
		
		return true;
	}

	function phoneNumberCheck(phone) {
		var pattern = /^[0][1][01679]-[\d]{4}-[\d]{4}$/gi;
		if (phone == null || phone == '') {
			alert("핸드폰번호를 입력해주십시오.\nex) 010-1234-5678")
			return false;
		}
		if (!pattern.test(phone)) {
			alert("핸드폰번호 형식에 맞게 입력해주십시오.\nex) 010-1234-5678");
			return false;
		}
		
		return true;
	}

	function fn_pw_check(passWord) {
		var pw = passWord; //비밀번호
	    pw_passed = true;
	    
		var pattern1 = /[0-9]/;
		var pattern2 = /[a-zA-Z]/;
		var pattern3 = /[~!@\#$%<>^&*]/;     // 원하는 특수문자 추가 제거
		var pw_msg = "";
	
		if(!pattern1.test(pw)||!pattern2.test(pw)||!pattern3.test(pw)||pw.length<8||pw.length>50){
			alert("영문+숫자+특수기호 8자리 이상으로 구성하여야 합니다.");
			return false;
		}
		
		var SamePass_0 = 0; //동일문자 카운트
		var SamePass_1 = 0; //연속성(+) 카운드
		var SamePass_2 = 0; //연속성(-) 카운드
		
		for(var i=0; i < pw.length; i++) {
			var chr_pass_0;
			var chr_pass_1;
			var chr_pass_2;
			
			if(i >= 2) {
				chr_pass_0 = pw.charCodeAt(i-2);
				chr_pass_1 = pw.charCodeAt(i-1);
				chr_pass_2 = pw.charCodeAt(i);
	
				//동일문자 카운트
				if((chr_pass_0 == chr_pass_1) && (chr_pass_1 == chr_pass_2)) {
					SamePass_0++;
				}
				else {
					SamePass_0 = 0;
				}
				
				//연속성(+) 카운드
				if(chr_pass_0 - chr_pass_1 == 1 && chr_pass_1 - chr_pass_2 == 1) {
					SamePass_1++;
				}
				else {
					SamePass_1 = 0;
				}
				
				//연속성(-) 카운드
				if(chr_pass_0 - chr_pass_1 == -1 && chr_pass_1 - chr_pass_2 == -1) {
					SamePass_2++;
				}
				else {
					SamePass_2 = 0;
				}
			}
			
			if(SamePass_0 > 0) {
				alert("동일문자를 3자 이상 연속 입력할 수 없습니다.");
				pw_passed=false;
			}
			if(SamePass_1 > 0 || SamePass_2 > 0 ) {
				alert("영문, 숫자는 3자 이상 연속 입력할 수 없습니다.");
				pw_passed=false;
			}
			if(!pw_passed) {
				return false;
				break;
			}
		}
		return true;
	}

	$("#groupPopBtn").off("click").on(
		{
			"click": function ()
		{
			const path = "oprt/popup/oprtUserGroupTreePopup";
			console.log(path);
			common.openDialogPopPosition("oprtUserGroupTreePopup", "조직도", "300", "430", "true", "/action/page.do", {path: path}, path.split("/")[2],"callBackOprtGroupTreePopup");
		}
	});
	

	function callBackOprtGroupTreePopup(jsonObj)
	{
	    $("#popupGroupNm").val(jsonObj.name);
	    $("#popupGroupId").val(jsonObj.groupId);
	    common.closeDialogPop("oprtUserGroupTreePopup");
	}
</script>