<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="cont_area">
	<div id="" class="cont_inner" title="">
		<ul class="popup-list-area">
			<li class="list">
				<div class="popup-list-title" style="width: 140px;">
					<em>이벤트</em>
				</div>
				<div class="popup-list-cont" style="width: calc(100% - 142px);">
					<select id="popupEventItemBox" placeholder="내용을 입력해 주세요." disabled ></select>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title" style="width: 140px;">
					<em>이벤트 세부 항목 아이디</em>
				</div>
				<div class="popup-list-cont" style="width: calc(100% - 142px);">
					<input type="text" id="popupItemCodeId" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title" style="width: 140px;">
					<em>이벤트 세부 항목명</em>
				</div>
				<div class="popup-list-cont" style="width: calc(100% - 142px);">
					<input type="text" id="popupItemCodeNm" placeholder="내용을 입력해 주세요."/>
				</div>
			</li>
			<li class="list">
				<div class="popup-list-title" style="width: 140px;">
					<em>사용여부</em>
				</div>
				<div class="popup-list-cont" style="width: calc(100% - 142px);">
					<select class="easyui-combobox" id="popupItemUseTy">
						<option value="Y">사용</option>
						<option value="N">미사용</option>
					</select>
				</div>
			</li>
		</ul>
		<ul class="center-btn">
			<li class="btn-cancle" onClick="closePopup();">취소</li>
			<li class="btn-insert" onClick="saveEventBase();">저장</li>
		</ul>
	</div>
</div>

<script th:inline="javascript">
$(document).ready(function(){
	common.getSelectBoxItem(
            {
                "el"                : "popupEventItemBox",
                "sql"               : "common.getEventCode",
                "val"               : "code",
                "text"              : "name",
                "isAllCheckCustom"	: "-선택-",
                "userId"			: ''
            });
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		setDetailData(selectedData);
	}
	else if(typeof(selectedEvent) != 'undefined' && selectedEvent != ''){
		$('#popupEventItemBox').val(selectedEvent.evtId);
	}
});

function setDetailData(data) {
	
	var row = data;
	
	
	$('#popupItemCodeId').attr('disabled', true);
	
	$('#popupEventItemBox').val(row.evtId);
	$('#popupItemCodeId').val(row.evtItemId);
	$('#popupItemCodeNm').val(row.evtItemNm);
	$('#popupItemUseTy').val(row.useTyCd);
}

function clearPopup() {
	$('#popupEventItemBox').val('');
	$('#popupItemCodeId').val('');
	$('#popupItemCodeNm').val('');
	$('#popupItemUseTy').val('');
}

function closePopup() {
	if (typeof(selectedData) != 'undefined' && selectedData != '') {
		selectedData='';
	}
	if (typeof(selectedEvent) != 'undefined' && selectedEvent != '') {
		selectedEvent='';
	}
	common.closeDialogPop("oprtEventInfoItemPopup");
}

function saveEventBase() {
	var evtId = $('#popupEventItemBox').val();
	var evtItemId = $('#popupItemCodeId').val();
	var evtItemNm = $('#popupItemCodeNm').val();
	var useTyCd = $('#popupItemUseTy').val();
	
	if(!checkNull(evtId, "이벤트 아이디를 입력해주십시오.")) return false;
	if(!checkNull(evtItemId, "이벤트 세부항목 아이디를 입력해주십시오.")) return false;
	if(!checkNull(evtItemNm, "이벤트 세부항목명을 입력해주십시오.")) return false;
	
	const jsonObj = {};
	jsonObj.chkEvtId = evtId;
	jsonObj.chkEvtItemId = evtItemId;
	
	$.ajax({
		type       : "POST",
		url        : "/select/oprt.getEventItemList/action.do",
		dataType   : "json",
		data : {"param" : JSON.stringify(jsonObj)},
		async      : false,
		beforeSend : function(xhr) {
			// 전송 전 Code
		}
	}).done(function (result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		jsonObj.evtItemNm = evtItemNm;
		jsonObj.useTyCd = useTyCd;
		
		if(rows.length > 0 && (typeof(selectedData)=="undefined"||selectedData.length==0)) {
			alert("해당 이벤트에 이벤트 세부항목 아이디가 존재합니다.");
			return false;
		}
		else {
			jsonObj.singleInsertSid = "oprt.saveEventItemInfo";
			$.ajax({
				type       : "POST",
				url        : "/multiAjax/action.do",
				dataType   : "json",
				data : {"param" : JSON.stringify(jsonObj)},
				async      : false,
				beforeSend : function(xhr) {
					// 전송 전 Code
				}
			}).done(function (result) {
				if (result == "SUCCESS") {
					jsonObj.singleInsertSid = "oprt.saveEventItem";
					$.ajax({
						type       : "POST",
						url        : "/multiAjax/action.do",
						dataType   : "json",
						data : {"param" : JSON.stringify(jsonObj)},
						async      : false,
						beforeSend : function(xhr) {
							// 전송 전 Code
						}
					}).done(function (result) {
						alert("저장 완료");
						closePopup();
						$('#oprtEventInfoItemTable').datagrid('reload');
					});
				}
				else {
					alert("저장 실패");
				}
			}).fail(function (xhr) {
				alert("저장 실패");
			}).always(function() {
				
			});
		}
	});
}
</script>