<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navFragment">
    <aside class="accordion_menu accordion">
        <ul class="accordion">
            <li id="one" class="on">
                <a href="#one">이벤트 발생 통계</a>
                <ul class="accordion_sub_menu">
                    <li><a href="/pages/stats/statistics_01">스마트분전함 이벤트</a></li>
                    <li><a href="/pages/stats/statistics_02">드론 관제 이벤트</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</th:block>
</html>