<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_dashboard">
<head>
    <title>Dashboard</title>
</head>
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="content">
    <!--<div class="dashboard">-->
        <!--<dl class="dashboard_snb">
            <dt>통합 모니터링 대시보드</dt>
            <dd class="dashboardType active" data-value="peopleCount"><i><img src="/images/default/dashboardSnb01Default.svg"></i>유동인구 분석</dd>
            <dd class="dashboardType" data-value="smartPoleEvent"><i><img src="/images/default/dashboardSnb02Default.svg"></i>스마트폴 이벤트</dd>
            <dd class="dashboardType" data-value="facility"><i><img src="/images/default/dashboardSnb02Default.svg"></i>시설물 이벤트</dd>
        </dl>-->
        <div class="empty_area">
            <div><img src="/images/sample/dashboard_peopleCount.png"></div>
        </div>
    <!--</div>-->
</th:block>

<th:block th:fragment="pagesScript">
</th:block>
</html>