<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_stats">
<th:block layout:fragment="content" th:with="type=${#request.getParameter('type')}">
    <h4>
        <i><img src="/images/default/statisticsTitle.svg"></i>
        <span>통계</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span>이벤트 발생 통계</span>
        <i><img src="/images/default/arrowNext.svg"></i>
        <span><span class="event_type"></span></span>
    </h4>
    <section class="statistics_content">
        <article class="search_form" id="searchForm">
            <h6><span class="event_type"></span> 통계 검색</h6>
            <form>
                <div>
                    <p data-mode="event">이벤트 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="eventKind" th:attr="data-selectbox-sub-type=${type}" data-mode="event">
                        <dt class="checkbox_title select_title">이벤트 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p data-mode="opt">개소 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="stationKind" th:attr="data-selectbox-sub-type=${type}" data-mode="opt">
                        <dt class="checkbox_title select_title">개소 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>행정구역</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                        <dt class="checkbox_title select_title">행정구역</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                </div>
                <div>
<!--                    TODO: 등급 조건으로 차트 바뀌는 건 고도화에 적용 예정 - 차트 생성 방식이 컬럼을 변경하기 힘듦-->
<!--                    <dl class="checkbox_set">-->
<!--                        <dt>이벤트 등급</dt>-->
<!--                        <dd>-->
<!--							<span>-->
<!--								<input type="checkbox" id="urgent" name="eventGrade" data-value="10" data-init-value="checked" checked>-->
<!--								<label for="urgent"><span></span>긴급</label>-->
<!--							</span>-->
<!--                            <span>-->
<!--								<input type="checkbox" id="caution" name="eventGrade" data-value="20" data-init-value="checked" checked>-->
<!--								<label for="caution"><span></span>주의</label>-->
<!--							</span>-->
<!--                        </dd>-->
<!--                    </dl>-->
                    <dl class="date_set">
                        <dt>발생 기간</dt>
                        <dd><input type="text" id="startDt" placeholder="날짜를 입력하세요" name="startDt" class="input_date"></dd>
                        <span>부터</span>
                        <dd><input type="text" id="endDt" placeholder="날짜를 입력하세요" name="endDt" class="input_date"></dd>
                        <span>까지</span>
                    </dl>
                    <ul class="button">
                        <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                        <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                    </ul>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt><span class="event_type"></span> 목록</dt>
                    <dd><span class="count">123</span>건</dd>
                </dl>
            </div>
            <div class="search_table">
                <table id="troubleEventTable">
                    <thead>
                        <tr></tr>
                    </thead>
                </table>
            </div>
        </article>
        <article class="search_list">
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt><span class="event_type"></span> 수</dt>
                    <dd id="sumBtn" class="chartBtn">
                        <span class="hour">시</span>
                        <span class="day on">일</span>
                        <span class="week">주</span>
                        <span class="month">월</span>
                    </dd>
                </dl>
                <div class="graph_area" id="sumChart"></div>
            </div>
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>평균 <span class="event_type"></span> 수</dt>
                    <dd id="avgBtn" class="chartBtn">
                        <span class="hour">시간대</span>
                        <span class="day on">요일</span>
                        <span class="week">주차</span>
                        <span class="month">월</span>
                    </dd>
                </dl>
                <div class="graph_area" id="avgChart"></div>
            </div>
        </article>
        <article class="search_list">
            <div class="graph_contents">
                <dl class="graph_title">
                    <dt>행정구역 별 <span class="event_type"></span> 수</dt>
                </dl>
                <div class="graph_area" id="mapChart"></div>
            </div>
        </article>
    </section>
</th:block>
</html>