<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="shortcut icon" th:href="${@environment.getProperty('municipality.favicon')}"/>
    <title>Iot 플랫폼</title>
</head>

<body>
    <div class="login_wrap">
        <div class="login_visual">
            <h2 class="login_title">
                <span th:text="${@environment.getProperty('loginPage.eng.title')}"></span>
                <br th:text="${@environment.getProperty('loginPage.kor.title')}">
            </h2>
        </div>
        <div class="login_form">
            <form class="error_form">
                <h6><img src="/images/default/warning.svg"></h6>
                <ul>
                    <li>
                        <h3 th:text="${code + ' Error'}"></h3>
                        <span th:text="${message}"></span>
                    </li>
                    <li><a href="/"><span><img src="/images/default/arrowPrev.svg"></span>이전으로 돌아가기</a></li>
                </ul>
            </form>
        </div>
    </div>
</body>
</html>