<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="headerFragment">
    <header>
      <h1 class="logo"><i><img src="/images/default/headerMenu.svg"></i>Title</h1>
      <ul class="gnm">
        <li>Home1</li>
        <li>Dashboard</li>
        <li>Monitoring &amp; Control</li>
        <li>Inquiry &amp; Management</li>
        <li>Statistics</li>
        <li>Configuration</li>
      </ul>
      <ul class="utmenu">
        <li><i><img src="/images/default/utmenu01.svg"></i>알림</li>
        <li><i><img src="/images/default/utmenu02.svg"></i>admin 님</li>
      </ul>
    </header>
  </th:block>
</html>