<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="navLFragment">
    <!-- LNM -->
        <th:block th:with="municipality=${@environment.getProperty('municipality.name')}">
        <!-- 스마트 폴 -->
        <section th:if="${municipality == '41210000'
                          or municipality == '26290000'}" id="smartPole" class="menu_fold">
            <ul class="tab">
                <li data-value="event" class="active"><a>실시간</a></li>
                <li data-value="station"><a>개소</a></li>
                <li data-value="eventPast"><a>과거이력</a></li>
            </ul>
            <p class="lnb_fold"><i><img src="/images/default/foldOn.svg"></i></p>

            <!-- 실시간 -->
            <div data-value="event" class="lnb_tab_section select">
                <dl class="area_title" data-value="lv1">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>긴급 이벤트</dt>
                    <dd><span class="count">0</span></dd>
                </dl>
                <div class="search_list" data-value="lv1">
                    <!--<dl>
                        <dt>EVENT ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title" data-value="lv2">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주의 이벤트</dt>
                    <dd><span class="count">0</span></dd>
                </dl>
                <div class="search_list" data-value="lv2">
                   <!-- <dl>
                        <dt>EVENT ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv2">주의</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 개소 -->
            <div data-value="station" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>개소 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="dropdown_checkbox" data-selectbox-type="stationKind">
                                <dt class="checkbox_title select_title">개소종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="facilityKind">
                                <dt class="checkbox_title select_title">시설물</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/search.svg"></i>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title" data-value="station">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>Tab 1 목록<span class="count">0</span></dt>
                    <dd>
                        <!--                            <i></i>초기화-->
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list" data-value="station">
                    <!--<dl>
                        <dt>광명 전통시장</dt>
                        <dd>유형 : 정전</dd>
                        <dd>행정구역 : 광명동</dd>
                        <dd>경기 광명시 광이로13번길 17-5</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 과거이력 -->
            <div data-value="eventPast" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>이벤트 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn active"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="date_set">
                                <dt>발생 기간</dt>
                                <dd><input type="text" id="smartPoleEventPastStartDt" placeholder="날짜를 입력하세요" name="startDt" class="input_date"></dd>
                                <span>부터</span>
                                <dd><input type="text" id="smartPoleEventPastEndDt" placeholder="날짜를 입력하세요" name="endDt" class="input_date"></dd>
                                <span>까지</span>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="eventKind" data-selectbox-sub-type="smart_pole_event">
                                <dt class="checkbox_title select_title">이벤트 종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>이벤트 등급</dt>
                                <dd>
							<span>
								<input type="checkbox" id="smartPoleEventPastUrgent" name="eventGrade" data-value="10" checked>
								<label for="smartPoleEventPastUrgent"><span></span>긴급</label>
							</span>
                                    <span>
								<input type="checkbox" id="smartPoleEventPastCaution" name="eventGrade" data-value="20" checked>
								<label for="smartPoleEventPastCaution"><span></span>주의</label>
							</span>
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>처리 상태</dt>
                                <dd>
                                    <span>
                                        <input type="checkbox" id="smartPoleEventPastStaus00" name="eventState" data-value="0" multiple="multiple">
                                        <label for="smartPoleEventPastStaus00"><span></span>미처리</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartPoleEventPastStaus01" name="eventState" data-value="1" multiple="multiple" checked>
                                        <label for="smartPoleEventPastStaus01"><span></span>조치완료</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartPoleEventPastStaus02" name="eventState" data-value="2" multiple="multiple" checked>
                                        <label for="smartPoleEventPastStaus02"><span></span>종료</label>
                                    </span>
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/search.svg"></i>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>이벤트 목록<span class="count">0</span></dt>
                    <dd>
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list">
                    <!--<dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

        </section>
        <!-- 스마트 정류장 -->
        <section th:if="${municipality == '41210000'
                          or municipality == '47210000'}" id="smartBusStop" class="menu_fold">
            <ul class="tab">
                <li data-value="event" class="active"><a>실시간</a></li>
                <li data-value="station"><a>개소</a></li>
                <li data-value="eventPast"><a>과거이력</a></li>
            </ul>
            <p class="lnb_fold"><i><img src="/images/default/foldOn.svg"></i></p>

            <!-- 실시간 -->
            <div data-value="event" class="lnb_tab_section select">
                <dl class="area_title" data-value="lv1">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>긴급 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv1">
                    <!--<dl>
                        <dt>EVENT ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title" data-value="lv2">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주의 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv2">
                   <!-- <dl>
                        <dt>EVENT ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv2">주의</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 개소 -->
            <div data-value="station" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>개소 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="dropdown_checkbox" data-selectbox-type="stationKind">
                                <dt class="checkbox_title select_title">개소종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="facilityKind">
                                <dt class="checkbox_title select_title">시설물</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/search.svg"></i>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title" data-value="station">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>Tab 1 목록<span class="count">0</span></dt>
                    <dd>
                        <!--                            <i></i>초기화-->
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list" data-value="station">
                    <!--<dl>
                        <dt>광명 전통시장</dt>
                        <dd>유형 : 정전</dd>
                        <dd>행정구역 : 광명동</dd>
                        <dd>경기 광명시 광이로13번길 17-5</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 과거이력 -->
            <div data-value="eventPast" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>이벤트 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="date_set">
                                <dt>발생 기간</dt>
                                <dd><input type="text" id="smartBusStopEventPastStartDt" placeholder="날짜를 입력하세요" name="startDt" class="input_date"></dd>
                                <span>부터</span>
                                <dd><input type="text" id="smartBusStopEventPastEndDt" placeholder="날짜를 입력하세요" name="endDt" class="input_date"></dd>
                                <span>까지</span>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="eventKind" data-selectbox-sub-type=smart_busstop_event>
                                <dt class="checkbox_title select_title">이벤트 종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>이벤트 등급</dt>
                                <dd>
							<span>
								<input type="checkbox" id="smartBusStopEventPastUrgent" name="eventGrade" data-value="10" checked>
								<label for="smartBusStopEventPastUrgent"><span></span>긴급</label>
							</span>
                                    <span>
								<input type="checkbox" id="smartBusStopEventPastCaution" name="eventGrade" data-value="20" checked>
								<label for="smartBusStopEventPastCaution"><span></span>주의</label>
							</span>
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>처리 상태</dt>
                                <dd>
                                    <span>
                                        <input type="checkbox" id="smartBusStopEventPastStaus00" name="eventState" data-value="0" multiple="multiple">
                                        <label for="smartBusStopEventPastStaus00"><span></span>미처리</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartBusStopEventPastStaus01" name="eventState" data-value="1" multiple="multiple" checked>
                                        <label for="smartBusStopEventPastStaus01"><span></span>조치완료</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartBusStopEventPastStaus02" name="eventState" data-value="2" multiple="multiple" checked>
                                        <label for="smartBusStopEventPastStaus02"><span></span>종료</label>
                                    </span>
                                </dd>
                            </dl>
                        </form>
                        <ul class="button refresh">
                            <li><i><img src="/images/default/refresh.svg"></i>검색조건 초기화</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>이벤트 목록<span class="count">11</span></dt>
                    <dd>
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list">
                    <!--<dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <!--<dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv2">주의</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>
                    <dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>
                    <dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

        </section>
        <!-- 스마트 분전함 -->
        <section th:if="${municipality == '45210000'}" id="smartPower" class="menu_fold">
            <ul class="tab">
                <li data-value="event" class="active"><a>실시간</a></li>
                <li data-value="station"><a>개소</a></li>
                <li data-value="eventPast"><a>과거이력</a></li>
            </ul>
            <p class="lnb_fold"><i><img src="/images/default/foldOn.svg"></i></p>

            <!-- 실시간 -->
            <div data-value="event" class="lnb_tab_section select">
                <dl class="area_title" data-value="lv1">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>긴급 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv1">
<!--                    <dl>-->
<!--                        <dt>EVENT ID<span class="state">미처리</span></dt>-->
<!--                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>-->
<!--                        <dd>경기 광명시 소하동 1294</dd>-->
<!--                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>-->
<!--                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title" data-value="lv2">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주의 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv2">
<!--                    <dl>-->
<!--                        <dt>EVENT ID<span class="state">미처리</span></dt>-->
<!--                        <dd class="event_level"><span class="level lv2">주의</span>정전</dd>-->
<!--                        <dd>경기 광명시 소하동 1294</dd>-->
<!--                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>-->
<!--                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 개소 -->
            <div data-value="station" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>개소 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <!-- TODO : 필요한 검색조건 data-selectbox-type (commonCode type에 따름)에 기입-->
                            <dl class="dropdown_checkbox" data-selectbox-type="stationKind">
                                <dt class="checkbox_title select_title">개소종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="facilityKind">
                                <dt class="checkbox_title select_title">시설물</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/refresh.svg"></i>검색조건 초기화</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title" data-value="station">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>Tab 1 목록<span class="count">11</span></dt>
                    <dd>
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list" data-value="station">
                   <!--<dl>
                        <dt>광명 전통시장</dt>
                        <dd>유형 : 정전</dd>
                        <dd>행정구역 : 광명동</dd>
                        <dd>경기 광명시 광이로13번길 17-5</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

            <!-- 과거이력 -->
            <div data-value="eventPast" class="lnb_tab_section">
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>이벤트 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="date_set">
                                <dt>발생 기간</dt>
                                <dd><input type="text" id="smartPowerEventPastStartDt" placeholder="날짜를 입력하세요" name="startDt" class="input_date"></dd>
                                <span>부터</span>
                                <dd><input type="text" id="smartPowerEventPastEndDt" placeholder="날짜를 입력하세요" name="endDt" class="input_date"></dd>
                                <span>까지</span>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="eventKind" data-selectbox-sub-type="EMS_EVENT">
                                <dt class="checkbox_title select_title">이벤트 종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>이벤트 등급</dt>
                                <dd>
							<span>
								<input type="checkbox" id="smartPowerEventPastUrgent" name="eventGrade" data-value="10" checked>
								<label for="smartPowerEventPastUrgent"><span></span>긴급</label>
							</span>
                                    <span>
								<input type="checkbox" id="smartPowerEventPastCaution" name="eventGrade" data-value="20" checked>
								<label for="smartPowerEventPastCaution"><span></span>주의</label>
							</span>
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>처리 상태</dt>
                                <dd>
                                    <span>
                                        <input type="checkbox" id="smartPowerEventPastStaus00" name="eventState" data-value="0" multiple="multiple">
                                        <label for="smartPowerEventPastStaus00"><span></span>미처리</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartPowerEventPastStaus01" name="eventState" data-value="1" multiple="multiple" checked>
                                        <label for="smartPowerEventPastStaus01"><span></span>조치완료</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="smartPowerEventPastStaus02" name="eventState" data-value="2" multiple="multiple" checked>
                                        <label for="smartPowerEventPastStaus02"><span></span>종료</label>
                                    </span>
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/search.svg"></i>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>이벤트 목록<span class="count">11</span></dt>
                    <dd>
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="search_list">
                    <!--<dl>
                        <dt>EVENT ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>정전</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>

        </section>
        <!-- 드론 관제 -->
        <section th:if="${municipality == '45210000'}" id="drone" class="menu_fold">
            <ul class="tab">
<!--                <li data-value="event" class="active"><a>실시간</a></li>-->
                <li data-value="facility" class="active"><a>기체/개소</a></li>
<!--                <li data-value="eventPast"><a>과거이력</a></li>-->
            </ul>
            <p class="lnb_fold"><i><img src="/images/default/foldOn.svg"></i></p>
            <!-- lnb_tab_section * 실시간 -->
            <div data-value="event" class="lnb_tab_section"> <!-- active 시, display: flex; -->
                <dl class="area_title" data-value="lv1">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>긴급 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv1">
                    <!--<dl>
                        <dt>DRONE ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>화재 감지</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title" data-value="lv2">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주의 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list" data-value="lv2">
                    <!--<dl>
                        <dt>DRONE ID<span class="state">미처리</span></dt>
                        <dd class="event_level"><span class="level lv2">주의</span>저전압 경보</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>
            <!-- lnb_tab_section * 기체/개소 -->
            <div data-value="facility" class="lnb_tab_section select"> <!-- active 시, display: flex; -->
                <dl class="area_title" data-value="facility">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>기체</dt>
                    <dd><span class="count">0</span></dd>
                </dl>
                <div class="search_list" data-value="facility">
                   <!--<dl>
                        <dt>DRONE ID<span class="state">비행 중</span></dt>
                        <dd>LTE 신호세기 : 양호</dd>
                        <dd>잔여비행가능시간 : 5분 (20%)</dd>
                        <dd>매주 화 14:00, 매주 목 16:00</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title" data-value="station">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>격납고</dt>
                    <dd><span class="count">0</span></dd>
                </dl>
                <div class="search_list" data-value="station">
                    <!--<dl>
                        <dt>광명소방서<span class="state">이상없음</span></dt>
                        <dd>LTE 신호세기 : 양호</dd>
                        <dd>현재 상태 : 비어있음</dd>
                        <dd>경기 광명시 소하동 1336</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>
            <!-- lnb_tab_section * 과거이력 -->
            <div data-value="eventPast" class="lnb_tab_section"> <!-- active 시, display: flex; -->
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>이벤트 검색</dt>
                    <dd class="button refresh"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="search_form"> <!-- search_form 변경 -->
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                        <dd class="detail_btn"><i><img src="/images/default/arrowBottom.svg"></i>검색 조건 더보기</dd>
                    </dl>
                    <!-- search_fold -->
                    <div class="search_fold"><!-- active 시, display: flex; -->
                        <!-- form 통째로 -->
                        <form>
                            <dl class="date_set">
                                <dt>발생 기간</dt>
                                <dd><input type="text" id="droneEventPastStartDt" placeholder="날짜를 입력하세요" name="startDt" class="input_date"></dd>
                                <span>부터</span>
                                <dd><input type="text" id="droneEventPastEndDt" placeholder="날짜를 입력하세요" name="endDt" class="input_date"></dd>
                                <span>까지</span>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="eventKind" data-selectbox-sub-type="DRONE_EVENT">
                                <dt class="checkbox_title select_title">이벤트 종류</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                <dt class="checkbox_title select_title">행정구역</dt>
                                <dd class="checkbox_list list" style="display: none;">
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>이벤트 등급</dt>
                                <dd>
							<span>
								<input type="checkbox" id="droneEventPastUrgent" name="eventGrade" data-value="10" checked>
								<label for="droneEventPastUrgent"><span></span>긴급</label>
							</span>
                                    <span>
								<input type="checkbox" id="droneEventPastCaution" name="eventGrade" data-value="20" checked>
								<label for="droneEventPastCaution"><span></span>주의</label>
							</span>
                                </dd>
                            </dl>
                            <dl class="checkbox_set">
                                <dt>처리 상태</dt>
                                <dd>
                                    <span>
                                        <input type="checkbox" id="droneEventPastStaus00" name="eventState" data-value="0" multiple="multiple">
                                        <label for="droneEventPastStaus00"><span></span>미처리</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="droneEventPastStaus01" name="eventState" data-value="1" multiple="multiple" checked>
                                        <label for="droneEventPastStaus01"><span></span>조치완료</label>
                                    </span>
                                    <span>
                                        <input type="checkbox" id="droneEventPastStaus02" name="eventState" data-value="2" multiple="multiple" checked>
                                        <label for="droneEventPastStaus02"><span></span>종료</label>
                                    </span>
                                </dd>
                            </dl>
                        </form>
                        <ul class="button">
                            <li><i><img src="/images/default/search.svg"></i>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>이벤트 목록</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="search_list">
                    <!--<dl>
                        <dt>DRONE ID<span class="state">종료</span></dt>
                        <dd class="event_level"><span class="level lv1">긴급</span>화재 감지</dd>
                        <dd>경기 광명시 소하동 1294</dd>
                        <dd>2022-03-14 10:44:26<span class="ago">1분 전</span></dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>
        </section>
        <!-- 주소 장소 -->
        <section id="addressPlace" class="menu_fold">
            <!-- lnb_tab_section * 주소/장소 -->
            <div data-value="addressPlaceTab" class="lnb_tab_section select">
                <div class="search_form">
                    <dl>
                        <dt><input type="text" placeholder="검색어를 입력하세요."><i><img src="/images/default/search.svg"></i></dt>
                    </dl>
                </div>
                <p class="lnb_fold"><i><img src="/images/default/foldOn.svg"></i></p>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주소</dt>
                    <dd><span class="count" data-value="address">0</span></dd>
                </dl>
                <div class="search_list" data-value="address">
                   <!-- <dl>
                        <dt>전북 김제시 죽산면 석산길</dt>
                        <dd>도로명 : 석산길</dd>
                    </dl>
                    <dl>
                        <dt>전북 김제시 죽산면 석산길</dt>
                        <dd>도로명 : 석산길</dd>
                    </dl>
                    <dl>
                        <dt>전북 김제시 죽산면 석산길</dt>
                        <dd>도로명 : 석산길</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="area_title">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>장소</dt>
                    <dd><span class="count" data-value="place">0</span></dd>
                </dl>
                <div class="search_list" data-value="place">
                    <!--<dl>
                        <dt>경남 창원시 의창구 동읍 석산리 421-3</dt>
                        <dd>도로명칭</dd>
                        <dd>경남 창원시 의창구 동읍 석산길51번길 16</dd>
                    </dl>
                    <dl>
                        <dt>경남 창원시 의창구 동읍 석산리 421-3</dt>
                        <dd>도로명칭</dd>
                        <dd>경남 창원시 의창구 동읍 석산길51번길 16</dd>
                    </dl>
                    <dl>
                        <dt>경남 창원시 의창구 동읍 석산리 421-3</dt>
                        <dd>도로명칭</dd>
                        <dd>경남 창원시 의창구 동읍 석산길51번길 16</dd>
                    </dl>-->
                    <p class="button_top"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>
        </section>
        </th:block>
    </th:block>
</html>


<!-- (시설)드론 : 김제 -->
<!-- (개소)분전함 : 김제 -->
<!-- (개소)스마트정류장 : 광명, 영주 -->
<!-- (개소)스마트폴 : 광명, 부산남구 -->