<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="navLFragment">

        <!-- LNB -->
        <aside class="lnb">
            <ul>
                <li class="active">MENU<br>1</li>
                <li>MENU<br>2</li>
                <li>MENU<br>3</li>
                <li>MENU<br>4</li>
                <li>MENU<br>5</li>
            </ul>
        </aside>

        <!-- LNM -->
        <section class="menuFold">
            <ul class="tab">
                <li class="active"><a>실시간</a></li>
                <li><a>개소</a></li>
                <li><a>과거이력</a></li>
            </ul>
            <p class="lnbFold"><i><img src="/images/default/foldOn.svg"></i></p>

            <!-- 실시간 -->
            <div id="" class="lnbTabSection select">
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>긴급 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="searchList">
                    <dl>
                        <dt>
                            <p><span class="level lv1">위험</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv2">경고</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state2">조치완료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv1">위험</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state3">이벤트종료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv1">위험</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv2">경고</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state2">조치완료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv1">위험</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state3">이벤트종료</span></dd>
                    </dl>
                    <p class="buttonTop"><img src="/images/default/arrowNext.svg"></p>
                </div>
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>주의 이벤트</dt>
                    <dd><span class="count">11</span></dd>
                </dl>
                <div class="searchList">
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state2">조치완료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state3">이벤트종료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state2">조치완료</span></dd>
                    </dl>
                    <dl>
                        <dt>
                            <p><span class="level lv3">주의</span>이벤트 종류</p>
                            <span>0분 전</span>
                        </dt>
                        <dd>{장소유형} {구역명}</dd>
                        <dd>{개소ID} {개소명}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state3">이벤트종료</span></dd>
                    </dl>
                    <p class="buttonTop"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>



            <!-- 개소 -->
            <div id="" class="lnbTabSection">
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>개소 검색</dt>
                    <dd class="button"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="searchForm">
                    <dl>
                        <dt><input type="text" placeholder="Tab 1 검색"><i><img src="/images/default/search.svg"></i></dt>
                        <dd>상세<i><img src="/images/default/arrowBottom.svg"></i></dd>
                    </dl>
                    <div class="searchFold" style="display: none;">
                        <dl>
                            <dt>Type 1</dt>
                            <dd>
                                <ul>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type01" name="">
                                                <label for="type01"><span></span>종류 1</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type02" name="">
                                                <label for="type02"><span></span>종류 2</label>
                                            </span>
                                    </li>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type03" name="">
                                                <label for="type03"><span></span>종류 3</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type04" name="">
                                                <label for="type04"><span></span>종류 4</label>
                                            </span>
                                    </li>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type05" name="">
                                                <label for="type05"><span></span>종류 5</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type06" name="">
                                                <label for="type06"><span></span>종류 6</label>
                                            </span>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 2</dt>
                            <dd>
                                <select>
                                    <option selected>선택 </option>
                                    <option>선택 1</option>
                                    <option>선택 2</option>
                                    <option>선택 3</option>
                                    <option>선택 4</option>
                                    <option>선택 5</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 3</dt>
                            <dd>
                                <select>
                                    <option selected>선택 </option>
                                    <option>선택 1</option>
                                    <option>선택 2</option>
                                    <option>선택 3</option>
                                    <option>선택 4</option>
                                    <option>선택 5</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 4</dt>
                            <dd>
                                <ul>
                                    <li><input type="date"></li>
                                    <li><input type="month"></li>
                                    <li><input type="week"></li>
                                    <li><input type="time"></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 5</dt>
                            <dd>
                                    <span>
                                        <input type="checkbox" id="type07" name="">
                                        <label for="type07"><span></span>즐겨찾기만 보기</label>
                                    </span>
                            </dd>
                        </dl>
                        <ul class="button">
                            <li>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>Tab 1 목록<span class="count">11</span></dt>
                    <dd>
                        <!--                            <i></i>초기화-->
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="searchList">
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkDefault.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkActive.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkActive.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkDefault.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkActive.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkDefault.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkDefault.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <dl>
                        <dt>
                            <p>
                                <span class="">종류</span>
                                <span class="number">관리 번호</span>
                            </p>
                            <i><img src="/images/default/bookmarkDefault.svg"></i>
                        </dt>
                        <dt>이름</dt>
                        <dd>도로명 주소/지번 주소</dd>
                        <dd>행정구역</dd>
                    </dl>
                    <p class="buttonTop"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>





            <!-- 과거이력 -->
            <div id="" class="lnbTabSection">
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon01.svg"></i>이벤트 검색</dt>
                    <dd class="button"><i><img src="/images/default/refresh.svg"></i>초기화</dd>
                </dl>
                <div class="searchForm">
                    <dl>
                        <dt><input type="text" placeholder="이벤트 검색"><i><img src="/images/default/search.svg"></i></dt>
                        <dd>상세<i><img src="/images/default/arrowBottom.svg"></i></dd>
                    </dl>
                    <div class="searchFold" style="display: none;">
                        <dl>
                            <dt>Type 1</dt>
                            <dd>
                                <ul>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type01" name="">
                                                <label for="type01"><span></span>종류 1</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type02" name="">
                                                <label for="type02"><span></span>종류 2</label>
                                            </span>
                                    </li>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type03" name="">
                                                <label for="type03"><span></span>종류 3</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type04" name="">
                                                <label for="type04"><span></span>종류 4</label>
                                            </span>
                                    </li>
                                    <li>
                                            <span>
                                                <input type="checkbox" id="type05" name="">
                                                <label for="type05"><span></span>종류 5</label>
                                            </span>
                                        <span>
                                                <input type="checkbox" id="type06" name="">
                                                <label for="type06"><span></span>종류 6</label>
                                            </span>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 2</dt>
                            <dd>
                                <select>
                                    <option selected>선택 </option>
                                    <option>선택 1</option>
                                    <option>선택 2</option>
                                    <option>선택 3</option>
                                    <option>선택 4</option>
                                    <option>선택 5</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 3</dt>
                            <dd>
                                <select>
                                    <option selected>선택 </option>
                                    <option>선택 1</option>
                                    <option>선택 2</option>
                                    <option>선택 3</option>
                                    <option>선택 4</option>
                                    <option>선택 5</option>
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 4</dt>
                            <dd>
                                <ul>
                                    <li><input type="date"></li>
                                    <li><input type="month"></li>
                                    <li><input type="week"></li>
                                    <li><input type="time"></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>Type 5</dt>
                            <dd>
                                    <span>
                                        <input type="checkbox" id="type07" name="">
                                        <label for="type07"><span></span>즐겨찾기만 보기</label>
                                    </span>
                            </dd>
                        </dl>
                        <ul class="button">
                            <li>검색</li>
                        </ul>
                    </div>
                </div>
                <dl class="areaTitle">
                    <dt><i><img src="/images/default/titleIcon02.svg"></i>이벤트 목록<span class="count">11</span></dt>
                    <dd>
                        <!--                            <i></i>초기화-->
                        <select>
                            <option>번호 올림차순</option>
                            <option>번호 내림차순</option>
                        </select>
                    </dd>
                </dl>
                <div class="searchList">
                    <dl>
                        <dt><p><span class="level lv1">위험</span>{이벤트ID} {구역명} {이벤트 종류}</p></dt>
                        <dd>{장소유형} {개소ID} {개소명}</dd>
                        <dd>{개소 주소}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <dl>
                        <dt><p><span class="level lv2">경고</span>{이벤트ID} {구역명} {이벤트 종류}</p></dt>
                        <dd>{장소유형} {개소ID} {개소명}</dd>
                        <dd>{개소 주소}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state2">조치완료</span></dd>
                    </dl>
                    <dl>
                        <dt><p><span class="level lv3">주의</span>{이벤트ID} {구역명} {이벤트 종류}</p></dt>
                        <dd>{장소유형} {개소ID} {개소명}</dd>
                        <dd>{개소 주소}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state3">이벤트종료</span></dd>
                    </dl>
                    <dl>
                        <dt><p><span class="level lv3">주의</span>{이벤트ID} {구역명} {이벤트 종류}</p></dt>
                        <dd>{장소유형} {개소ID} {개소명}</dd>
                        <dd>{개소 주소}</dd>
                        <dd>{이벤트 발생 시각}<span class="state state1">미처리</span></dd>
                    </dl>
                    <p class="buttonTop"><img src="/images/default/arrowNext.svg"></p>
                </div>
            </div>


        </section>

    </th:block>
</html>