<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/base_layout}">
<head>
    <title>비행</title>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script src="/js/pages/mission.js" defer></script>
    <script src="/js/pages/flying.js" defer></script>
</head>

<body>
<th:block layout:fragment="content">
    <div class="popup" style="display: none;">
        <div class="popupTitle"><span>GO TO 미션 등록</span></div>
        <div class="popupContent">
            <ul>
                <li>
                    <span>경도</span>
                    <span><input type="text" id="goToGpsX"></span>
                </li>
                <li>
                    <span>위도</span>
                    <span><input type="text" id="goToGpsY"></span>
                </li>
                <li>
                    <span>고도</span>
                    <span><input type="text" id="goToAlt"></span>
                </li>
                <li>
                    <span>YAW</span>
                    <span><input type="text" id="goToYaw"></span>
                </li>
            </ul>
        </div>
        <div class="popupButton">
            <span class="button" onclick="setDrawDrone.createGoToMission(this)">실행</span>
            <span class="button" onclick="setDrawDrone.closePopup(this)">취소</span>
        </div>

    </div>

    <div class="droneMap">
        <div id="map" class="map_wrap"/>
        <!--           mapComponent -->
        <div class="mapComponent">
            <div class="mapComponentSet">
                <article class="altitude" style="display: none;">
                    <h6>고도</h6>
                    <div class="graph"></div>
                </article>
                <article class="panel" style="display: none;">
                    <div></div>
                    <div></div>
                </article>
                <article class="control">
                    <div class="mission">
                        <h6>미션 제어</h6>
                        <ul>
                            <li onclick="droneSocket.startMission()"><i class="controlButton"><img src="images/default/controlsPlay.svg"></i>재생</li>
                            <li onclick="droneSocket.pauseMission()"><i class="controlButton"><img src="images/default/controlsStop.svg"></i>일시정지</li>
                        </ul>
                    </div>
                    <div class="drone">
                        <h6>드론 제어</h6>
                        <ul>
                            <li onclick="droneSocket.returnMission()"><i class="controlButton"><img src="images/default/controlsHome.svg"></i>귀환</li>
                            <li onclick="setDrawDrone.clickGoToMission()"><i class="controlButton"><img src="images/default/controlsGoto.svg"></i>Go To</li>
                        </ul>
                    </div>
                </article>
                <article class="values">
                    <h6>Values</h6>
                    <ul>
                        <li><span>고도 (상대) m</span><p id="flyAlt">0</p></li>
                        <li><span>속도 m/s</span><p id="flySpeed">0</p></li>
                        <li><span>비행 시간</span><p id="flyTime">00:00:00</p></li>
                        <li><span>YAW</span><p id="flyYaw">0</p></li>
                    </ul>
                </article>
            </div>
            <article class="stream">
                <dl>
                    <dt class="switchButton">
                        <span>Stream</span>
                        <input type="checkbox" id="switchStream" /><label for="switchStream">Toggle</label>
                    </dt>
                    <dd><i><img src="images/default/streamFull.svg"></i></dd>
                </dl>
                <div class="video"></div>
                <h6>Values</h6>
                <div class="streamValues">
                    <ul>
                        <li><i class="controlButton"><img src="images/default/valuesRec.svg"></i>RED</li>
                        <li><i class="controlButton"><img src="images/default/valuesCamera.svg"></i>카메라</li>
                    </ul>
                    <div class="PTZ">
                        <img src="images/default/ptzButtonBg.png" usemap="#imagemap">
                        <map name="imagemap">
                            <area shape="rect" coords="0,36,36,62" href="" target="">
                            <area shape="rect" coords="36,0,62,36" href="" target="">
                            <area shape="rect" coords="62,36,100,62" href="" target="">
                            <area shape="rect" coords="36,62,62,100" href="" target="">
                        </map>
                    </div>
                    <dl class="slideBar">
                        <dt>
                            <span>-</span>
                            <span>정상</span>
                            <span>+</span>
                        </dt>
                        <dd><input type="range" min="1" max="100" value="50" class="bar" id="myRange"></dd>
                    </dl>
                </div>
            </article>
        </div>
        <!--           //mapComponent -->
    </div>
    <!--    lnb 영역 -->
    <div class="lnb" id="">
        <section class="flightList">
            <dl class="subTitle">
                <dt>목록<span>0</span></dt>
                <dd class="switchButton">
                    <span>모든 정보 OFF</span>
                    <input type="checkbox" id="switchList" /><label for="switchList">Toggle</label>
                </dd>
            </dl>
            <div class="listScroll">
                <ul>
                </ul>
            </div>
        </section>
        <div class="missionSummary" style="display: none;">
            <ul>
                <li><span>미션명</span><p id="summaryName"></p></li>
                <li><span>총 거리</span><p id="summaryDistance"></p><small>km</small></li>
                <li><span>예상 시간</span><p id="summaryTime"></p><small>분</small></li>
                <li><span>최종 수정</span><p id="summaryUserId"></p><small><p id="summaryUpdateDt"></p></small></li>
            </ul>
        </div>
        <button class="lnbToggle"><span></span></button>
    </div>
    <script>
        const mapManager = new mapCreater("map",2);
        window.mapManager = mapManager;
    </script>
</th:block>
<footer layout:fragment="footer">
</footer>
</body>
</html>