<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/base_layout}">
<head>
    <title>비행</title>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script src="/js/pages/droneInfo.js"></script>

    <script src="/js/pages/droneInfo.js" defer></script>
    <script src="/js/pages/flying.js" defer></script>
</head>

<th:block layout:fragment="content">
    <div class="droneMap">
        <th:block th:insert="/view/commons/map">
        </th:block>
        <!--           mapComponent -->
        <div class="mapComponent">
            <div class="mapComponentSet">
                <article class="altitude">
                    <h6>고도</h6>
                    <div class="graph"></div>
                </article>
                <article class="panel">
                    <div></div>
                    <div></div>
                </article>
                <article class="control">
                    <div class="mission">
                        <h6>미션 제어</h6>
                        <ul>
                            <li><i class="controlButton"><img src="images/default/controlsPlay.svg"></i>재생</li>
                            <li><i class="controlButton"><img src="images/default/controlsStop.svg"></i>일시정지</li>
                        </ul>
                    </div>
                    <div class="drone">
                        <h6>드론 제어</h6>
                        <ul>
                            <li><i class="controlButton"><img src="images/default/controlsHome.svg"></i>귀환</li>
                            <li><i class="controlButton"><img src="images/default/controlsGoto.svg"></i>Go To</li>
                            <li><i class="controlButton"><img src="images/default/controlsReturn.svg"></i>선회</li>
                        </ul>
                    </div>
                </article>
                <article class="values">
                    <h6>Values</h6>
                    <ul>
                        <li><span>고도 (상대) m</span>-0.0</li>
                        <li><span>속도 m/s</span>-0.0</li>
                        <li><span>비행 시간</span>00:00:00</li>
                        <li><span>대기 속도 m/s</span>-0.0</li>
                    </ul>
                </article>
            </div>
            <article class="stream">
                <dl>
                    <dt class="switchButton">
                        <span>Stream</span>
                        <input type="checkbox" id="switchStream" /><label for="switchStream">Toggle</label>
                    </dt>
                    <dd><i><img src="images/default/streamFull.svg"></i></dd>
                </dl>
                <div class="video"></div>
                <h6>Values</h6>
                <div class="streamValues">
                    <ul>
                        <li><i class="controlButton"><img src="images/default/valuesRec.svg"></i>RED</li>
                        <li><i class="controlButton"><img src="images/default/valuesCamera.svg"></i>카메라</li>
                    </ul>
                    <div class="PTZ">
                        <img src="images/default/ptzButtonBg.png" usemap="#imagemap">
                        <map name="imagemap">
                            <area shape="rect" coords="0,36,36,62" href="" target="">
                            <area shape="rect" coords="36,0,62,36" href="" target="">
                            <area shape="rect" coords="62,36,100,62" href="" target="">
                            <area shape="rect" coords="36,62,62,100" href="" target="">
                        </map>
                    </div>
                    <dl class="slideBar">
                        <dt>
                            <span>-</span>
                            <span>정상</span>
                            <span>+</span>
                        </dt>
                        <dd><input type="range" min="1" max="100" value="50" class="bar" id="myRange"></dd>
                    </dl>
                </div>
            </article>
        </div>
        <!--           //mapComponent -->
    </div>
    <!--    lnb 영역 -->
    <div class="lnb" id="">
        <section class="flightList">
            <dl class="subTitle">
                <dt>목록<span>59</span></dt>
                <dd class="switchButton">
                    <span>모든 정보 OFF</span>
                    <input type="checkbox" id="switchList" /><label for="switchList">Toggle</label>
                </dd>
            </dl>
            <div class="listScroll">
                <ul>
                    <li>
                        <dl>
                            <dt><span class="green">비행중</span>DJI신림 5호</dt>
                            <dd><i><img src="images/default/listMore.svg"></i></dd>
                        </dl>
                        <article class="flightContents">
                            <dl>
                                <dt>미션명 : 신림면 11구역 정기비행</dt>
                                <dd>총 거리 : 000,000 m</dd>
                                <dd>예상 시간 : 000 분</dd>
                            </dl>
                            <ul class="route" style="display: block;">
                                <li><span class="circle"></span><span class="text">이륙-기지명</span></li>
                                <li><span class="circle"></span><span class="text">경유지 1</span></li>
                                <li><span class="circle"></span><span class="text">경유지 2</span></li>
                                <li><span class="circle"></span><span class="text">경유지 3</span></li>
                                <li><span class="circle"></span><span class="text">경유지 4</span></li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="gray">충전완료</span>DJI신림 4호</dt>
                            <dd><i><img src="images/default/listMore.svg"></i></dd>
                        </dl>
                        <article class="flightContents" style="display: none;">
                            <dl>
                                <dt>미션명 : 신림면 11구역 정기비행</dt>
                                <dd>총 거리 : 000,000 m</dd>
                                <dd>예상 시간 : 000 분</dd>
                            </dl>
                            <ul class="route" style="display: block;">
                                <li><span class="circle"></span><span class="text">이륙-기지명</span></li>
                                <li><span class="circle"></span><span class="text">경유지 1</span></li>
                                <li><span class="circle"></span><span class="text">경유지 2</span></li>
                                <li><span class="circle"></span><span class="text">경유지 3</span></li>
                                <li><span class="circle"></span><span class="text">경유지 4</span></li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="gray">비행중</span>DJI신림 3호</dt>
                            <dd><i><img src="images/default/listMore.svg"></i></dd>
                        </dl>
                        <article class="flightContents" style="display: none;">
                            <dl>
                                <dt>미션명 : 신림면 11구역 정기비행</dt>
                                <dd>총 거리 : 000,000 m</dd>
                                <dd>예상 시간 : 000 분</dd>
                            </dl>
                            <ul class="route" style="display: block;">
                                <li><span class="circle"></span><span class="text">이륙-기지명</span></li>
                                <li><span class="circle"></span><span class="text">경유지 1</span></li>
                                <li><span class="circle"></span><span class="text">경유지 2</span></li>
                                <li><span class="circle"></span><span class="text">경유지 3</span></li>
                                <li><span class="circle"></span><span class="text">경유지 4</span></li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="yellow">충전중</span>DJI신림 2호</dt>
                            <dd><i><img src="images/default/listMore.svg"></i></dd>
                        </dl>
                        <article class="flightContents" style="display: block;">
                            <dl>
                                <dt>미션명 : 신림면 11구역 정기비행</dt>
                                <dd>총 거리 : 000,000 m</dd>
                                <dd>예상 시간 : 000 분</dd>
                            </dl>
                            <ul class="route" style="display: block;">
                                <li><span class="circle"></span><span class="text">이륙-기지명</span></li>
                                <li><span class="circle"></span><span class="text">경유지 1</span></li>
                                <li><span class="circle"></span><span class="text">경유지 2</span></li>
                                <li><span class="circle"></span><span class="text">경유지 3</span></li>
                                <li><span class="circle"></span><span class="text">경유지 4</span></li>
                            </ul>
                        </article>
                    </li>
                    <li>
                        <dl>
                            <dt><span class="yellow">충전중</span>DJI신림 2호</dt>
                            <dd><i><img src="images/default/listMore.svg"></i></dd>
                        </dl>
                        <article class="flightContents" style="display: block;">
                            <dl>
                                <dt>미션명 : 신림면 11구역 정기비행</dt>
                                <dd>총 거리 : 000,000 m</dd>
                                <dd>예상 시간 : 000 분</dd>
                            </dl>
                            <ul class="route" style="display: block;">
                                <li><span class="circle"></span><span class="text">이륙-기지명</span></li>
                                <li><span class="circle"></span><span class="text">경유지 1</span></li>
                                <li><span class="circle"></span><span class="text">경유지 2</span></li>
                                <li><span class="circle"></span><span class="text">경유지 3</span></li>
                                <li><span class="circle"></span><span class="text">경유지 4</span></li>
                            </ul>
                        </article>
                    </li>
                </ul>
            </div>
        </section>
        <div class="missionSummary">
            <ul>
                <li><span>미션명</span>산림구역 정기비행</li>
                <li><span>총 거리</span>00.00000<small>km</small></li>
                <li><span>예상 시간</span>000<small>분</small></li>
                <li><span>최종 수정</span>윤자민<small>(2021-09-14 10:15)</small></li>
            </ul>
        </div>
        <button class="lnbToggle"><span></span></button>
    </div>
</th:block>

<footer layout:fragment="footer">
</footer>

</html>