<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>SMART-CITY 통합플랫폼</title>
<link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
<link rel="stylesheet" type="text/css" href="/css/dark/main.css">

<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="/js/login2.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	
	/* 로그인 디스플레이 설정 */
	loginDisplaySet();
});
</script>

</head>

<body>
	<div class="login-wrap">
		<div class="login-img" id="loginImg">
			<dl>
				<dd id="loginBgTitSub"></dd>
				<dt id="loginBgTit"></dt>
			</dl>
		</div>
		<div class="login-form">
			<dl class="login-fail">
				<dt>
					<span class="icon"><img src="/images/login/login_fail_img.png"></span>
<!--					<span class="txt-bold">아이디 또는 비밀번호를<br>다시 확인하세요.</span>-->
					<span class="txt-bold"th:text="${#httpServletRequest.getAttribute('failMsg')}"></span>

					<span class="txt">통합플랫폼에 등록되지 않은 아이디이거나,<br>아이디 또는 비밀번호를 잘못 입력하셨습니다.</span>
				</dt>
				<dd onclick="javascript:window.location = '/'">
					<span class="icon"><img src="/images/login/icon_arrow_back.png"></span>
					<span class="txt">뒤로 </span>
				</dd>
			</dl>
		</div>
	</div>
</body>

</html>