<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/base_layout}">
<head>
    <title>미션</title>
    <script src="/js/pages/mission.js" defer></script>
</head>

<th:block layout:fragment="content">
    <div class="popup" style="display: none;">
        <div class="popupTitle"><span>미션명 등록</span></div>
        <div class="popupContent">
            <ul>
                <li>
                    <span>미션 명</span>
                    <span><input type="text" id="mission-name"></span>
                </li>
                <li>
                    <span>ID</span>
                    <span><input type="text" id="mission-id" value="admin" disabled></span>
                </li>
            </ul>
        </div>
        <div class="popupButton">
            <span class="button" onclick="pageMission.saveMission()">저장</span>
            <span class="button" onclick="pageMission.closePopup()">취소</span>
        </div>

    </div>
    <div class="listMore">
        <ul>
            <li onclick="pageMission.changeMissionName(this)"><span>미션명 변경</span></li>
            <li onclick="pageMission.deleteMission(this)"><span>삭제</span></li>
        </ul>
    </div>
    <div class="droneMap">
        <div id="map" class="map_wrap">
        <!--           mapComponent -->
        <div class="mapComponent">
            <div class="mapComponentMission">
                <article class="missionRoute">
                    <dl class="title">
                        <dt><i><img src="images/default/location.svg"></i>상세내용</dt>
                        <dd>Total<span>306</span></dd>
                    </dl>
                    <p class="missionStart">미션 시작<i><img src="images/default/arrowBottom.svg"></i></p>
                    <div class="routeContents">
                    </div>
                    <div class="routeContentsButton" style="margin-top: 15px;">
                        <div class="popupButton">
                            <span class="button" onclick="createPopup.saveMissionDetail()">저장</span>
                            <span class="button" onclick="createPopup.clearPopup()">초기화</span>
                        </div>
                    </div>
                </article>
            </div>
            <!--<article class="flightAltitude">
                <h6>비행 고도</h6>
                <div class="graph"></div>
            </article>-->
        </div>
    </div>
        <!--           //mapComponent -->
    <!--    lnb 영역 -->
        <div class="lnb" id="">
            <section class="mission">
                <article class="searchForm">
                    <div class="selectBox type03">
                        <div class="box">
                            <div class="select">전체</div>
                            <ul class="list" style="display: none;">
                                <li class="selected">전체</li>
                                <li>운용 중</li>
                                <li>임시 저장</li>
                            </ul>
                        </div>
                    </div>
                    <p class="radioButton">
                            <span class="radio">
                                <input type="radio" id="missionName" name="radio" checked="">
                                <label for="missionName"><span class="round">라디오버튼</span>미션명</label>
                            </span>
                        <span class="radio">
                                <input type="radio" id="adminUserId" name="radio">
                                <label for="adminUserId"><span class="round">라디오버튼</span>ID</label>
                            </span>
                    </p>
                    <p class="searchInput">
                        <input type="text" placeholder="검색어 입력" id="searchText">
                        <i><img src="images/default/search.svg"></i>
                    </p>

                </article>
                <dl class="subTitle">
                    <dt>목록<span>0</span></dt>
                    <dd class="button" onclick="pageMission.createMissionPopup()">신규등록</dd>
                </dl>
                <div class="listScroll">

                </div>
            </section>
            <div class="missionSummary" style="display: none;">
                <ul>
                    <li><span>미션명</span><p id="summaryName"></p></li>
                    <li><span>총 거리</span><p id="summaryDistance"></p><small>km</small></li>
                    <li><span>예상 시간</span><p id="summaryTime"></p><small>분</small></li>
                    <li><span>최종 수정</span><p id="summaryUserId"></p><small><p id="summaryUpdateDt"></p></small></li>
                </ul>
            </div>
            <div class="missionEdit">
                <ul>
                    <li id="edit_lock_btn" class="off"><i><img src="images/default/missionEdit01.svg"></i>편집잠금</li>
                    <li id="take_off_btn"><i><img src="images/default/missionEdit02.svg"></i>이륙</li>
                    <li id="waypoint_btn"><i><img src="images/default/missionEdit03.svg"></i>경유지</li>
                    <li id="return_btn"><i><img src="images/default/missionEdit04.svg"></i>귀환</li>
                    <li id="roi_btn"><i><img src="images/default/missionEdit05.svg"></i>ROI</li>
                    <li id="file_btn"><i><img src="images/default/missionEdit06.svg"></i>파일</li>
                </ul>
            </div>
            <button class="lnbToggle"><span></span></button>
        </div>
    </div>
    <script>
        const mapManager = new mapCreater('map',2);
        //map.createMousePosition('mousePosition');
        //map.scaleLine();
        window.mapManager = mapManager;
    </script>
</th:block>

<footer layout:fragment="footer">
</footer>

</html>