
@import "import/calendar.css";

.search_wrap {
	
}

.search_content .search_list {
	display: flex;
	align-items: center;
	justify-content: space-between;
    height: 25px;
}
.search_content .search_list:last-child {
	height: 35px;
}

.search_content .search_list .left {
	font-size: 15px;
	width: 30%;
	text-align-last: end;
	padding-right: 5%;
}

.search_content .search_list .right {
	width: 50%;
	text-align-last: start;
}

.search_content .search_list .right span {
	text-align-last: center;
}

/* datebox */

.datebox .combo-arrow {
    background: url(../../images/icons/schedule_nor.png) no-repeat right center;
}
.datebox .combo-arrow:hover{
	background: url(../../images/icons/schedule_pre.png) no-repeat right center;
}
