@import "popup/map_popup.css";

#map {
	width: 100%;
	height: 100%;
}

.map_control_view {
	position: absolute;
    top: 30px;
    right: 10px;
    z-index: 420;
    width: 32px;
    box-shadow: 0px 0px 5px 1px #505050;
    padding: 5px;
}
.map_control_view > span,
.cctv_control_view > span {
	position: absolute;
    top: -22px;
    right: -1px;
    width: 42px;
    height: 20px;
    line-height: 20px;
    border: 1px solid;
    text-align: center;
    z-index: 412;
    box-shadow: 0px 0px 5px 1px #505050;
    border-radius: 5px 5px 0 0;
    background: #e4e4e4;
    opacity: 0.9;
    color: #737373;
}

.cctv_control_view {
	position: absolute;
    top: 310px;
    right: 10px;
    z-index: 420;
    width: 32px;
    box-shadow: 0px 0px 5px 1px #505050;
    padding: 5px;
}

.tools {
	/* margin-top: 32px; */
}

/* .map_control, */ 
.map_tools {
	display: block;
	position: relative;
	width: 32px;
	height: 32px;
	box-shadow: 0px 0px 5px 1px #ccc;
}


#btnRoadview {
	background: url('../../images/icons/mapBtn/btn_roadview.png') no-repeat center center
}

#btnRoadview:hover {
	background: url('../../images/icons/mapBtn/btn_roadview_hover.png') no-repeat center center
}

#btnRoadview.selected_btn {
	background: url('../../images/icons/mapBtn/btn_roadview_active.png') no-repeat center center
}

#btnLayer {
	background: url('../../images/icons/mapBtn/btn_layer_default.png') no-repeat center center
}

#btnLayer:hover {
	background: url('../../images/icons/mapBtn/btn_layer_hover.png') no-repeat center center
}

#btnLayer.selected_btn {
	background: url('../../images/icons/mapBtn/btn_layer_active.png') no-repeat center center
}

#btnVideoSort {
	background: url('../../images/icons/mapBtn/btn_sort_default.png') no-repeat center center
}

#btnVideoSort:hover {
	background: url('../../images/icons/mapBtn/btn_sort_hover.png') no-repeat center center
}

#btnVideoSort.selected_btn {
	background: url('../../images/icons/mapBtn/btn_sort_active.png') no-repeat center center
}

#btnVideoTransparent {
	background: url('../../images/icons/mapBtn/btn_transparent_default.png') no-repeat center center
}

#btnVideoTransparent:hover {
	background: url('../../images/icons/mapBtn/btn_transparent_hover.png') no-repeat center center
}

#btnVideoTransparent.selected_btn {
	background: url('../../images/icons/mapBtn/btn_transparent_active.png') no-repeat center center
}

#mapZoomIn {
	background: url('../../images/icons/mapBtn/btn_default_plus.png') no-repeat center center
}

#mapZoomIn:hover {
	background: url('../../images/icons/mapBtn/btn_hover_plus.png') no-repeat center center
}

#mapZoomOut {
	background: url('../../images/icons/mapBtn/btn_default_minus.png') no-repeat center center
}

#mapZoomOut:hover {
	background: url('../../images/icons/mapBtn/btn_hover_minus.png') no-repeat center center
}

#mapDistance {
	background: url('../../images/icons/mapBtn/btn_default_distance.png') no-repeat center center
}

#mapDistance:hover {
	background: url('../../images/icons/mapBtn/btn_hover_distance.png') no-repeat center center
}

#mapDistance.selected {
	background: url('../../images/icons/mapBtn/btn_active_distance.png') no-repeat center center
}

#mapArea {
	background: url('../../images/icons/mapBtn/btn_default_area.png') no-repeat center center
}

#mapArea.selected {
	background: url('../../images/icons/mapBtn/btn_active_area.png') no-repeat center center
}

#mapArea:hover {
	background: url('../../images/icons/mapBtn/btn_hover_area.png') no-repeat center center
}

#mapRadius {
	background: url('../../images/icons/mapBtn/btn_default_radius.png') no-repeat center center
}

#mapRadius:hover {
	background: url('../../images/icons/mapBtn/btn_hover_radius.png') no-repeat center center
}

#mapRadius.selected {
	background: url('../../images/icons/mapBtn/btn_active_radius.png') no-repeat center center
}

#mapClear {
	background: url('../../images/icons/mapBtn/btn_default_eraser.png') no-repeat center center
}

#mapClear:hover {
	background: url('../../images/icons/mapBtn/btn_hover_eraser.png') no-repeat center center
}


/* 맵 기본도 설정 */
.map_type_control_holder {
	position: absolute;
	top: 10px;
	right: 60px;
	z-index: 410;
	box-shadow: 0px 0px 5px 1px #ccc;
}
.map_type_control_holder li {
	display: table-cell;
	border: 1px solid #ccc;
}
.map_type_control_holder li:first-child {
	border-width: 1px 0 1px 1px;
}
#mapTypeControlHolder ul a {
	width: 59px;
    text-decoration: none;
	color: #000;
    float: left;
    text-align: center;
}
#mapTypeControlHolder ul a span {
	width: 100%;
    background: #fff;
    padding: 6px 0;
    float: left;
    line-height: 8px;
    font-size: 11px;
}
#mapTypeControlHolder ul a.selected_btn span {
	font-weight: bold;
	background: #6e88df;
	color: #fff;
}
#mapTypeControlHolder ul a img {
	display: block;
    float: left;
}
/* .map_type_control {
	overflow: hidden;
	width: 106px;
	height: 32px;
	padding: 3px 5px 7px;
	background: url(//t1.daumcdn.net/localimg/localimages/07/2018/pc/mapTypeControl/img_MapTypeControl.png) no-repeat 0 0;
}

.map_type_control>a {
	text-decoration: none;
} */

/* .tile {
	overflow: hidden;
	float: left;
	height: 16px;
	padding: 7px 0 9px;
	font-size: 12px;
	line-height: 16px;
	color: #000;
	text-align: center;
}
.tile:hover {
	background: #f0f0f0;
}
.tile.selected_btn {
	font-weight: bold;
	background: #6e88df;
	color: #fff;
} */

#mapCenterAddrWrap {
	display: none;
	background: #eeeee8;
    padding: 2px;
    position: absolute;
    bottom: 215px;
    right: 11px;
    z-index: 1;
    font-size: 12px;
    height: 2em;
    line-height: 27px;
    border: solid #6e87df;
    box-shadow: 0px 0px 5px 1px #6e87df;
    border-width: 2px 2px 2px;
    min-width: 196px;
}

.ol-overlay-container .slide_popup {
	display: flex;
    position: relative;
    background-color: #e7e7e7;
    border-radius: 13px 13px 13px 13px;
    justify-content: center;
    border: 1px solid #ccc;
}

.jc_between {
	justify-content: space-between;
}

.flex {
	display: flex;
}

#cctvSlide {
	list-style-type: none;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	transition: left .5s, right .5s;
}

a.img_box {
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	top: 0;
	bottom: 0;
	width: 25px;
}

.ol-overlay-container .slide_popup>a.img_box {
	position: absolute;
}

.left_zero {
	left: 0;
}

.right_zero {
	right: 0;
}

.menu_wrap {
	margin: 0 8%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.img_box img {
	width: 100%
}

.area {
	display: inline-block;
}

.map_center_addr img {
	width: 10px;
	height: 10px;
}



/* #searchAddrBtn {
	background: url('../../images/icons/icon_search.png') no-repeat center center / 100%;
}
#searchAddrBtn:hover {
	background: url('../../images/icons/icon_search_hover.png') no-repeat center center / 100%;
} */

.search_addr_wrap { 
	display: block;
    background: #fff;
    padding: 0.5%;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
	top: -1px;
    left: 1px;
    z-index: 1;
    width: 220px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
}
.search_addr_wrap .search_section {
	line-height: 19px;
}
.search_addr_wrap .search_section label {
	font-size: 12px;
    vertical-align: text-top;
}
.search_addr_wrap .search_text {
	border : 1px solid #ccc
}

#searchAddrWrap.ch {
	left : 22px;	
}

.search_addr_wrap .search_text #searchKeyword {
	border : 0;
	font-size: 13px;
	outline: 0;
	padding: 1.5%;
	width: 211px;
	height: 25px;
}
.search_addr_wrap .search_text .search_addr_btn {
	position: absolute;
	height: 33px;
    width: 20px;
    right: 1em;
    top: 2.2em;
    border: 0;
    cursor: pointer;
    background: url('../../images/icons/icon_search.png') no-repeat center center / 100%;
}
.search_addr_wrap .search_text .search_addr_btn:hover {
	background: url('../../images/icons/icon_search_hover.png') no-repeat center center / 100%;
}


#sAddressList li,
#kAddressList li {
	border: solid #ccc;
	padding: 5px;
	cursor: pointer;
	border-width: 0 1px 1px 1px;
}
#sAddressList li:first-child,
#kAddressList li:first-child {
	border-width: 1px;
}
#sAddressList li:hover,
#kAddressList li:hover {
	background: #f5f5f5;
}
.result_title {
	font-size: 13px;
    font-weight: bold;
}

#kAddressList li h4{
	margin : 0;
}
#kAddressList li span {
	color: #929292;
	font-size: 11px;
}

.sInfo {
	margin-bottom : 3%;
	margin-top : 3%;
}


/* 프리셋 설정 위치 선택 오버레이 */
.get_position_btn {
	width: 20px;
	height: 20px;
	border: 1px solid red;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
	line-height: 21px;
	cursor: pointer;
}

.get_position_btn.selected {
	background-color: red;
	color: #fff;
}

#searchRadio .close_btn {
	position: absolute;
    top: 6px;
    right: 8px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('../../../images/icons/clear.png') no-repeat;
    cursor: pointer;
}

/* 선택 overlay */
.selected_overlay {
	border: 2px dashed #FF0000;
	width: 40px;
	height: 40px;
	border-radius: 20px 20px 20px 20px; 
}

/* 비디오 컨트롤 */
#videoControlBox {
	/*position: absolute;
	top: 15px;
	right: 190px;
	z-index: 410; */
}
#videoControlBox > ul {
	padding: 2px;
	display: flex;
}
/* #videoControlBox > ul > li > a {
	padding: 7px 5px;
	font-size: 15px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	display: block;
	border-radius: 5px 5px 5px 5px;
}
#videoControlBox > ul > li > a:hover {
	background-color: #e2e2e2;
}
#videoControlBox > ul > li > a.active {
	background-color: #6e88df;
	color: #fff;
} */

/* 레이어 관리 */
/* #layerControlBox {
	position: absolute;
	top: 15px;
	right: 265px;
	z-index: 410;
} */
/* #layerControlBox > ul {
	padding: 2px;
	display: flex;
} */
#layerControlBox > select {
	display: none;
}
/* #layerControlBox > ul > li > a {
	padding: 7px 5px;
	font-size: 15px;
	background-color: #fff;
	text-decoration: none;
	color: #000;
	display: block;
	border-radius: 5px 5px 5px 5px;
}
#layerControlBox > ul > li > a:hover {
	background-color: #e2e2e2;
}
#layerControlBox > ul > li > a.active {
	background-color: #6e88df;
	color: #fff;
} */
/* #layerControlBox > ul > li {
	text-align: center;
} */
#layerControlBox > .textbox {
	color: #000;
	border: none;
	border-radius: 5px 5px 5px 5px;
	position: relative;
	display: block;
	white-space: nowrap;
	max-width: 0;
	max-height: 0;
}
#layerControlBox > .textbox > .textbox-text {
	padding: 7px 5px;
	font-size: 15px;
	padding-right: 15px;
	border: 0;
	text-align: right;
	width: calc(100% - 15px) !important;
	height: 100% !important;
	border: none;
	cursor: pointer;
}
#layerControlBox > .textbox > .textbox-text:hover {
	background-color: #e2e2e2;
}
#layerControlBox > .textbox > .textbox-text:focus {
	outline: none;
	background-color: #6e88df;
	color: #fff;
}