<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>통계</title>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	
	<link rel="stylesheet" type="text/css" href="/css/dark/reset.css">
	
	<link rel="stylesheet" type="text/css" href="/css/dark/stats.css">
	<link rel="stylesheet" type="text/css" href="/css/dark/leftList.css">
	
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/import/html2canvas.js"></script>
	
	<script src="/js/stats/topojson.v1.min.js"></script>
	<script src="/js/stats/d3.v3.min.js"></script>
	<script src="/js/stats/d3-color.v1.min.js"></script>
	<script src="/js/stats/d3-interpolate.v1.min.js"></script>
	<script src="/js/stats/d3-scale-chromatic.v1.min.js"></script>
	
	<script src="/js/import/jquery.easyui.min.js"></script>
	<script src="/js/common.js"></script>
	
	<script type="text/javascript" src="/js/stats/statsMain.js"></script>

</head>
<body>
	<header>
		<div class="chart-header">
			<div class="search-content" style="width: 500px;">
				<ul>
					<li>
						<em>기간:</em>
						<input id="searchChartDateS" data-options="formatter:myformatter,parser:myparser,prompt:'시작일 입력'" style="width:178px;height:25px;margin:0;">
						&nbsp;~&nbsp;<input id="searchChartDateE" data-options="formatter:myformatter,parser:myparser,prompt:'종료일 입력'" style="width:178px;height:25px;margin:0;">
					</li>
					<li>
						<a class="select-btn" href="javascript:loadChart();">조회</a>
					</li>
				</ul>
			</div>
			<div class="chart-summary-content">
				<ul>
					<li>
						<label for="cntTotal1">발생건수</label><br>
						<span id="cntTotal1">총 <em style="margin-left: 10px;"></em> 건</span>
					</li>
					<li>
						<label for="avgDay1">일평균</label><br>
						<span id="avgDay1"><em></em> 건 / 일</span>
					</li>
					<li>
						<label for="maxEvent">최다이벤트</label><br>
						<span id="maxEvent"><em></em></span>
					</li>
					<li>
						<label for="minEvent">최소이벤트</label><br>
						<span id="minEvent"><em></em></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="chart-header">
			<div class="search-content" style="width: 500px;">
				<ul>
					<li>
						<em>대상:</em>
						<select id="selectType" style="width:100px;" onChange="loadChart()">
							<option value="event">이벤트통계</option>
							<option value="facility">시설물통계</option>
						</select>
					</li>
				</ul>
			</div>
			<div class="chart-summary-content">
				<ul>
					<li>
						<label for="cntTotal2">전체 발생건수</label><br>
						<span id="cntTotal2">총 <em style="margin-left: 10px;"></em> 건</span>
					</li>
					<li>
						<label for="avgDay2">전체 일평균</label><br>
						<span id="avgDay2"><em></em> 건 / 일</span>
					</li>
					<li>
						<label for="maxArea">최다발생지역</label><br>
						<span id="maxArea"><em></em></span>
					</li>
					<li>
						<label for="minArea">최소발생지역</label><br>
						<span id="minArea"><em></em></span>
					</li>
				</ul>
			</div>
		</div>
	</header>
	<div class="stats-main">
		<div class="stats-content">
			<div class="stats-area l">
				<th:block th:insert="view/stats/eventMapChart :: eventMapChart">
				</th:block>
			</div>
			<div class="stats-area c">
				<!-- data-html2canvas-ignore : html2canvas 사용시 해당 element및 하위 element 제외 -->
				<div class="list-condi" data-html2canvas-ignore="true">
					<ul>
						<li>
							<em>분석:</em>
							<select id="selectBarChartType" style="width:80px; height:25px;" onChange="cChartChange()">
								<option value="0">시간대별</option>
								<option value="1" >요일별</option>
								<option value="2">월별</option>
							</select>
							
							<a class="select-btn" href="javascript:elementCapture('c');" style="width: 80px; float: right;">엑셀저장</a>
						</li>
					</ul>
				</div>
				<div class="ct">
					<th:block th:insert="view/stats/eventBarChart :: eventBarChart">
					</th:block>
				</div>
				<div class="cb">
					<th:block th:insert="view/stats/eventHeatmapChart :: eventHeatmapChart">
					</th:block>
				</div>
			</div>
			
			<div class="stats-area r">
				<!-- data-html2canvas-ignore : html2canvas 사용시 해당 element및 하위 element 제외 -->
				<div class="list-condi" data-html2canvas-ignore="true">
					<ul>
						<li>
							<em>분석:</em>
							<select id="selectBarChart2Type" style="width:80px; height:25px;" onChange="rChartChange()">
								<option value="0">시간대별</option>
								<option value="1" selected>요일별</option>
								<option value="2">월별</option>
							</select>
							
							<a class="select-btn" href="javascript:elementCapture('r');" style="width: 80px; float: right;">엑셀저장</a>
						</li>
					</ul>
				</div>
				<div class="rt">
					<th:block th:insert="view/stats/eventBarChart2 :: eventBarChart2">
					</th:block>
				</div>
				<div class="rb">
					<th:block th:insert="view/stats/eventHeatmapChart2 :: eventHeatmapChart2">
					</th:block>
				</div>
			</div>
		</div>
	</div>
	<table id="lTable" style="display:none;"></table>
	<table id="cTable" style="display:none;"></table>
	<table id="rTable" style="display:none;"></table>
	<script>
		$(document).ready(function(){
			$('#searchChartDateS').datebox({requeired:true});
			
			$('#searchChartDateE').datebox({requeired:true});
			
			const nowDate = new Date();
			var nowYear = nowDate.getFullYear();
			var nowMonth = nowDate.getMonth()+1;
			var nowDay = nowDate.getDate();
			
			$('#searchChartDateE').datebox("setValue",nowYear+"-"+zeroPad(nowMonth)+"-"+zeroPad(nowDay));
			
			const lastDayofPreDate = new Date(nowDate.getFullYear(), nowDate.getMonth(), 0).getDate();
			if(nowDate.getDate() > lastDayofPreDate) nowDay = lastDayofPreDate;
			if(nowMonth == 1) {
				nowYear = nowYear-1;
				nowMonth = 13;
			}
			$('#searchChartDateS').datebox("setValue",nowYear+"-"+zeroPad(nowMonth-1)+"-"+zeroPad(nowDay));
			loadChart();
		});
		
		$(window).resize(function() {
			mapChart(baseSigCode);
			barChart();
			blockChart();
			barChart2();
			blockChart2();
		});
	</script>
</body>
</html>