
/**
* 맵관련 기본 css
*/

/* map */
.map_wrap{
    position:relative;
    flex:1;
    height:100%;
    background:#0c0c0d;
}

.map_mouse_ban {
    position: absolute;
    background: #ff000000;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* map tooltip */
#mouseOverPopup #mouseOverPopupContent{
    padding: 7px;
    background: #1e1f239e;
    box-shadow: 0px 0px 20px rgba(204, 143, 143, 0.2);
    border-radius: 10px;
    transform: translate(-50%, -40%);
}

#mouseOverPopup .my-ol-popup-closer{
    display:none;
}

#mouseClickPopup{
    width: 280px;
}

#mouseClickPopupContent{
    width: 100%;
}

#mousePosition{
    display: block;
    position: absolute;
    bottom: 32px;
    padding: 4px;
    margin-left: 9px;
    border-radius: 3px;
    z-index: 3;
    background: #1a1b1d78;
}

.tooltip {
    position: relative;
    background: #3f33ff7a;
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    border: 1px solid white;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    opacity: 1;
    background-color: #d30018b3;
    font-weight: bold;
    /*color: white;*/
}
.tooltip-measure:before {
    border-top: 6px solid #3f33ff7a;
    border-right: 6px solid transparent;
    border-left: 6px soflid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top: 6px solid #d30018b3;
    border-right: 6px solid transparent;
    border-left: 6px soflid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

/* map cctv slide menu */
.ol-overlay-container .slide-popup {
    display: flex;
    position: relative;
    background-color: #2b2d30;
    border-radius: 17px 17px 17px 17px;
    justify-content: center;
    border: 1px solid #ccc;
}

.ol-overlay-container .slide-popup .menu-wrap {
    margin: 0 8%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.ol-overlay-container .slide-popup .menu-wrap ul {
    list-style-type: none;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    transition: left .5s, right .5s;
    justify-content: space-between;
    display: flex;
}

.ol-overlay-container .slide-popup > a.img-box {
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    top: 0;
    bottom: 0;
    width: 35px;
}

.ol-overlay-container .slide-popup .left-zero {
    left: 0;
}

.ol-overlay-container .slide-popup .right-zero {
    right: 0;
}

.ol-overlay-container .slide-popup .img-box img {
    width: 35px;
}