<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:insert="/fragments/default/head"/>

<body>
<div class="wrap">
    <th:block th:replace="fragments/default/header :: headerFragment" />

    <div class="inquiry">
        <th:block th:replace="fragments/inqry/nav :: navFragment" />
        <th:block layout:fragment="content" />
    </div>

    <th:block th:replace="fragments/default/footer :: footerFragment" />

</div>
</body>

</html>