<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="/fragments/default/default" />
    <link rel="stylesheet" type="text/css" href="/css/board.css">
</head>
<body>
<div class="wrap">
    <th:block th:replace="fragments/default/header :: headerFragment" />

    <div class="setting">
        <th:block th:replace="fragments/config/nav :: navFragment" />
        <div class="setting_container">
            <th:block layout:fragment="content" />
        </div>
    </div>

    <th:block th:replace="fragments/default/footer :: footerFragment" />

</div>
</body>
</html>