<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="fragments/default/default"/>
    <script src="/webjars/jquery-ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/monitoring.css">
    <script type="text/javascript" src="/js/map/controlMap.js"></script>
    <script type="text/javascript" src="/js/pages/mntr.js"></script>
    <script type="text/javascript" src="/js/api/kakaoApi.js"></script>
    <th:block th:insert="view/commons/map"/>
</head>
<body>
    <div class="wrap">
        <th:block th:replace="fragments/default/header :: headerFragment" />

            <div class="mntr_container">
                <th:block layout:fragment="menu" />
                <th:block th:replace="fragments/mntr/navL :: navLFragment" />
                <th:block layout:fragment="content" />
                <th:block th:replace="fragments/mntr/navR :: navRFragment" />
            </div>

        <th:block th:replace="fragments/default/footer :: footerFragment" />
    </div>
</body>

</html>
