<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">화면 설정</h4>
<div class="adminCont-form">
	<ul>
		<li>
			<span class="title">로그인 배경이미지</span>
			<span class="file">
				<input class="upload-name" id="loginBgUrl" placeholder="파일을 선택해 주세요." disabled="disabled">
				<label for="loginBgAttach">파일 선택</label>
				<input type="file" id="loginBgAttach" name="loginBgAttach" onchange="setImageFile(this);">
				<a id="loginBgRemove" href="#" onClick="removeImageFile(this);">파일 지우기</a>
				<img id="loginBgLoad">
			</span>
		</li>
		<li>
			<span class="title">로그인 타이틀</span>
			<span class=""><input type="text" id="loginBgTit"></span>
			<span class="title">로그인 서브타이틀</span>
			<span class=""><input type="text" id="loginBgTitSub"></span>
		</li>
		<li><hr size="1" align="left" style="width:calc(100% - 75px);border-color:#4e4e4e;" noshade></li>
		<li>
			<span class="title">메인상단 타이틀</span>
			<span class=""><input type="text" id="introTit"></span>
		</li>
		<li>
			<span class="title">메인 배너이미지1</span>
			<span class="file">
				<input class="upload-name" id="introBgUrl1" placeholder="파일을 선택해 주세요." disabled="disabled">
				<label for="introBgAttach1">파일 선택</label>
				<input type="file" id="introBgAttach1" name="introBgAttach1" onchange="setImageFile(this);">
				<a id="introBgRemove1" href="#" onClick="removeImageFile(this);">파일 지우기</a>
				<img id="introBgLoad1">
			</span>
		</li>
		<li>
			<span class="title">메인 배너이미지2</span>
			<span class="file">
				<input class="upload-name" id="introBgUrl2" placeholder="파일을 선택해 주세요." disabled="disabled">
				<label for="introBgAttach2">파일 선택</label>
				<input type="file" id="introBgAttach2" name="introBgAttach2" onchange="setImageFile(this);">
				<a id="introBgRemove2" href="#" onClick="removeImageFile(this);">파일 지우기</a>
				<img id="introBgLoad2">
			</span>
		</li>
		<li>
			<span class="title">메인 배너이미지3</span>
			<span class="file">
				<input class="upload-name" id="introBgUrl3" placeholder="파일을 선택해 주세요." disabled="disabled">
				<label for="introBgAttach3">파일 선택</label>
				<input type="file" id="introBgAttach3" name="introBgAttach3" onchange="setImageFile(this);">
				<a id="introBgRemove3" href="#" onClick="removeImageFile(this);">파일 지우기</a>
				<img id="introBgLoad3">
			</span>
		</li>
		<li>
			<span class="title">배너 타이틀</span>
			<span class=""><input type="text" id="introBgTit"></span>
			<span class="title">배너 서브타이틀</span>
			<span class=""><input type="text" id="introBgTitSub"></span>
		</li>
	</ul>
</div>
<ul class="right-btn">
	<li class="btn-modify" onClick="saveDisplaySet();">저장</li>
</ul>

<script th:inline="javascript">
$(document).ready(function() {
	const jsonObj = {};
	jsonObj.id = "admim";
	$.ajax({
		type       : "POST",
		url        : "/select/admin.selectDisplaySet/action.do",
		dataType   : "json",
		data       : {
			"param" : JSON.stringify(jsonObj)
		},
		async      : false
	}).done(function(data) {
		var rowData = data.rows[0];
		if(rowData=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
		$('#loginBgTit').val(rowData.loginBgTit);
		$('#loginBgTitSub').val(rowData.loginBgTitSub);
		
		$('#introTit').val(rowData.introTit);
		
		$('#introBgTit').val(rowData.introBgTit);
		$('#introBgTitSub').val(rowData.introBgTitSub);
		
		var imgFile = "/file/getImage2.do?sPath=display&imageUrl="+rowData.loginBg;
		$('#loginBgUrl').val(rowData.loginBg);
		$('#loginBgLoad').css('background-image','url('+imgFile+')');
		
		var imgFile1 = "/file/getImage2.do?sPath=display&imageUrl="+rowData.introBg1;
		var imgFile2 = "/file/getImage2.do?sPath=display&imageUrl="+rowData.introBg2;
		var imgFile3 = "/file/getImage2.do?sPath=display&imageUrl="+rowData.introBg3;
		$('#introBgUrl1').val(rowData.introBg1);
		$('#introBgUrl2').val(rowData.introBg2);
		$('#introBgUrl3').val(rowData.introBg3);
		$('#introBgLoad1').css('background-image','url('+imgFile1+')');
		$('#introBgLoad2').css('background-image','url('+imgFile2+')');
		$('#introBgLoad3').css('background-image','url('+imgFile3+')');
	});
});

function setImageFile(e) {
	if($('#'+e.id)[0].files.length == 0) return;

	var oFile = document.getElementById(e.id).files[0];
    var rFilter = /^(image\/bmp|image\/gif|image\/jpeg|image\/png|image\/tiff)$/i;
    
    if (! rFilter.test(oFile.type)) {
        alert('이미지 파일이 아닙니다.');
        return;
    }
    
    const file = document.getElementById(e.id).files[0];
    var filePath = common.fileUpload(file, 'display');
    
    if(filePath == "") {
    	alert('파일을 다시 선택 해 주세요');
    }
    else {
    	$('#'+e.id.replace('Attach','Url')).val(filePath);
    	filePath = filePath.replace(/\\/gi, '//');
    	
    	var oImage = document.getElementById(e.id.replace('Attach','Load'));
		var imgFile = "/file/getImage2.do?sPath=display&imageUrl="+filePath;
		oImage.src = imgFile;
    }
}


function saveDisplaySet() {
	const jsonObj = {};
	jsonObj.singleUpdateSid = "admin.saveDisplaySet";
	jsonObj.loginBg = $('#loginBgUrl').val();
	jsonObj.loginBgTit = $('#loginBgTit').val();
	jsonObj.loginBgTitSub = $('#loginBgTitSub').val();
	jsonObj.introBg1 = $('#introBgUrl1').val();
	jsonObj.introBg2 = $('#introBgUrl2').val();
	jsonObj.introBg3 = $('#introBgUrl3').val();
	jsonObj.introTit = $('#introTit').val();
	jsonObj.introBgTit = $('#introBgTit').val();
	jsonObj.introBgTitSub = $('#introBgTitSub').val();
	
	$.ajax({
		type       : "POST",
		url        : "/multiAjax/action.do",
		dataType   : "json",
		data       : {"param" : JSON.stringify(jsonObj)},
		async      : false,
		beforeSend : function(xhr) {}
	}).done(function (result) {
		if (result == "SUCCESS") {
			if(confirm("수정 사항은 재 로그인 시 적용됩니다.\n확인 버튼을 누르면 로그인 화면으로 전환됩니다.")) {
				logout();
			}
		}
		else {
			alert("저장 실패");
		}
	}).fail(function (xhr) {
		alert("저장 실패");
	}).always(function() {
		
	});
}

function removeImageFile(e) {
	$('#'+e.id.replace('Remove','Url')).val("");
	$('#'+e.id.replace('Remove','Load')).css('background-image','');
	
}
</script>