<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/heatmap.css?">
<script src="/js/heatmap.js"></script>
<script src="/js/simplePagination/simplePagination.js"></script>
<h4 class="admin-title">저장영상장애로그</h4>
<ul class="list-condi">
	<li class="list">
		<em>서버 아이피 : </em>
		<select id="searchFcltSvrIp" style="width: 100px;">
		</select>
		<em>검색 등급 : </em>
		<select id="searchRange" style="width: 100px;">
			<option value="all">80 ~ 100%</option>
			<option value="3before">50 ~ 80%</option>
			<option value="3after">1 ~ 50%</option>
			<option value="zero">0%</option>
		</select>
		<em>검색 조건 : </em>
		<select id="searchGbn" style="width:100px;">
			<option value="">전체</option>
			<option value="1">카메라 관리번호</option>
			<option value="2">카메라 이름</option>
		</select>
		<input type="text" id="searchText" style="width:250px;" onkeypress="if(event.keyCode==13){initNodeStorageStatus();}" placeholder=""/>
		
		<a href="#" class="select-btn" onclick="initNodeStorageStatus()">검색</a>
		<a href="#" class="select-btn" onclick="searchClear()">초기화</a>
	</li>
</ul>

<div style="width:99%;height:85%;">
	<div id="oprtStorageHeatmap" style="width:100%;height:95%;"></div>
	<ul id="oprtStorageHeatmapPagination"></ul>
</div>

<!-- <div class="btn_area_right">
	<a href="#" class="btn btnExcel" onclick="excelDown('oprtNoticeTable','getNoticeList','notice_list_result')">엑셀저장</a>
</div> -->

<script th:inline="javascript">

$(document).ready(function(){
	common.getSelectBoxItem({
		"el"                : "searchFcltSvrIp",
		"sql"               : "vms.getFcltSvrIpList",
		"val"               : "code",
		"text"              : "code",
		"isAllCheckCustom"	: "전체",
		"userId"			: ''
	});
	
	$('#searchFcltSvrIp').bind('change', function(e) {
		initNodeStorageStatus();
	});
	
	$('#searchRange').bind('change', function(e) {
		initNodeStorageStatus();
	});
	
	initNodeStorageStatus();
});

function searchClear() {
	$('#searchFcltSvrIp').val('');
	$('#searchRange').val('all');
	$('#searchGbn').val('');
	$('#searchText').val('');
}

function initNodeStorageStatus() {
	$("#oprtStorageHeatmap").html('');
	$('#oprtStorageHeatmapPagination').html('');
	
	const searchFcltSvrIp = $('#searchFcltSvrIp').val();
	const searchRange = $('#searchRange').val();
	const searchGbn = $('#searchGbn').val();
	const searchText = $('#searchText').val();
	
	const jsonObj = {};
	jsonObj.searchFcltSvrIp = searchFcltSvrIp;
	jsonObj.searchRange = searchRange;
	jsonObj.searchGbn = searchGbn;
	jsonObj.searchText = searchText;
	
	$.ajax({
		type       : "POST",
		url        : "/vms/getNodeBaseData.do",
		dataType   : "json",
		data       : {
			"param" : JSON.stringify(jsonObj)
		},
		async      : false
	}).done(function(result) {
		const rows = result.rows;
    	if(rows=='sessionOut'){
			alert('로그인 시간이 만료되었습니다.');
			closeWindow();
		}
    	const x = result.x;
    	const cnt = result.cnt;
    	const itemsOnPage = 150;
    	const displayedPages = 10;
    	var nowPage = 1;

    	const option = {
    		x : x,
    		id : 'oprtStorageHeatmap',
    		pagenationId : 'oprtStorageHeatmapPagination',
    		width : '500px',
    		height: '500px',
    		itemsOnPage : itemsOnPage,
    		items : cnt,
    		displayedPages : displayedPages,
    		isTooltip : true,
    		colors : ['#051923', '#003554', '#006494', '#0582ca', '#00a6fb'],
    		legends : ['0%', '1% ~ 87%', '88% ~ 99%', '100%'],
    		yLabel : '관리번호',
    		xLabel : '날짜'
    	};

    	const heatmap = $("#oprtStorageHeatmap").customHeatmap(option);

		$('#oprtStorageHeatmapPagination').simplePagination({
			items: cnt,
			itemsOnPage : itemsOnPage,
			displayedPages : displayedPages,
			edges : 0,
			prevText : "<",
			nextText : ">",
			cssStyle: 'custom-theme',
			onInit : function (){
				getNodeStorageStatus(1, itemsOnPage, heatmap);
			},
			//클릭할때
			onPageClick :  function (pagenumber) {
				nowPage = pagenumber;
				getNodeStorageStatus(pagenumber, itemsOnPage, heatmap);
			}
		});
	});
}

function getNodeStorageStatus(pagenumber, itemsOnPage, heatmap) {
	const firstIndex = (pagenumber - 1) * itemsOnPage;
	const lastIndex = ((pagenumber - 1) * itemsOnPage) + itemsOnPage;
	const searchFcltSvrIp = $('#searchFcltSvrIp').val();
	const searchRange = $('#searchRange').val();
	const searchGbn = $('#searchGbn').val();
	const searchText = $('#searchText').val();
	
	const jsonObj = {};
	jsonObj.firstIndex = firstIndex;
	jsonObj.lastIndex = lastIndex;
	jsonObj.searchFcltSvrIp = searchFcltSvrIp;
	jsonObj.searchRange = searchRange;
	jsonObj.searchGbn = searchGbn;
	jsonObj.searchText = searchText;
		
	$.ajax({
		type       : "POST",
		url        : "/vms/getNodeStorageStatus.do",
		dataType   : "json",
		data       : {
			"param" : JSON.stringify(jsonObj)
		},
		async      : false
	}).done(function(result) {
		const y = result.y;
		const rows = result.rows;
		
		const option = {};
		option.y = y;
		option.data = rows;
		
		heatmap.setProp(option);
		heatmap.movePage();
	});
}
</script>