<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">영상재생로그</h4>
<ul class="list-condi">
	<li class="list">
		<em>재생 종류 : </em>
		<select id="searchType" style="width:100px;">
			<option value="">전체</option>
			<option value="R">실시간</option>
			<option value="S">저장영상</option>
		</select>
		<em>재상 일자 : </em>
		<input id="searchViewTimeS" data-options="formatter:myformatter,parser:myparser,prompt:'시작일 입력'" style="width:180px;height:25px;margin: 0;">
		&nbsp;~ 
		<input id="searchViewTimeE" data-options="formatter:myformatter,parser:myparser,prompt:'종료일 입력'" style="width:180px;height:25px;margin: 0;">
		<em>검색조건 : </em>
		<select id="searchGbn" style="width:250px;">
			<option value="">전체</option>
			<option value="fcltId">시설물 아이디</option>
			<option value="fcltNm">시설물 명</option>
			<option value="userId">사용자 아이디</option>
		</select>
		<input type="text" id="searchContent" style="width:250px;" onkeypress="if(event.keyCode==13){reload();}" placeholder=""/>
		
		<a href="#" class="select-btn" onclick="reload()">검색</a>
		<a href="#" class="select-btn" onclick="searchClear()">초기화</a>
	</li>
</ul>

<table id="oprtCctvViewTable" title="" style="width:99%;height:85%;"></table>

<ul class="right-btn">
	<li class="btn-excel" onClick="excelDown('oprtCctvViewTable','getCctvViewLog','cctv_view_log_result')">엑셀저장</li>
</ul>

<div id="rcv_popup_area" style="display:none;"></div>

<script th:inline="javascript">
$(document).ready(function(){
	$('#searchViewTimeS').datebox({
		requeired:true
	});
	
	$('#searchViewTimeE').datebox({
		requeired:true
	});
	
	reload();
});

var jsonMObj = {};

function reload() {
	var searchType = $('#searchType').val();
	var searchGbn = $('#searchGbn').val();
	var timeS = $('#searchViewTimeS').datebox('getValue');
	var timeE = $('#searchViewTimeE').datebox('getValue');
	var searchContent = $('#searchContent').val();
	if(!dateboxValiCk(timeS , timeE)){
		return;
	}
	
	const jsonObj = {};

	jsonObj.searchViewTimeS = timeS;
	jsonObj.searchViewTimeE = timeE;
	jsonObj.searchType = searchType;
	jsonObj.searchGbn = searchGbn;
	jsonObj.searchContent = searchContent;
	
	jsonMObj = jsonObj;
	
	$('#oprtCctvViewTable').datagrid({
	    url:'/selectList/oprt.getCctvViewLog/action.do',
	    pagination:true,
	    pageSize:20,
	    queryParams : {
			pageSize: 20,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
			{field: 'rnum', title: '번호', width:'5%', align:'center'},
			{field: 'fcltId', title: '시설물 아이디', width:'10%', align:'center'},
	        {field: 'fcltNm', title: '시설물 명', width:'20%', align:'center'},
	        {field: 'typeNm', title: '재생 종류', width:'10%', align:'center'},
	        {field: 'userId', title: '사용자 아이디', width:'10%', align:'center'},
	        {field: 'storageStartTime', title: '저장영상 시작시간', width:'15%', align:'center'},
	        {field: 'storageEndTime', title: '저장영상 종료시간', width:'15%', align:'center'},
	        {field: 'insertDate', title: '재생 일자', width:'15%', align:'center'}
	    ],
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    }
	});
}

function searchClear(){
	$('#searchType').val('');
	$('#searchGbn').val('');
	$('#searchContent').val('');
	$('#searchViewTimeS').datebox();
	$('#searchViewTimeE').datebox();
}

function excelDown(tableNm, sqlId, fileNm) {
	var path = '/excelDownload/oprt.'+sqlId+'/action.do';
	excelDownLoad('#'+tableNm, path, fileNm, jsonMObj);
}
</script>

