<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">사용자그룹 관리</h4>
<ul class="list-condi">
	<li class="list">
		<em>사용자그룹 아이디</em>
		<input type="text" id="searchSendGrpId" style="width:200px;" onkeypress="if(event.keyCode==13){reload();}"/>
		<em>사용자그룹 명</em>
		<input type="text" id="searchSendGrpNm" style="width:200px;" onkeypress="if(event.keyCode==13){reload();}"/>
		<em>사용유형</em>
		<select class="easyui-combobox" id="searchUseType" onChange="reload()">
			<option value="Y">사용</option>
			<option value="N">미사용</option>
		</select>
		
		<a href="#" class="select-btn" onclick="reload()">검색</a>
	</li>
</ul>

<table id="oprtUserGroupTable" title="" style="width:99%;height:85%;"></table>

<ul class="right-btn">
	<li class="btn-insert" onclick="addUserGroup()">추가</li>
	<li class="btn-modify" onclick="modifyUserGroup()">수정</li>
	<li class="btn-delete" onclick="deleteUserGroup()">삭제</li>
</ul>

<script th:inline="javascript">
$(document).ready(function(){
	reload();
});

function reload(){
	
	const jsonObj = {};
	jsonObj.useYn = $('#searchUseType option:selected').val();
	jsonObj.searchSmsGroupId = $('#searchSendGrpId').val();
	jsonObj.searchSmsGroupName = $('#searchSendGrpNm').val();
	
	$('#oprtUserGroupTable').datagrid({
	    url:'/selectList/oprt.getUserGroupList/action.do',
	    pagination:true,
	    pageSize:20,
	    queryParams : {
			pageSize: 20,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
			/* {field: 'check', checkbox: true, width:'5%', align:'center'}, */
			{field: 'rnum', title: '번호', width:'5%', align:'center'},
			{field: 'userGrpId', title: '사용자그룹 아이디', width:'25%', align:'center'},
			{field: 'userGrpNm', title: '사용자그룹 명', width:'25%', align:'center'},
			{field: 'userCnt', title: '인원', width:'15%', align:'center'},
			{field: 'useYnNm', title: '사용유무', width:'5%', align:'center'},
			{field: 'updateDate', title: '수정일자', width:'20%', align:'center'},
			{field: 'userId', title: '아이디', hidden: true},
			{field: 'userNm', title: '이름', hidden: true}
	    ],
	    /* onDblClickRow:function(index, row) {
	    	openDetailPopup(index, row);
	    }, */
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    }
	});
}

//function openDetailPopup(index, row) {
function modifyUserGroup() {
	var row = $('#oprtUserGroupTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}
	
	const jsonObj = {};
	jsonObj.groupId = row.userGrpId;

    $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.getUserGroupList/action.do",
            dataType   : "json",
            data       : {
                "param" : JSON.stringify(jsonObj)
            },
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
        	selectedData = rows;
        	
        	const path = "oprt/popup/oprtUserGrpPopup";
        	console.log(path);
        	common.openDialogPopPosition("oprtUserGrpPopup", "사용자그룹 수정", "410", "300", "true", "/action/page.do", {path: path}, path.split("/")[2]);
    }).fail(function (xhr) {
        
    }).always(function() {

    });
}

function addUserGroup() {
    const path = "oprt/popup/oprtUserGrpPopup";
	console.log(path);
	common.openDialogPopPosition("oprtUserGrpPopup", "사용자그룹 신규 등록", "410", "300", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}

function deleteUserGroupDetail(deleteRowId) {

	const jsonObj = {};
	
	jsonObj.singleDeleteSid = "oprt.deleteSmsDetail";
	jsonObj.deleteRowId = deleteRowId;
	
    $.ajax({
            type       : "POST",
            url        : "/multiAjax/action.do",
            dataType   : "json",
            data : {"param" : JSON.stringify(jsonObj)},
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (data) {
	    	console.log(data)
        if (data) {
        	
        }
    }).fail(function (xhr) {
        alert("등록 실패");
    }).always(function() {

    });
}

function deleteUserGroup() {
	var chkRows = $('#oprtUserGroupTable').datagrid('getSelected');
	if(chkRows != null) {
		if(confirm("삭제하시겠습니까?")) {
			const jsonArray1 = [];
			const jsonArray2 = [];
			const jsonArray3 = [];
			const jsonArray4 = [];

			const jsonObj = {};
			jsonObj.rowStatus = 'D';
			
						
			jsonObj.groupId = chkRows.userGrpId;
			
			jsonArray1[0] = jsonObj;
		    jsonArray2[0] = jsonObj;
		    
		    $.ajax({
		            type       : "POST",
		            url        : "/multiTransaction/oprt.deleteUserGroup/oprt.deleteUserDetail/sqlid3/sqlid4/action.do",
		            dataType   : "json",
		            data : {
		            	"param1" : JSON.stringify(jsonArray1),
		                "param2" : JSON.stringify(jsonArray2),
		                "param3" : JSON.stringify(jsonArray3),
		                "param4" : JSON.stringify(jsonArray4)
					},
		            async      : false,
		            beforeSend : function(xhr) {
		                // 전송 전 Code
		            }
		        }).done(function (result) {
		        if (result == "SUCCESS") {
		            $('#oprtUserGroupTable').datagrid('reload');
		            alert("삭제 완료");
		        }
		        else {
		            alert("삭제 실패");
		        }
		    }).fail(function (xhr) {
		        alert("삭제 실패");
		    }).always(function() {

		    });
		}
	}
	else {
		alert('선택 된 정보가 없습니다.');
		return;
	}
}


</script>

