<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<h4 class="admin-title">계정 관리</h4>
<ul class="list-condi">
	<li class="list">
		<em>아이디</em>
		<input type="text" id="searchUserId" style="width:250px;" placeholder="" onkeypress="if(event.keyCode==13){reload();}"/>
		<em>이름</em>
		<input type="text" id="searchUserNm" style="width:250px;" placeholder="" onkeypress="if(event.keyCode==13){reload();}"/>
		<!-- <em>사용유형</em>
		<select class="easyui-combobox" id="search_use_type">
			<option value="Y">사용</option>
			<option value="N">미사용</option>
			<option value="D">삭제</option>
		</select> -->
		<a href="#" class="select-btn" onclick="reload()">검색</a>
	</li>
</ul>

<table id="oprtUserTable" title="" style="width:99%;height:85%;"></table>

<ul class="right-btn">
	<li class="btn-insert" onClick="setUserCctv();">CCTV 분배</li>
	<li class="btn-insert" onClick="addUser();">추가</li>
	<li class="btn-modify" onClick="modifyUser();">수정</li>
	<li class="btn-delete" onClick="deleteUser()">삭제</li>
</ul>
<script th:inline="javascript">
$(document).ready(function(){
	reload();
});

function reload(){
	
	const jsonObj = {};
	jsonObj.searchUserId = $('#searchUserId').val();
	jsonObj.searchUserNm = $('#searchUserNm').val();
	
	$('#oprtUserTable').datagrid({
	    url:'/selectList/oprt.getUserList/action.do',
	    pagination:true,
	    pageSize:18,
	    queryParams : {
			pageSize: 18,
			param : JSON.stringify(jsonObj),
	    },
	    columns:[
	        {field: 'userId', title: '아이디', width:'20%', align:'center'},
			{field: 'userNm', title: '이름', width:'30%', align:'center'},
			{field: 'phoneNo', title: '핸드폰번호', width:'10%', align:'center'},
			{field: 'rpsbWork', title: '담당업무', width:'30%', align:'center'},
			{field: 'groupNm', title: '그룹이름', width:'10%', align:'center'},
			{field: 'groupId', hidden:true},
			{field: 'groupNm', hidden:true}
	    ],
	    /* onDblClickRow:function(index, row) {
	    	openUserDetailPopup(index, row);
	    }, */
	    onLoadSuccess:function(data){
	    	if(data.rows=='sessionOut'){
				alert('로그인 시간이 만료되었습니다.');
				closeWindow();
			}
	    }
	});
}

function modifyUser() {
	var row = $('#oprtUserTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}
	
	var page = '/oprt/popup/oprtUserPopup'; 
    $("#oprtPopupArea").html("");
    $("#oprtPopupArea").load("/action/page.do", { path : page }, function() {
    	
    });
    
	const jsonObj = {};
	jsonObj.userId = row.userId;

    $.ajax(
        {
            type       : "POST",
            url        : "/select/oprt.getUserList/action.do",
            dataType   : "json",
            data       : {
                "param" : JSON.stringify(jsonObj)
            },
            async      : false,
            beforeSend : function(xhr) {
                // 전송 전 Code
            }
        }).done(function (result) {
    		const rows = result.rows;
        	if(rows=='sessionOut'){
    			alert('로그인 시간이 만료되었습니다.');
    			closeWindow();
    		}
        	selectedData = rows;
        	
            $('#oprtPopupArea').dialog({
                title: '사용자-상세',
                width: 410,
                height: 500,
                left: 710,
                top: 250,
                closed: false,
                cache: false,
                modal: true,
        		onClose: function() {
        			selectedData = '';
        		}
            });
            $('#oprtPopupArea').dialog('open');
    }).fail(function (xhr) {
        
    }).always(function() {

    });
}

function addUser() {
	var page = '/oprt/popup/oprtUserPopup'; 
    $("#oprtPopupArea").html("");
    $("#oprtPopupArea").load("/action/page.do", { path : page }, function() {
    	
    });
    
    $('#oprtPopupArea').dialog({
        title: '사용자 신규 등록',
        width: 410,
        height: 500,
        left: 710,
        top: 250,
        closed: false,
        cache: false,
        modal: true,
		onClose: function() {
			selectedData = '';
		}
    });
    $('#oprtPopupArea').dialog('open');
}

function deleteUser() {
	var row = $('#oprtUserTable').datagrid('getSelected');
	
	if(row != null) {
		if(confirm("삭제하시겠습니까?")) {
			const jsonObj = {};
			jsonObj.singleDeleteSid = "oprt.deleteUser";
			jsonObj.userId = row.userId;
			
		    $.ajax({
		            type       : "POST",
		            url        : "/multiAjax/action.do",
		            dataType   : "json",
		            data : {"param" : JSON.stringify(jsonObj)},
		            async      : false,
		            beforeSend : function(xhr) {
		                // 전송 전 Code
		            }
		        }).done(function (result) {
		        if (result == "SUCCESS") {
		            $('#oprtUserTable').datagrid('reload');
		            alert("삭제 완료");
		        }
		        else {
		            alert("삭제 실패");
		        }
		    }).fail(function (xhr) {
		        alert("삭제 실패");
		    }).always(function() {

		    });
		}
	}
	else {
		alert('선택 된 정보가 없습니다.');
		return;
	}
}

function setUserCctv() {
	var row = $('#oprtUserTable').datagrid('getSelected');
	if(row == null) {
		alert('선택 된 정보가 없습니다.');
		return;
	}
	
	const path = "oprt/popup/oprtUserCctvPopup";
	console.log(path);
	common.openDialogPopPosition("oprtUserCctvPopup", "사용자 CCTV 분배", "1100", "800", "true", "/action/page.do", {path: path}, path.split("/")[2]);
}


</script>

