/* video.css */

.dialog {
	position: absolute !important;
	background-color: #2b2d30;
	z-index: 11;
	-webkit-transition: all 0.5s ease;
	moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.dialog.transparent {
	opacity: 0.6;
}

.dialog:hover {
	border: 2px solid #ff0000 !important;
}

.dialog .close {
	position: absolute;
	right: 9px;
    bottom: 9px;
	cursor: pointer;
}

.dialog .title {
	background-color: #ccc;
	color: #fff;
	width: 100%;
	position: absolute;
}

.draggable {
	cursor: move;
}

.dialog.active {
	z-index: 12;
	border: 2px solid #ff0000 !important;
}

.dialog.ui-draggable-dragging,
.dialog.ui-resizable-resizing {
	-webkit-transition: none;
	moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.dialog > .site-video-wrap {
	width: 100%;
	height: 100%;
	position: relative;
}

.dialog > .site-video-wrap > .video-wrap {
	background-color: #36393d;
	float: left;
	position: relative;
}

.dialog > .site-video-wrap > .video-wrap:only-child {
	width: 100%;
	height: 100%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(2),
.dialog > .site-video-wrap > .video-wrap:nth-last-child(2)+.video-wrap {
	width: 100%;
	height: 50%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(3):first-child {
	width: 100%;
	height: 50%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(3),
.dialog > .site-video-wrap > .video-wrap:nth-last-child(3)~.video-wrap {
	width: 50%;
	height: 50%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(4),
.dialog > .site-video-wrap > .video-wrap:nth-last-child(4)~.video-wrap {
	width: 50%;
	height: 50%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(5):first-child {
	width: 100%;
	height: 45%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(5),
.dialog > .site-video-wrap > .video-wrap:nth-last-child(5)~.video-wrap {
	width: 50%;
	height: 27.5%;
}

.dialog > .site-video-wrap > .video-wrap:nth-last-child(6),
.dialog > .site-video-wrap > .video-wrap:nth-last-child(6)~.video-wrap {
	width: 50%;
	height: 33.3333333%;
}

.dialog > .video-wrap {
	width: 100%;
	height: calc(100% - 40px);
	position: relative;
}

.dialog > .video-wrap > .spinner {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.dialog > .video-wrap > .spinner > img {
	width: 100%;
}

.dialog > .video-wrap > .error-view {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.dialog > .video-wrap > .error-view > img {
	width: 40%;
}

.dialog > .video-wrap > video,
.dialog > .video-wrap > .video-content,
.dialog > .video-wrap > .video-content > video {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #36393d;
	object-fit: fill;
}

.video-wrap.active {
	height: calc(100% - 56px);
}

.btn_wrap {
	background-color : #2b2d30;
	color: #fff;
	width: 100%;
	height: 40px;
	opacity: 1;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_wrap a {
	display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0px 10px;
    color: rgba(255,255,255,0.4);
    background: #494e56;
    border-radius: 3px;
    cursor: pointer;
	margin-left: 10px;
    text-decoration: none;
}

.btn_wrap a:hover {
	color: #FFF;
	background: #565e69;
}

.btn_wrap a.active {
    background: #3f87f5;
    color: #FFF;
}

.setting-wrap {
	display: none;
	background-color : #ccc;
	color: #fff;
	z-index: 2;
}

.setting-wrap.active {
	display: block;
}

.setting-wrap .display {
	display: flex;
	justify-content: space-around;
}

/* 상세정보 */
.dialog .detail-wrap {
	display: none;
	position: absolute;
	top: 0;
	color: #fff;
	background-color: rgb(0, 0, 0, 0.5);
	width: 100%;
	height: calc(100% - 40px);
}
.detail-wrap li {
	width: 100%;
	margin: 2px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dialog .detail-wrap li span:first-child {
	width: calc(20% - 8px);
	text-align-last: end;
	height: 100%;
}
.dialog .detail-wrap li span:last-child {
	width: calc(80% - 8px);
	text-align-last: start;
	border-left: 1px solid #e2e2e2;
}
.dialog .detail-wrap li span {
	display: inline-block;
	padding: 2px 4px;
}

/* switch button css */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 18px;
}

.position_left {
	position: absolute;
	left: 6px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-text {
	position: absolute;
	color: #fff;
	font-size: 12px;
	z-index: 1;
	top: 1px;
	-webkit-transition: .4s;
	transition: .4s;
	left: 0;
	right: 0;
	text-align: center;
}

.switch-text.on {
	left: -18px;
}

.switch-text.off {
	right: -12px;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #aaa;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(30px);
	-ms-transform: translateX(30px);
	transform: translateX(30px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


/* resizable, draggable */
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
