<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
</head>
<body>
<table th:border="1" class="mission">
    <tr>
        <th>mission id</th>
        <td><input type="text" id="mission_id" name="mission_id"></td>

    </tr>

    <button id="connect">누르면 드론이 연결되요 번호를 쓰고 누르세요</button>
    <button id="start">누르면 드론이 미션따라움직여요</button>
    <button id="log">누르면 로그가나와요</button>
    <button id="play"> 누르면 다시 실행되요</button>
    <button id="pause"> 누르면 일시정지되요</button>

</table>

</body>


<script>
    let i = 0;
    let mission_id=0;
    $("#createMissionDetails").on("click", function () {
        $(".mission").append(`<tr class="MissionDetails${i}"></tr>`)

        $(`.MissionDetails${i}`).append(`<th>미션이름</th>`)
        $(`.MissionDetails${i}`).append(`<td><input type="text" class = "name"  name="name"> </td>`)

        $(`.MissionDetails${i}`).append(`<th>미션순서</th>`)
        $(`.MissionDetails${i}`).append(`<td><input type="text" class = "index"  name="index"> </td>`)

        $(`.MissionDetails${i}`).append(`<th>X</th>`)
        $(`.MissionDetails${i}`).append(`<td><input type="text" class = "gpsX"  name="gpsX"> </td>`)

        $(`.MissionDetails${i}`).append(`<th>Y</th>`)
        $(`.MissionDetails${i}`).append(`<td><input type="text" class = "gpsY"  name="gpsY"> </td>`)

        $(`.MissionDetails${i}`).append(`<th>Z</th>`)
        $(`.MissionDetails${i}`).append(`<td><input type="text" class = "gpsZ"  name="gpsZ"> </td>`)
        i++;

    })
    $("#createMissionButton").on("click", function () {

        if ($('#name').val() == "") {
            alert("아이디를 입력하세요");
            return false;
        } else if ($('#index').val() == "") {
            alert("비밀번호를 입력하세요");
            return false;
        }
        const sendData = {
            name: $("#name").val(),
            index: parseInt($("#index").val()),
            x: parseFloat($("#x").val()),
            y: parseFloat($("#y").val()),
            z: parseFloat($("#z").val())
        }
        $.ajax({
            url: "/drone/api/saveMission",
            type: "POST",
            data: sendData,
            success: function (resultData) {

                console.log(resultData);
                //document.location="/drone/test/index";
            }
        });


    });

    $("#play").on("click",function (){
        stompClient.send("/app/play");
    });


    $("#pause").on("click",function (){
        stompClient.send("/app/pause");
    })
    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {


            console.log('Connected: ' + frame);
            // droneLog();

            stompClient.subscribe('/topic/startmission', function (drone) {
                console.log(drone);
                //let droneData = setDroneData(drone);
                // setDroneDraw(droneData);
            });
            stompClient.subscribe('/topic/log', function (drone) {
                console.log(drone);
                //let droneData = setDroneData(drone);
                // setDroneDraw(droneData);
            });
            stompClient.subscribe('/topic/pause',function (drone){
                console.log(drone);
            });
            stompClient.subscribe('/topic/play',function (drone){
                console.log(drone);
            })


        });

    }

    function droneMission() {

        mission_id = $("#mission_id").val();

        if (mission_id === "") {
            alert("미션아이디를 입력하세요");
        } else {
            stompClient.send("/app/startmission", {}, JSON.stringify({'id': mission_id}));
        }


    }


    function droneLog() {
        stompClient.send("/app/droneinfo");
    }


    $("#connect").click(function () {
        connect();
    });
    $("#start").click(function () {
        droneMission();
    });
    $("#log").click(function () {
        droneLog();
    });


</script>
</html>