<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>레이아웃</title>
    <link rel="stylesheet" type="text/css" href="/css/um/drone.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="./script.js"></script>
    <script src="/js/um/frame.js" defer></script>
</head>

<body>
<div class="wrap">
<!--    헤더 영역 -->
    <header>
        <h1 class="logo"><i><img src="images/um/headerMenu.svg"></i>드론관제시스템</h1>
        <ul class="gnm">
            <li><a>Home</a></li>
            <li><a>대시보드</a></li>
            <li class="on"><a>드론</a></li>
            <li><a>미션</a></li>
            <li><a>비행</a></li>
            <li><a>로그</a></li>
            <li><a>설정</a></li>
        </ul>
        <ul class="utmenu">
            <li><i><img src="images/um/utmenuUser.svg"></i></li>
            <li><i><img src="images/um/utmenuBell.svg"></i></li>
        </ul>
    </header>
    <!-- droneFrame -->
    <div class="droneFrameWrap">
        <div class="lnb" id="">
            <section class="mission">
                <article class="searchForm">
                    <div class="selectBox type03">
                        <div class="box">
                            <div class="select">전체</div>
                            <ul class="list" style="display: none;">
                                <li class="selected">전체</li>
                                <li>운용 중</li>
                                <li>임시 저장</li>
                            </ul>
                        </div>
                    </div>
                    <p class="radioButton">
                        <span class="radio">
                            <input type="radio" id="missionName" name="" checked="">
                            <label for="missionName"><span class="round">라디오버튼</span>기기명</label>
                        </span>
                        <span class="radio">
                            <input type="radio" id="ID" name="">
                            <label for="ID"><span class="round">라디오버튼</span>ID</label>
                        </span>
                    </p>
                    <p class="searchInput">
                        <input type="text" placeholder="검색어 입력" class="add_drone_device_name">
                        <i><img src="images/um/search.svg"></i>
                    </p>

                </article>
                <dl class="subTitle">
                    <dt>목록<span class="count_mission_list">59</span></dt>
                    <dd class="button add_drone">신규등록</dd>
                </dl>
                <div class="listScroll">
                    <ul>
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="green">충전완료</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="gray">수리중</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="green">충전완료</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->


<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="gray">수리중</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="yellow">충전중</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="gray">임시저장</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="yellow">충전중</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <dl>-->
<!--                                <dt><span class="green">충전완료</span>DJI신림 5호</dt>-->
<!--                                <dd><i><img src="images/um/listMore.svg"></i></dd>-->
<!--                            </dl>-->
<!--                            <p>ID : administrator01</p>-->
<!--                            <p>2021-07-06 09:23:56</p>-->
<!--                        </li>-->
                    </ul>
                </div>
            </section>
        </div>
        <div class="droneFrame">
            <section class="droneFrameLeft">
                <h6>설정 미션</h6>
                <dl>
                    <dt>
                        <select>
               <!--             <option>신림면 11구역 정기 순찰</option>
                            <option>신림면 12구역 정기 순찰</option>
                            <option>신림면 13구역 정기 순찰</option>-->
                        </select>
                    </dt>
                    <dd>
                        <div class="fileBox">
                            <input class="uploadName" value="첨부파일" placeholder="첨부파일">
                            <label for="file">파일찾기</label> 
                            <input type="file" id="file">
                        </div>
                    </dd>
                </dl>
                <div class="picture">
                    <img src="">
                </div>
            </section>
            <section class="droneFrameRight">
                <div class="articleTitle">
                    <dl class="title">
                        <dt>조회 결과</dt>
                        <dd><span class="count">123</span>건</dd>
                    </dl>
                    <ul class="button">
                        <li class="update_drone_detail_button">수정</li>
                        <li class="delete_drone_detail_button">삭제</li>
                    </ul>
                </div>
                <p class="subTitle">기본 정보</p>
                <div class="droneFrameInfo">
                    <dl>
                        <dt>위치</dt>
                        <dd>
                            <input type="text" placeholder="신림면 드론 기지 01" class="drone_location">
                        </dd>
                    </dl>
                    <dl>
                        <dt>상태</dt>
                        <dd>
                            <input type="text" placeholder="충전 중" class="drone_status" disabled>
                        </dd>
                        <dt>정</dt>
                        <dd>
                            <input type="text" placeholder="정 담당자명" class="drone_master_manager">
                        </dd>
                    </dl>
                    <dl>
                        <dt>ID</dt>
                        <dd>
                            <input type="text" placeholder="ID" class="drone_id" disabled>
                        </dd>
                        <dt>부</dt>
                        <dd>
                            <input type="text" placeholder="부 담당자명" class="drone_sub_manager">
                        </dd>
                    </dl>
                    <dl>
                        <dt>기기명</dt>
                        <dd>
                            <input type="text" placeholder="DJI 신림 11호" class="drone_name" disabled>
                        </dd>
                        <dt>제조사</dt>
                        <dd>
                            <input type="text" placeholder="(주) 아소아" class="drone_manufacturer">
                        </dd>
                    </dl>
                    <dl>
                        <dt>등록일자</dt>
                        <dd>
                            <input type="date" class="drone_insert_dt" disabled>
                        </dd>
                        <dt>유형</dt>
                        <dd>
                            <input type="text" placeholder="헥사콥터" class="drone_type">
                        </dd>
                    </dl>
                    <dl>
                        <dt>크기</dt>
                        <dd>
                            <input type="text" placeholder="000 mm"> X
                            <input type="text" placeholder="000 mm"> X
                            <input type="text" placeholder="000 mm">
                        </dd>
                        <dt>최대 이륙 증량</dt>
                        <dd>
                            <input type="text" placeholder="00 kg" class="">
                        </dd>
                    </dl>
                    <dl>
                        <dt>자체 중량</dt>
                        <dd>
                            <input type="text" placeholder="00 kg" class="drone_weight">
                        </dd>
                        <dt>비행 시간</dt>
                        <dd>
                            <input type="text" placeholder="00 분 " >
                        </dd>
                    </dl>
                    <dl>
                        <dt>최대 운용 거리</dt>
                        <dd>
                            <input type="text" placeholder="00 km" class="drone_maximum_operating_distance">
                        </dd>
                        <dt>최대 운용 고도</dt>
                        <dd>
                            <input type="text" placeholder="00 ~ 00 m" class="drone_maximum_management_altitude">
                        </dd>
                    </dl>
                    <dl>
                        <dt>운용 온도 범위</dt>
                        <dd><!--아직 작업안함-->
                            <input type="text" placeholder="00 ℃ ~ 00 ℃" class="drone_operating_temperature_range">
                        </dd>
                        <dt>최대 운용 풍속</dt>
                        <dd>
                            <input type="text" placeholder="00 m/s" class="drone_maximum_operating_speed">
                        </dd>
                    </dl>
                    <dl>
                        <dt>SIM 넘버</dt>
                        <dd>
                            <input type="text" placeholder="00000000000" class="drone_sim_number">
                        </dd>
                        <dt>최대 속도</dt>
                        <dd>
                            <input type="text" placeholder="00 m/s" class="drone_maximum_speed">
                        </dd>
                    </dl>
                </div>
                <p class="subTitle">이벤트 정보</p>
                <div class="eventInfo">
                    <ul>
                        <li>
                            <span>누적 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                        <li>
                            <span>### 이벤트</span>
                            <span class="count">000</span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</div>    
    
<script type="text/javascript">
    $(function() {
        $(".lnbToggle").on("click", function() {
            $(".lnb").toggleClass("toggle");
        })
        $(".selectboxCheck_title").click(function(){
            $(".selectCheckList").show();
        })
        $('.lnb .tabButton li').click(function(){
            $(this).addClass('on');
        });
        $(".infoTitle i").click(function(){
            $(".infoArea").hide("2000");
        })
        $(".routeSet .routeTitle").on("click", function() {
            $('.routeSet .routeToggle').slideToggle('slow');
        })
        $(".camera .button").on("click", function() {
            $('.camera ul').slideToggle('slow');
        })
    })
        
    
    
    
    $(function(){        
        // 각각의 셀렉트 박스 인스턴스 생성
        var selectType01 = new CustomSelectBox('.selectBox.type01');
        var selectType01 = new CustomSelectBox('.selectBox.type02');
        var selectType01 = new CustomSelectBox('.selectBox.type03');
    });
    
//    selectbox custom
    function CustomSelectBox(selector){
        this.$selectBox = null,
        this.$select = null,
        this.$list = null,
        this.$listLi = null;
        CustomSelectBox.prototype.init = function(selector){
            this.$selectBox = $(selector);
            this.$select = this.$selectBox.find('.box .select');
            this.$list = this.$selectBox.find('.box .list');
            this.$listLi = this.$list.children('li');
        }
        CustomSelectBox.prototype.initEvent = function(e){
            var that = this;
            this.$select.on('click', function(e){
                that.listOn();
            });
            this.$listLi.on('click', function(e){
                that.listSelect($(this));
            });
            $(document).on('click', function(e){
                that.listOff($(e.target));
            });
        }
        CustomSelectBox.prototype.listOn = function(){
            this.$selectBox.toggleClass('on');
            if(this.$selectBox.hasClass('on')){
                this.$list.css('display', 'block');
            }else{
                this.$list.css('display', 'none');
            };
        }
        CustomSelectBox.prototype.listSelect = function($target){
            $target.addClass('selected').siblings('li').removeClass('selected');
            this.$selectBox.removeClass('on');
            this.$select.text($target.text());
            this.$list.css('display', 'none');
        }
        CustomSelectBox.prototype.listOff = function($target){
            if(!$target.is(this.$select) && this.$selectBox.hasClass('on')){
                this.$selectBox.removeClass('on');
                this.$list.css('display', 'none');
            };
        }
        this.init(selector);
        this.initEvent();
    }
    
    
    
    $("#file").on('change',function(){
        var fileName = $("#file").val();
        $(".uploadName").val(fileName);
    });

    
</script>
    
    
</body>
</html>