<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout_inqry">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/inquiryTitle.svg"></i>
        <span>조회/관리</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>이벤트 관리</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>스마트 도시 이벤트</span>
    </h4>
    <section class="inquiry_content">
        <article class="search_form" id="searchForm">
            <h6>스마트 도시 이벤트 검색</h6>
            <form>
                <div>
                    <dl class="selectbox_set">
                        <dt>이벤트 종류</dt>
                        <dd>
                            <div class="dropdown_checkbox" data-selectbox-type="eventKind">
                                <p class="checkbox_title checkbox_title_event select" data-placeholder="이벤트 종류 선택">이벤트 종류 선택</p>
                                <ul class="checkbox_list checkbox_list_event list">
                                    <li>
                                        <span>
                                            <input type="checkbox" id="eventALL" name="checkAll">
                                            <label for="eventALL"><span></span>전체</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="eventFind01" name="">
                                            <label for="eventFind01"><span></span>지능형 CCTV 감지</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="eventFind02" name="">
                                            <label for="eventFind02"><span></span>이상음원 감지</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="eventFind03" name="">
                                            <label for="eventFind03"><span></span>AED 사용</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="eventFind04" name="">
                                            <label for="eventFind04"><span></span>비상벨</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="eventFind05" name="">
                                            <label for="eventFind05"><span></span>금연벨</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="eventFind06" name="">
                                            <label for="eventFind06"><span></span>장기체류자</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="eventFind07" name="">
                                            <label for="eventFind07"><span></span>실내공기질 나쁨</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="eventFind08" name="">
                                            <label for="eventFind08"><span></span>기타</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl class="checkbox_set">
                        <dt>이벤트 등급</dt>
                        <dd>
							<span>
								<input type="checkbox" id="urgent" name="">
								<label for="urgent"><span></span>긴급</label>
							</span>
                            <span>
								<input type="checkbox" id="caution" name="">
								<label for="caution"><span></span>주의</label>
							</span>
                        </dd>
                    </dl>
                    <dl class="checkbox_set">
                        <dt>처리 상태</dt>
                        <dd>
							<span>
								<input type="checkbox" id="staus01" name="">
								<label for="staus01"><span></span>미처리</label>
							</span>
                            <span>
								<input type="checkbox" id="staus02" name="">
								<label for="staus02"><span></span>조치완료</label>
							</span>
                            <span>
								<input type="checkbox" id="staus03" name="">
								<label for="staus03"><span></span>종료</label>
							</span>
                        </dd>
                    </dl>
                </div>
                <div>
                    <dl class="selectbox_set">
                        <dt>행정구역</dt>
                        <dd>
                            <div class="dropdown_checkbox" data-selectbox-type="district">
                                <p class="checkbox_title checkbox_title_district select" data-placeholder="행정구역 선택">행정구역 선택</p>
                                <ul class="checkbox_list checkbox_list_district list">
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtALL" name="checkAll">
                                            <label for="districtALL"><span></span>전체</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind01" name="">
                                            <label for="districtFind01"><span></span>광명1동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind02" name="">
                                            <label for="districtFind02"><span></span>광명2동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind03" name="">
                                            <label for="districtFind03"><span></span>광명3동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind04" name="">
                                            <label for="districtFind04"><span></span>광명4동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind05" name="">
                                            <label for="districtFind05"><span></span>광명5동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind06" name="">
                                            <label for="districtFind06"><span></span>광명6동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind07" name="">
                                            <label for="districtFind07"><span></span>광명7동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind08" name="">
                                            <label for="districtFind08"><span></span>소하1동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind09" name="">
                                            <label for="districtFind09"><span></span>소하2동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind10" name="">
                                            <label for="districtFind10"><span></span>철산1동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind11" name="">
                                            <label for="districtFind11"><span></span>철산2동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind12" name="">
                                            <label for="districtFind12"><span></span>철산3동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind13" name="">
                                            <label for="districtFind13"><span></span>철산4동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind14" name="">
                                            <label for="districtFind14"><span></span>하안1동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind15" name="">
                                            <label for="districtFind15"><span></span>하안2동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind16" name="">
                                            <label for="districtFind16"><span></span>하안3동</label>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <input type="checkbox" id="districtFind17" name="">
                                            <label for="districtFind17"><span></span>하안4동</label>
                                        </span>
                                        <span>
                                            <input type="checkbox" id="districtFind18" name="">
                                            <label for="districtFind18"><span></span>학온동</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl class="date_set">
                        <dt>발생 기간</dt>
                        <dd><input type="text" id="startDt" placeholder="날짜를 입력하세요" class="input_date"></dd>
                        <span>부터</span>
                        <dd><input type="text" id="endDt" placeholder="날짜를 입력하세요" class="input_date"></dd>
                        <span>까지</span>
                    </dl>
                    <dl class="search_text_set">
                        <dd><input type="text" name="keyword" placeholder="검색어를 입력하세요."></dd>
                        <dd class="button" id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</dd>
                        <dd class="button" id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</dd>
                    </dl>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt>스마트 도시 이벤트 목록</dt>
                    <dd><span class="count">123</span>건</dd>
                </dl>
                <div>
                    <ul class="status_label">
                        <li><span class="red"></span>미처리 : 5</li>
                        <li><span class="yellow"></span>조치 완료 : 3</li>
                        <li><span class="green"></span>이벤트 종료 : 14</li>
                    </ul>
                </div>
            </div>
            <div class="search_table">
                <table id="cityEventTable">
                    <thead>
                    <tr>
                        <!--<th>Index</th>-->
                        <th>이벤트 ID</th>
                        <th>이벤트 종류</th>
                        <th>이벤트 등급</th>
                        <th>처리 상태</th>
                        <th>개소 관리 ID</th>
                        <th>개소 이름</th>
                        <th>행정구역</th>
                        <th>개소 주소</th>
                        <th>이벤트 발생일시</th>
                        <th>이벤트 종료일시</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                </table>
            </div>

            <section class="inquiry_content">
                <div class="popup" id="eventPopup">
                    <dl class="title">
                        <dt>스마트 도시 이벤트 추가</dt>
                        <dd><i><img src="/images/default/close.svg"></i></dd>
                    </dl>
                    <div class="popup_writing">
                        <fieldset>
                            <legend>이벤트 분류</legend>
                            <form id="eventForm">
                                <dl>
                                    <dt>이벤트 관리 ID</dt>
                                    <dd><input type="text" id="eventSeq" disabled></dd>
                                    <dt>이벤트 등급</dt>
                                    <dd><input type="text" id="eventGrade" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>이벤트 종류</dt>
                                    <dd><input type="text" id="eventKind" disabled></dd>
                                    <dt>처리 상태</dt>
                                    <dd><input type="text" disabled></dd>
                                </dl>
                            </form>
                        </fieldset>
                        <fieldset>
                            <legend>이벤트 발생 주소/일시</legend>
                            <form>
                                <dl>
                                    <dt>개소 관리 ID</dt>
                                    <dd><input type="text" id="stationSeq" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>개소 종류</dt>
                                    <dd><input type="text" id="stationKind" disabled></dd>
                                    <dt>개소 이름</dt>
                                    <dd><input type="text" id="stationName" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>행정 구역</dt>
                                    <dd><input type="text" id="eventDistrict" disabled></dd>
                                    <dt>개소 주소</dt>
                                    <dd><input type="text" id="eventAddress" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>이벤트 발생일시</dt>
                                    <dd><input type="text" id="insertDt" disabled></dd>
                                </dl>
                            </form>
                        </fieldset>
                        <fieldset>
                            <legend>이벤트 조치</legend>
                            <form>
                                <dl>
                                    <dt>조치자</dt>
                                    <dd><input type="text" id="eventManager" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>이벤트 조치일시</dt>
                                    <dd><input type="text" id="eventStartDt" disabled></dd>
                                    <dt>이벤트 종료일시</dt>
                                    <dd><input type="text" id="eventEndDt" disabled></dd>
                                </dl>
                                <dl>
                                    <dt>조치 내용</dt>
                                    <dd><textarea id="eventMngContent" disabled></textarea></dd>
                                </dl>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </section>


        </article>
    </section>
</th:block>
</html>