<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_inqry"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/inquiryTitle.svg"></i>
        <span>조회/관리</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>시설물 관리</span>
    </h4>
    <section class="inquiry_content">
        <article class="search_form" id="searchForm">
            <h6>시설물 검색</h6>
            <form>
                <div>
                    <p>시설물 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="facilityKind">
                        <dt class="checkbox_title select_title">시설물 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <dl class="checkbox_set">
                        <dt>시설물 상태</dt>
                        <dd>
							<span>
								<input type="checkbox" id="normal" name="">
								<label for="normal"><span></span>정상</label>
							</span>
                            <span>
								<input type="checkbox" id="strange" name="">
								<label for="strange"><span></span>이상</label>
							</span>
                        </dd>
                    </dl>
                </div>
                <div>
                    <p>개소 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="stationKind">
                        <dt class="checkbox_title select_title">개소 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>행정구역</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="district">
                        <dt class="checkbox_title select_title">시설물 방향</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <ul class="button">
                        <li class="input"><input type="text" name="keyword" placeholder="검색어를 입력하세요."></li>
                        <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                        <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                    </ul>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt>시설물 목록</dt>
                    <dd><span class="count">123</span>건</dd>
                </dl>
                <div>
                    <ul class="status_label">
                        <li><span class="gray"></span>미사용 : 5</li>
                        <li><span class="red"></span>이상 : 3</li>
                        <li><span class="green"></span>정상 : 14</li>
                    </ul>
                    <ul>
                        <li sec:authorize="hasAnyRole('ROLE_inqry_rw')"><i><img src="/images/default/add.svg"></i>추가</li>
                    </ul>
                </div>
            </div>
            <div class="search_table">
                <table id="facilityTable">
                    <thead>
                    <tr>
                        <th>시설물 관리 ID</th>
                        <th>시설물 종류</th>
                        <th>시설물 상태</th>
                        <th>개소 종류</th>
                        <th>개소 이름</th>
                        <th>행정구역</th>
                        <th>시설물 주소</th>
                        <th>상세보기</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>
    </section>
</th:block>

</html>