<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout_inqry"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block layout:fragment="content">
    <h4>
        <i><img src="/images/default/inquiryTitle.svg"></i>
        <span>조회/관리</span>
        <i><img src="/images/default/settingArrowNext.svg"></i>
        <span>개소 관리</span>
    </h4>
    <section class="inquiry_content">
        <article class="search_form" id="searchForm">
            <h6>개소 검색</h6>
            <form>
                <div>
                    <p>개소 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="stationKind">
                        <dt class="checkbox_title select_title">개소 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>시설물 종류</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="facilityKind">
                        <dt class="checkbox_title select_title">시설물 종류</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                    <p>행정구역</p>
                    <dl class="dropdown_checkbox" data-selectbox-type="administZone" th:attr="data-selectbox-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                        <dt class="checkbox_title select_title">행정구역</dt>
                        <dd class="checkbox_list list" style="display: none;">
                        </dd>
                    </dl>
                </div>
                <div>
                    <p>검색어 입력</p>
                    <ul class="button">
                        <li class="input"><input type="text" name="keyword" placeholder="개소명을 입력하세요." onkeydown="if(event.keyCode==13){stations.create();}"></li>
                        <li id="resetFormBtn"><i><img src="/images/default/return.svg"></i>검색조건 초기화</li>
                        <li id="searchBtn"><i><img src="/images/default/search.svg"></i>검색</li>
                    </ul>
                </div>
            </form>
        </article>
        <article class="search_list">
            <div class="article_title">
                <dl class="title">
                    <dt>개소 목록</dt>
                    <dd><span class="count"></span>건</dd>
                </dl>
                <div>
<!--                    <ul class="status_label">-->
<!--                        <li><span class="gray"></span>비활성 : 5</li>-->
<!--                        <li><span class="red"></span>이상 : 3</li>-->
<!--                        <li><span class="green"></span>정상 : 14</li>-->
<!--                    </ul>-->
                    <ul>
                        <li id="addStationBtn" sec:authorize="hasAnyRole('ROLE_inqry_rw')"><i><img src="/images/default/add.svg"></i>추가</li>
                    </ul>
                </div>
            </div>
            <div class="search_table">
                <table id="stationTable">
                    <thead>
                    <tr>
                        <th>고유 번호</th>
                        <th>개소 종류</th>
                        <th>개소 이름</th>
                        <th>시설물 종류</th>
                        <th>행정구역</th>
                        <th>수정</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </article>

        <!--  개소 팝업 -->
        <div class="popup" id="stationPopup" style="width: 650px;">
            <dl class="title">
                <dt></dt>
                <dd><i><img src="/images/default/close.svg"></i></dd>
            </dl>
            <div class="popup_writing">
                <fieldset>
                    <legend>개소 정보</legend>
                    <form id="stationForm">
                        <dl>
                            <dt>개소 이름</dt>
                            <dd><input type="text" data-required="true" id="stationName" name="stationName" placeholder="개소 이름 입력" ></dd>
                        </dl>
                        <dl>
                            <dt>개소 종류</dt>
                            <dd>
                                <select id="stationKind" data-required="true" name="stationKind" data-type="stationKind">
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>행정구역</dt>
                            <dd>
                                <select id="administZone" data-required="true" name="administZone" data-type="administZone" th:attr="data-sub-type=${@environment.getProperty('danusys.area.code.sig')}">
                                </select>
                            </dd>
                        </dl>
                        <dl>
                            <dt>위도</dt>
                            <dd><input type="text" id="latitude" data-regex="latitude" data-required="true" name="latitude" placeholder="*필수 입력" ></dd>
                        </dl>
                        <dl>
                            <dt>경도</dt>
                            <dd><input type="text" id="longitude" data-regex="longitude" data-required="true" name="longitude" placeholder="*필수 입력" ></dd>
                        </dl>
                    </form>
                </fieldset>
                <div class="list_search">
                    <p class="legend">
                        시설물 리스트
                        <span><select id="facilityKind" data-type="facilityKind"></select>
                            <input id="facilityKeyword" type="text" placeholder="시설물 이름 검색">
                        </span>
                    </p>
                    <div class="list_table">
                        <table id="facilityTable">
                            <thead>
                            <tr>
                                <th>시설물 이름</th>
                                <th>시설물 종류</th>
                                <th>행정구역</th>
                                <th>선택</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <ul class="bottom">
                <li sec:authorize="hasAnyRole('ROLE_inqry_rw')" data-mod="true" id="delStationProcBtn">삭제</li>
                <li sec:authorize="hasAnyRole('ROLE_inqry_rw')" data-mod="true" id="modStationProcBtn">정보 수정</li>
                <li sec:authorize="hasAnyRole('ROLE_inqry_rw')" class="color" data-add="true" id="addStationProcBtn">등록</li>
            </ul>
        </div>
    </section>
</th:block>
</html>